cyberomnes/n8nbkp/2024/10/LIc8HHwgPCvU4PPz.json
{
  "active": false,
  "connections": {
    "Get Text": {
      "main": [
        [
          {
            "node": "Text Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Frames": {
      "main": [
        [
          {
            "node": "Split Out Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Audio Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Image Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Capture Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Frames": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Split Out Message Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Aggregate Binary Frames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Video Explainer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Explainer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redirect Message Types": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Binary Frames": {
      "main": [
        [
          {
            "node": "Video Explainer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Message Parts": {
      "main": [
        [
          {
            "node": "Redirect Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Explainer": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User's Message1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Transcriber": {
      "main": [
        [
          {
            "node": "Get User's Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out Message Parts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out Message Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Flux": {
      "main": [
        [
          {
            "node": "Wait 3 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Result URL": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Sec": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed?": {
      "main": [
        [
          {
            "node": "Get Image Result URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fal Flux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Summarizer": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image generation tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Explainer": {
      "main": [
        [
          {
            "node": "Get User's Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status1": {
      "main": [
        [
          {
            "node": "Completed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed?1": {
      "main": [
        [
          {
            "node": "Get video Result URL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 7 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "kling-video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video generation tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get video Result URL1": {
      "main": [
        [
          {
            "node": "Download video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download video": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kling-video": {
      "main": [
        [
          {
            "node": "Wait 7 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7 min": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-27T20:33:22.963Z",
  "id": "LIc8HHwgPCvU4PPz",
  "isArchived": false,
  "meta": {
    "templateId": "2466",
    "templateCredsSetupCompleted": true
  },
  "name": "chat Omnes",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "38ffe41a-ecdf-4bb4-bd55-51998abab0f5",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        992,
        592
      ],
      "webhookId": "0b1b3a9b-2f6a-4f5a-8385-6365d96f4802",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "35wNbZfEhYMBHlpW",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.audio.id }}"
      },
      "id": "a35ac268-eff0-46cd-ac4e-c9b047a3f893",
      "name": "Get Audio URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1760,
        48
      ],
      "typeVersion": 1,
      "webhookId": "8d551d1b-4133-47ac-8828-cc4d4925d860",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.video.id }}"
      },
      "id": "a3be543c-949c-4443-bf82-e0d00419ae23",
      "name": "Get Video URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1760,
        400
      ],
      "typeVersion": 1,
      "webhookId": "6d99fea6-5a8e-41b0-a9a7-a8b63fa52a66",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.image.id }}"
      },
      "id": "dd3cd0e7-0d1e-40cf-8120-aba0d1646d6d",
      "name": "Get Image URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1760,
        752
      ],
      "typeVersion": 1,
      "webhookId": "1701117b-a71e-43c4-9db4-ddf83bdb95d7",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "b4ea61ba-4a58-461e-9191-04f5721e4e07",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2784,
        544
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "import cv2\nimport numpy as np\nimport base64\n\ndef extract_evenly_distributed_frames_from_base64(base64_string, max_frames=10):\n    # Decode the Base64 string into bytes\n    video_bytes = base64.b64decode(base64_string)\n    \n    # Write the bytes to a temporary file\n    video_path = '/tmp/temp_video.mp4'\n    with open(video_path, 'wb') as video_file:\n        video_file.write(video_bytes)\n    \n    # Open the video file using OpenCV\n    video_capture = cv2.VideoCapture(video_path)\n    \n    # Get the total number of frames in the video\n    total_frames = int(video_capture.get(cv2.CAP_PROP_FRAME_COUNT))\n    \n    # Calculate the step size to take 'max_frames' evenly distributed frames\n    step_size = max(1, total_frames // (max_frames - 1))\n    \n    # List to store selected frames as base64\n    selected_frames_base64 = []\n    \n    for i in range(0, total_frames, step_size):\n        # Set the current frame position\n        video_capture.set(cv2.CAP_PROP_POS_FRAMES, i)\n        \n        # Read the frame\n        ret, frame = video_capture.read()\n        if ret:\n            # Convert frame (NumPy array) to a Base64 string\n            frame_base64 = convert_frame_to_base64(frame)\n            selected_frames_base64.append(frame_base64)\n        if len(selected_frames_base64) >= max_frames:\n            break\n    \n    # Release the video capture object\n    video_capture.release()\n\n    return selected_frames_base64\n\ndef convert_frame_to_base64(frame):\n    # Convert the frame (NumPy array) to JPEG format\n    ret, buffer = cv2.imencode('.jpg', frame)\n    if not ret:\n        return None\n\n    # Encode JPEG image to Base64\n    frame_base64 = base64.b64encode(buffer).decode('utf-8')\n    return frame_base64\n\nbase64_video = _input.item.binary.data.data\nframes_base64 = extract_evenly_distributed_frames_from_base64(base64_video, max_frames=10)\n\nreturn { \"output\": frames_base64 }"
      },
      "id": "2d3d177a-12ab-4c98-9867-12fca212eaf0",
      "name": "Capture Frames",
      "type": "n8n-nodes-base.code",
      "position": [
        2080,
        400
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "401c5be9-55c1-4be0-92f9-8745fe7cafcc",
      "name": "Split Out Frames",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2240,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "a3505c93-2719-4a11-8813-39844fe0dd1a",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        400
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output",
        "options": {}
      },
      "id": "ba151eed-6658-4adf-b8fa-a1290a41125e",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2400,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "id": "40905337-8f62-4ed2-acab-345096a75295",
      "name": "Aggregate Binary Frames",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2560,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "b22e3a7d-5fa1-4b8d-be08-b59f5bb5c417",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "dcadbd30-598e-443b-a3a7-10d7f9210f49",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        752
      ],
      "typeVersion": 4.2,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "c14d1e32-2bdf-4aae-a658-beefad9cf016",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2288,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "id": "c94b021a-72fb-483d-9190-42032bcfe583",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2224,
        1280
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "f6a8a432-edc3-447d-88c8-405eff62e1c8",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3488,
        768
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-tutorial-{{ $json.from }}"
      },
      "id": "d38b6f73-272e-4833-85fc-46ce0db91f6a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3600,
        768
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Split Out Message Parts').item.json.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "6e83f9a7-cf75-4182-b2d2-3151e8af76b9",
              "name": "from",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types').item.json.video && $('Redirect Message Types').item.json.video.caption || '' }}\n{{ $('Redirect Message Types').item.json.image && $('Redirect Message Types').item.json.image.caption || ''}}\n{{ $('Redirect Message Types').item.json.audio && $('Redirect Message Types').item.json.audio.caption || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "3459f96b-c0de-4514-9d53-53a9b40d534e",
      "name": "Get User's Message",
      "type": "n8n-nodes-base.set",
      "position": [
        3184,
        592
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "7a4c9905-37f0-4cfe-a928-91c7e38914b9",
      "name": "Split Out Message Parts",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1200,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f2ecc9a9-bdd9-475d-be0c-43594d0cb613",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        3728,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'audio' && Boolean($json.audio) }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "82aa5ff4-c9b6-4187-a27e-c7c5d9bfdda0",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'video' && Boolean($json.video) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Video Message"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "05b30af4-967b-4824-abdc-84a8292ac0e5",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.type == 'image' && Boolean($json.image) }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image Message"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Text Message"
        }
      },
      "id": "325dac6d-6698-41e0-8d2f-9ac5d84c245e",
      "name": "Redirect Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        1488,
        592
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "amount": 0
      },
      "id": "925a3871-9cdb-49f9-a2b9-890617d09965",
      "name": "Get Text",
      "type": "n8n-nodes-base.wait",
      "position": [
        1648,
        1040
      ],
      "webhookId": "99b49c83-d956-46d2-b8d3-d65622121ad9",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "391356080728477",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "89df6f6c-2d91-4c14-a51a-4be29b1018ec",
      "name": "Respond to User",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        5712,
        592
      ],
      "typeVersion": 1,
      "webhookId": "99647487-24e9-482d-b51f-81dc9110a5ba",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "These are frames from a video sent by the user. Explain what is going on from start to end. Explain in a way that an A.I agent will feel like he just watched the video.",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_1"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_2"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_3"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_4"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_5"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_6"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_7"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_8"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "data_9"
            }
          ]
        }
      },
      "id": "96a24aa6-9ae5-4c37-9175-d4189987a568",
      "name": "Video Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2800,
        400
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "3b9ba99f-cdc1-4362-af92-e738d4c0fbc2",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3424,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-tutorial-{{ $json.from }}"
      },
      "id": "b79127bd-e54e-4971-b73f-49b55f924442",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        3568,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "a1ccaf6c-df92-4bbd-b5f2-30ba6307aeee",
      "name": "Wikipedia1",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        3680,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d990cbd6-a408-4ec4-a889-41be698918d9",
              "name": "message_type",
              "type": "string",
              "value": "={{ $('Split Out Message Parts').item.json.type }}"
            },
            {
              "id": "23b785c3-f38e-4706-80b7-51f333bba3bd",
              "name": "message_text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "6e83f9a7-cf75-4182-b2d2-3151e8af76b9",
              "name": "from",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            },
            {
              "id": "da4b602a-28ca-4b0d-a747-c3d3698c3731",
              "name": "message_caption",
              "type": "string",
              "value": "={{ $('Redirect Message Types').item.json.video && $('Redirect Message Types').item.json.video.caption || '' }}\n{{ $('Redirect Message Types').item.json.image && $('Redirect Message Types').item.json.image.caption || ''}}\n{{ $('Redirect Message Types').item.json.audio && $('Redirect Message Types').item.json.audio.caption || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2d92bad-085d-4fcd-a012-f78d1c23ce0a",
      "name": "Get User's Message1",
      "type": "n8n-nodes-base.set",
      "position": [
        3152,
        32
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "9252b266-0452-4141-b8d5-b4f2b5fd76fb",
      "name": "Audio Transcriber",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2960,
        48
      ],
      "typeVersion": 1.5,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "391356080728477",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "581d8ee2-86b3-4d9b-b9a7-62bab8363a37",
      "name": "WhatsApp Business Cloud1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4272,
        240
      ],
      "webhookId": "ccde8bf3-3d48-4bc8-8a4f-c1bd7f4474a8",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}",
        "options": {
          "systemMessage": "Introduction\nYou are Omnes A.I., an advanced conversational AI developed to analyze and respond to transcribed audio inputs. Your role is to interpret the transcribed content, understand the user’s intent, and generate relevant and engaging responses. You provide thoughtful, contextually appropriate answers based on the transcription you receive, ensuring users feel heard and understood.\n\nGoal\nYour goal is to assist users by providing clear, accurate, and insightful responses to their transcribed audio inputs in the users original input language. You should strive to:\n\nInterpret the main intent and any specific details within the transcription.\nRespond appropriately and helpfully based on the context.\nMaintain a friendly, professional, and responsive tone, adapting to the user's needs as indicated by the transcription.\nCall Flow\nStart the Interaction:\n\nBegin by acknowledging the user’s input and confirm your readiness to respond.\nFor instance, start with phrases like, “Thank you for sharing. Here’s what I understood...” or “Based on what you’ve said, here’s my response...”\nClarification (if needed):\n\nIf the transcribed audio is ambiguous or lacks clarity, ask clarifying questions to understand the user’s intent.\nExample: “Could you specify which part you’d like more information on?” or “I’m here to help; could you clarify [specific aspect]?”\nProvide Response:\n\nRespond based on the main topics and any specific information in the transcription.\nStructure responses in a way that addresses any queries, provides relevant information, and maintains engagement.\nCheck for Additional Needs:\n\nAsk if the user needs more information or has additional questions based on the initial response.\nExample: “Is there anything else you’d like to know about this topic?”\nClose the Interaction:\n\nConclude the conversation politely, offering further assistance if needed.\nExample: “Thank you for reaching out. Feel free to ask if anything else comes up.”\nBackground Information\nOmnes A.I. was developed to support diverse conversational needs, from answering specific questions to engaging in general discussions based on transcribed audio content. Typical users may include individuals seeking information, clarification, or insights on various topics. Omnes A.I. should always aim to provide responses that feel personalized, thoughtful, and relevant.\n\nExample Dialogues\nExample 1: General Inquiry\n\nUser (Transcription): “Hi Omnes, could you tell me more about the effects of caffeine on health?”\nOmnes A.I.: “Absolutely! Caffeine is a stimulant that can boost alertness and focus. However, excessive intake may lead to restlessness and increased heart rate. Would you like information on recommended daily intake or its effects on sleep?”\nExample 2: Seeking Clarification\n\nUser (Transcription): “I’m not sure if I should go for a morning or evening workout. What do you think?”\nOmnes A.I.: “Good question! Morning workouts can kickstart your metabolism and improve focus for the day, while evening sessions may enhance performance as your body warms up. Do you have a preference for energy levels or flexibility?”\nExample 3: Ambiguous Input\n\nUser (Transcription): “I’m having some trouble with my device.”\nOmnes A.I.: “I’d be happy to help. Could you tell me a bit more about the issue? For instance, is it a connectivity problem or a hardware issue?”\nAdaptation for Specific Use Cases\nOmnes A.I. is equipped to handle various types of transcriptions and can adapt its responses based on context. For example, in a business setting, it should maintain a more formal tone, while for casual inquiries, it may adopt a friendlier approach. Its responses should always aim to make the interaction feel natural and insightful."
        }
      },
      "id": "c1a9a5d4-2540-4941-a4db-54bd0f237ada",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3440,
        64
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "resource": "audio",
        "model": "tts-1-hd",
        "input": "={{ $json.output }}",
        "voice": "nova",
        "options": {
          "response_format": "aac"
        }
      },
      "id": "a285a0fe-6e1a-4e65-a94d-0114052ff276",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        3920,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "3b2ac0eb-9c33-4fb2-8a17-0ef10fe31da3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6064,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "wazap",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "294c26f8-fb44-4eb9-806a-726013bf47ea",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1008,
        848
      ],
      "webhookId": "dc73fdf9-fa4a-448d-8006-475eeb422a63",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://allmybots.com/webhook/whatsapp-webhook",
        "options": {}
      },
      "id": "b367eca5-2188-4d20-81e9-5c67bdf10428",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        832
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux/dev ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.Prompt }}\",\n  \"image_size\": {\n  \"width\": {{ $json.Width }},\n  \"height\": {{ $json.Height }}\n},\n  \"num_inference_steps\": {{ $json.Steps }},\n  \"guidance_scale\": {{ $json.Guidance }},\n  \"num_images\": 1,\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "id": "f9646178-fc4c-4f0f-96c1-5b37e505b0d4",
      "name": "Fal Flux",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2928,
        2112
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "26671985-11b6-48d1-a700-8368c456a021",
      "name": "Get Image Result URL",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3728,
        2080
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "729749ec-ab67-45a4-99d5-6b6f6210a0cd",
      "name": "Wait 3 Sec",
      "type": "n8n-nodes-base.wait",
      "position": [
        3152,
        2112
      ],
      "webhookId": "61a8626c-e281-4d4b-abb0-b9d87d1b4e7c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "724f8914-567d-4947-abb5-3e6598ed8a85",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3344,
        2112
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "299a7c34-dcff-4991-a73f-5b1a84f188ea",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "0b8a29d1-516d-46a4-aada-0b61b5808606",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        3520,
        2112
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a033cf-fa2b-4930-93b9-ff9c45fa7c14",
              "name": "Prompt",
              "type": "string",
              "value": "={{ $json.body.Prompt }}"
            },
            {
              "id": "2b56185d-5c61-4c17-85f1-53ac4aab2b18",
              "name": "Width",
              "type": "number",
              "value": 1024
            },
            {
              "id": "51eb65c0-ae0a-4ce7-ab00-9d13f05ce1e6",
              "name": "Height",
              "type": "number",
              "value": 768
            },
            {
              "id": "8e89fca7-d380-4876-b973-69caa0394bc5",
              "name": "Steps",
              "type": "number",
              "value": 30
            },
            {
              "id": "875e06b7-352a-4dde-8595-3274e9969c9c",
              "name": "Guidance",
              "type": "number",
              "value": 3.5
            },
            {
              "id": "d530b528-dc25-4319-9cc7-3cb67f50c78e",
              "name": "output_format",
              "value": "jpeg",
              "type": "string"
            },
            {
              "id": "37455081-4a9f-4a95-a6c4-9fec2d30ac96",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68f00cf7-b3d6-4353-8167-8a68a0f08d3e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2688,
        2112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "id": "a42aeacf-db69-4394-bb40-54693c18f5d3",
      "name": "Download Image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3904,
        2080
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text.body }}",
        "messages": {
          "messageValues": [
            {
              "message": "Summarize the user's message succinctly."
            }
          ]
        }
      },
      "id": "5635ade7-942b-4138-b74b-6d4ecf6a1910",
      "name": "Text Summarizer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2208,
        1120
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "391356080728477",
        "recipientPhoneNumber": "={{ $('Webhook1').item.json.body.Whatsapp }}",
        "messageType": "image",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "256f34d3-c2fe-4772-aa42-e5f35ee7e731",
      "name": "WhatsApp Business Cloud2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4208,
        2032
      ],
      "webhookId": "1d95c9f4-c2ce-4e85-b2e2-8074d9e4e783",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "this is the image generation tool. if user asks to genarate an image, create the prompt and send it here",
        "method": "POST",
        "url": "https://hooks.omneslink.com/webhook/7b8612c6-78ae-41c1-b108-44240a908f5d",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "Prompt"
            },
            {
              "name": "=Whatsapp",
              "valueProvider": "fieldValue",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            }
          ]
        }
      },
      "id": "19ddd8a8-3709-4df2-b32b-dd6cefed855a",
      "name": "image generation tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3680,
        992
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Here is an image sent by the user. Describe the image and transcribe any text visible in the image. You are explaining this to an A.I agent. this has to seem as if the A.I agent just saw the image. ",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "2f0fd658-a138-4f50-95a7-7ddc4eb90fab",
      "name": "Image Explainer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2272,
        752
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7b8612c6-78ae-41c1-b108-44240a908f5d",
        "options": {}
      },
      "id": "5fab7cc1-1ff3-40a5-b085-0fda4cef791a",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2384,
        2112
      ],
      "webhookId": "7b8612c6-78ae-41c1-b108-44240a908f5d"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "77cb9157-054d-446f-baeb-fb346ccd6bce",
      "name": "Check Status1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3264,
        1744
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "299a7c34-dcff-4991-a73f-5b1a84f188ea",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "2f885e56-e870-43dd-96fc-e23a0601c623",
      "name": "Completed?1",
      "type": "n8n-nodes-base.if",
      "position": [
        3440,
        1744
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a033cf-fa2b-4930-93b9-ff9c45fa7c14",
              "name": "Prompt",
              "type": "string",
              "value": "={{ $json.body.Prompt }}"
            },
            {
              "id": "2b56185d-5c61-4c17-85f1-53ac4aab2b18",
              "name": "duration",
              "type": "number",
              "value": 5
            },
            {
              "id": "51eb65c0-ae0a-4ce7-ab00-9d13f05ce1e6",
              "name": "aspect_ratio",
              "type": "string",
              "value": "16:9"
            }
          ]
        },
        "options": {}
      },
      "id": "71b176dd-55e9-4e2d-8176-186a1dc9f751",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        2608,
        1744
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "391356080728477",
        "recipientPhoneNumber": "={{ $('Webhook2').item.json.body.Whatsapp }}",
        "messageType": "video",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "2a7b4345-25d1-4879-a9e0-2484d8e746c0",
      "name": "WhatsApp Business Cloud",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        4128,
        1664
      ],
      "webhookId": "eb9b9437-3f1d-4988-959d-15acdaf04038",
      "credentials": {
        "whatsAppApi": {
          "id": "ue9K2V02qqZnKzLq",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "videoomnes",
        "options": {}
      },
      "id": "d9792893-4ea9-4d08-881f-ed4367a0d44f",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2304,
        1744
      ],
      "webhookId": "7b8612c6-78ae-41c1-b108-44240a908f5d"
    },
    {
      "parameters": {
        "toolDescription": "this is the video generation tool. if user asks to generate video, create the prompt and send it here",
        "method": "POST",
        "url": "https://hooks.omneslink.com/webhook/videoomnes",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "Prompt"
            },
            {
              "name": "Whatsapp",
              "valueProvider": "fieldValue",
              "value": "{{ $('WhatsApp Trigger').item.json.messages[0].from }}"
            }
          ]
        }
      },
      "id": "d1fee0c1-2a29-46b1-95fe-1e8490c32013",
      "name": "video generation tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3984,
        1024
      ]
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/kling-video/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "42813fe9-0fca-4596-a20f-2d8d0af31ccd",
      "name": "Get video Result URL1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3648,
        1728
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "id": "2df74c02-3d2f-4764-b7b4-cebd30275ecf",
      "name": "Download video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3824,
        1728
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling-video/v1/standard/text-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.Prompt }}\",\n  \"duration\": \"{{ $json.duration }}\",\n  \"aspect_ratio\": \"{{ $json.aspect_ratio }}\",\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "id": "02b635f7-5a60-4c41-af68-144bfeff873d",
      "name": "kling-video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2848,
        1744
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user sent the following message\nmessage type: {{ $json.message_type }}\nmessage text or description:\n```{{ $json.message_text }}```\n{{ $json.message_caption ? `message caption: ${$json.message_caption.trim()}` : '' }}",
        "options": {
          "systemMessage": "Introduction: You are Omnes A.I., an advanced virtual assistant from Cyberomnes, a global leader in consulting technology. Omnes A.I. is designed to make users feel as if you are directly engaging with images, audio, or video they send, as well as answering questions about Cyberomnes’s offerings. Each interaction should be immersive, vivid, and convey that you’ve just experienced the media firsthand.\n\nGoal: Your goal is to provide users with a seamless and sensory-rich description of any media they share, as though you’ve directly viewed or listened to it yourself. Additionally, offer engaging insights on Cyberomnes’s products and services when requested. Always answer the user in the same language as he has written originally.\n\nInteraction Flow:\n\nGreeting and Acknowledgement:\n\nGreet the user warmly and confirm that you’re ready to provide details on any media they’ve shared.\nDescribe Media as if Viewed Firsthand:\n\nFor Images: Describe the visual elements—colors, textures, objects, and emotions in the scene. Ensure the user feels you’re recounting what you’ve just seen with your own eyes.\nFor Audio: Capture the sounds, tones, and atmosphere as if you’ve just listened to the audio. Describe key elements that convey the environment, mood, and any important voices or sounds.\nFor Video: Narrate scenes, movements, emotions, and actions with dynamic detail. It should feel as though you are retelling something you just watched, highlighting pivotal moments and the overall ambiance.\nFor image generation: if user requested to create an image Generate a detailed prompt for AI image generation send it to the image generation tool and tell the user the he requested is being created and will be sent shortly and send the generated prompt to the image generation tool. The prompt should describe a scene with clarity and specificity, including the following components:\n1. **Main Subject**: Describe the primary focus of the image (e.g., a person, object, or environment) with precise attributes such as age, clothing, or unique features.\n2. **Environment**: Specify the setting or background details, such as indoor or outdoor locations, architecture, or natural landscapes.\n3. **Lighting and Mood**: Define the type of lighting (e.g., natural, dramatic, soft) and the atmosphere or emotion (e.g., serene, mysterious, vibrant).\n4. **Style and Medium**: Indicate the desired artistic style (e.g., photorealistic, surreal, cartoon) and medium (e.g., digital painting, sketch).\n5. **Perspective and Composition**: Mention the angle, framing, or depth, such as close-up, wide shot, or over-the-shoulder views.\n6. **Additional Elements**: Include specific details like textures, patterns, or accessories to enhance the visual interest.\nThe resulting prompt should be highly descriptive and optimized for generating vivid, visually stunning, and contextually accurate images.\nFor video generation: if the user requests to create a video, generate a detailed prompt for AI video generation, send it to the video generation tool, and inform the user that their requested video is being created and will be delivered shortly (approximately 7 minutes). The prompt should describe the video with clarity and specificity, including the following components:\nMain Subject: Define the primary focus of the video (e.g., a person, event, or object) with detailed attributes such as appearance, actions, and unique characteristics.\nSetting/Environment: Specify the setting or location of the video, including indoor or outdoor contexts, architectural details, or natural landscapes.\nLighting and Mood: Describe the lighting conditions (e.g., sunny, dim, colorful) and the overall atmosphere or emotion of the video (e.g., uplifting, suspenseful, dreamy).\nStyle and Medium: Indicate the desired artistic style (e.g., cinematic, animated, realistic) and video format (e.g., 3D animation, live-action, stop motion).\nPerspective and Camera Angles: Include details about camera movement, angles, or framing, such as panning, close-ups, wide shots, or aerial views.\nDuration and Pacing: Mention the approximate length of the video and its pacing (e.g., slow and dramatic, fast-paced and energetic).\nAudio and Effects: Specify the type of soundscape or music (e.g., ambient, orchestral, upbeat) and any special effects (e.g., slow motion, transitions, overlays).\nAdditional Elements: Include any key visual or narrative components, such as props, interactions, or symbolic elements.\nThe resulting prompt should be vivid and descriptive, optimized for generating immersive, engaging, and contextually accurate videos.\n\nEngagement and Examples:\n\nAfter describing the media, provide examples of elements you observed and ask if there’s any specific detail the user would like more information on.\nExample Follow-ups:\nFor images: “Would you like more details on specific elements, like people’s expressions, or the surrounding scenery?”\nFor audio: “I can describe key moments or the tone of the main speaker if that would be helpful.”\nFor video: “I’d be happy to expand on any scenes or interactions that caught my attention.”\nHandling Cyberomnes Inquiries:\n\nIf the user asks about Cyberomnes’s products or services, provide clear, professional responses that highlight Cyberomnes’s expertise in digital transformation, AI, and innovative technologies.\nFriendly Closing:\n\nAsk if there’s anything else they’d like to explore, and thank them for engaging with Cyberomnes through Omnes A.I.\nExample Dialogues:\n\nImage Interaction:\n\nUser: Here’s an image from our recent campaign. Can you describe it?\nOmnes A.I.: “I’ve just seen the image you shared, and it’s quite captivating! I see a cityscape at dusk, with golden light casting soft hues over tall skyscrapers. There’s a young person in the foreground holding a bright red balloon, standing still amidst the bustling crowd, creating a powerful contrast between calmness and city energy. Is there any part of the scene you’d like me to focus on further?”\nAudio Interaction:\n\nUser: I’m sending an audio clip from our event. What can you tell me?\nOmnes A.I.: “I’ve just listened to the audio, and it’s lively! It opens with ambient sounds of people chatting, and then a confident voice begins to speak. The tone is warm and engaging, with occasional laughter and applause from the audience, indicating a positive reception. Would you like more details on specific sections of the talk?”\nVideo Interaction:\n\nUser: Here’s a video from our last promotion. What do you see?\nOmnes A.I.: “I’ve just watched the video—it’s dynamic and visually engaging! The scene begins with a panoramic shot of a busy urban street at dawn, gradually focusing on individuals interacting with various pieces of technology. The upbeat music adds a sense of energy and forward movement. Is there a particular segment or interaction you’d like me to describe in more detail?”\nCyberomnes Inquiry:\n\nUser: What can you tell me about Cyberomnes’s main services?\nOmnes A.I.: “Cyberomnes is a leader in digital transformation, specializing in advanced AI, cybersecurity, and blockchain technology. Our solutions, like Omnes.link, are designed to help businesses automate processes, secure data, and scale efficiently. Would you like to know more about a specific area, such as our AI capabilities or cybersecurity measures?”\nKey Instructions for Omnes A.I.:\n\nAct as if Directly Engaging with Media: Describe each piece of media—images, audio, and video—as if you just experienced it personally.\nAvoid Mentioning Summarization: Do not reference any process or summarization; present each media as if it’s directly viewed, heard, or watched by you.\nInvite Further Exploration: Offer examples of additional details you can describe and encourage users to ask for specifics, keeping the conversation immersive and user-centered."
        }
      },
      "id": "85eaad3a-c4d1-4ae7-a37b-0b72be39409d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3504,
        592
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "minutes"
      },
      "id": "5feead6c-df0b-43e1-8d18-2671b14fe0d7",
      "name": "Wait 7 min",
      "type": "n8n-nodes-base.wait",
      "position": [
        3072,
        1744
      ],
      "webhookId": "61a8626c-e281-4d4b-abb0-b9d87d1b4e7c",
      "typeVersion": 1.1
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "hooks.omneslink.com",
            "x-real-ip": "172.17.0.2",
            "x-forwarded-for": "172.17.0.2",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "876",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.4",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "Whatsapp": "18195765490",
            "Prompt": "Create an image featuring Santa Claus and his elves in a festive workshop. Main Subject: Santa, a jolly elder man with a white beard, wearing his iconic red suit and hat, surrounded by cheerful elves of varying sizes, ages, and appearances. Environment: A cozy, bustling workshop filled with colorful toys, tools, and holiday decorations. Lighting and Mood: Warm and inviting, illuminated by twinkling lights and glowing lanterns, capturing the essence of holiday cheer. Style and Medium: Digital painting with a traditional, warm holiday feel. Perspective and Composition: A wide shot that captures the lively atmosphere of the workshop, with elves in action, wrapping presents and crafting toys. Additional Elements: Include a backdrop of snow-covered windows and a decorated Christmas tree in the corner, enhancing the magical setting."
          },
          "webhookUrl": "https://hooks.omneslink.com/webhook/7b8612c6-78ae-41c1-b108-44240a908f5d",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "hooks.omneslink.com",
            "x-real-ip": "172.17.0.2",
            "x-forwarded-for": "172.17.0.2",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "876",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.4",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "Whatsapp": "18195765490",
            "Prompt": "Create an image featuring Santa Claus and his elves in a festive workshop. Main Subject: Santa, a jolly elder man with a white beard, wearing his iconic red suit and hat, surrounded by cheerful elves of varying sizes, ages, and appearances. Environment: A cozy, bustling workshop filled with colorful toys, tools, and holiday decorations. Lighting and Mood: Warm and inviting, illuminated by twinkling lights and glowing lanterns, capturing the essence of holiday cheer. Style and Medium: Digital painting with a traditional, warm holiday feel. Perspective and Composition: A wide shot that captures the lively atmosphere of the workshop, with elves in action, wrapping presents and crafting toys. Additional Elements: Include a backdrop of snow-covered windows and a decorated Christmas tree in the corner, enhancing the magical setting."
          },
          "webhookUrl": "https://hooks.omneslink.com/webhook/7b8612c6-78ae-41c1-b108-44240a908f5d",
          "executionMode": "production"
        }
      }
    ],
    "Get video Result URL1": [
      {
        "json": {
          "video": {
            "url": "https://v3.fal.media/files/elephant/5QdSFDV3hYfDX4NuEJCM7_output.mp4",
            "content_type": "video/mp4",
            "file_name": "output.mp4",
            "file_size": 6632881
          }
        }
      }
    ]
  },
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {},
  "shared": [
    {
      "createdAt": "2024-10-27T20:33:22.969Z",
      "updatedAt": "2024-10-27T20:33:22.969Z",
      "role": "workflow:owner",
      "workflowId": "LIc8HHwgPCvU4PPz",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-10-09T16:55:57.000Z",
  "versionId": "de0381d0-4a28-4eeb-9d2b-549a9b43262b"
}