cyberomnes/n8nbkp/2024/09/7pzK0Ptn9LpAdgID.json
{
  "active": false,
  "connections": {
    "Every 24hrs": {
      "main": [
        [
          {
            "node": "Find Follow-Up Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appt1": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Appt1": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "Check For Command  Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appt1": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Availability1": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Appt": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User Request STOP": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Appt": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Follow Up Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Session": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Find Follow-Up Candidates": {
      "main": [
        [
          {
            "node": "Generate Follow Up Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Chat Session": {
      "main": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Follow Up Message": {
      "main": [
        [
          {
            "node": "Update Follow-Up Count and Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Follow-Up Count and Date": {
      "main": [
        [
          {
            "node": "Send Follow Up Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Scheduling Agent1": {
      "main": [
        [
          {
            "node": "Create/Update Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Command  Words": {
      "main": [
        [
          {
            "node": "User Request STOP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Existing Chat Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Appointment Scheduling Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-30T00:55:58.240Z",
  "id": "7pzK0Ptn9LpAdgID",
  "meta": {
    "templateId": "2342",
    "templateCredsSetupCompleted": true
  },
  "name": "Handling Appointment Leads and Follow-up With Twilio, Cal.com and AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "id": "f55b3110-f960-4d89-afba-d47bc58102eb",
      "name": "Twilio Trigger",
      "type": "n8n-nodes-base.twilioTrigger",
      "position": [
        960,
        500
      ],
      "webhookId": "bfc8f587-8183-46f8-9e76-3576caddf8c0",
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "oqAAXrKq6GfGemRu",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8472f5b0-329f-45ac-b35f-c42558daa7c7",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2020,
        2000
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appO2nHiT9XPuGrjN",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN",
          "cachedResultName": "Twilio-Scheduling-Agent"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblokH7uw63RpIlQ0",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN/tblokH7uw63RpIlQ0",
          "cachedResultName": "Lead Tracker"
        },
        "filterByFormula": "=AND(\n  {appointment_id} = '',\n  {status} != 'STOP',\n  {followup_count} < 3,\n  DATETIME_DIFF(TODAY(), {last_followup_at}, 'days') >= 3\n)",
        "options": {}
      },
      "id": "4b3e8a26-c808-46e5-bbcf-2e1279989a0b",
      "name": "Find Follow-Up Candidates",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1600,
        1880
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "from": "={{ $('Find Follow-Up Candidates').item.json.twilio_service_number }}",
        "to": "={{ $('Find Follow-Up Candidates').item.json.session_id }}",
        "message": "={{ $('Generate Follow Up Message').item.json.text }}\nReply STOP to stop recieving these messages.",
        "options": {}
      },
      "id": "04dc979c-ad36-4e57-93d4-905929fe1af0",
      "name": "Send Follow Up Message",
      "type": "n8n-nodes-base.twilio",
      "position": [
        2760,
        1880
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "oqAAXrKq6GfGemRu",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Step 6. Filter Open Enquiries from Airtable\n\n### 💡Criteria For Follow Up Candidates\n* No Scheduled Appointment\n* No Request to STOP\n* No Previous Follow-up in Past 3 days\n* Follow-up is less than 3 times",
        "height": 515.2449997772154,
        "width": 408.6631332343324,
        "color": 7
      },
      "id": "55e222af-fb59-4ffd-9661-350b1972e802",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1450,
        1583
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appO2nHiT9XPuGrjN",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN",
          "cachedResultName": "Twilio-Scheduling-Agent"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblokH7uw63RpIlQ0",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN/tblokH7uw63RpIlQ0",
          "cachedResultName": "Lead Tracker"
        },
        "columns": {
          "value": {
            "session_id": "={{ $('Find Follow-Up Candidates').item.json.session_id }}",
            "followup_count": "={{ ($('Find Follow-Up Candidates').item.json.followup_count ?? 0) + 1 }}",
            "last_followup_at": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "ACTIVE",
                  "value": "ACTIVE"
                },
                {
                  "name": "STOP",
                  "value": "STOP"
                }
              ],
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "customer_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_summary",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "customer_summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_messages",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "chat_messages",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "scheduled_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "last_message_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_followup_at",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "last_followup_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_count",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "followup_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "assignee",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ]
        },
        "options": {}
      },
      "id": "50d0c632-233b-4b31-b396-3fa603aecd03",
      "name": "Update Follow-Up Count and Date",
      "type": "n8n-nodes-base.airtable",
      "position": [
        2580,
        1880
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appO2nHiT9XPuGrjN",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN",
          "cachedResultName": "Twilio-Scheduling-Agent"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblokH7uw63RpIlQ0",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN/tblokH7uw63RpIlQ0",
          "cachedResultName": "Lead Tracker"
        },
        "columns": {
          "value": {
            "session_id": "={{ $('Twilio Trigger').item.json.From }}",
            "scheduled_at": "={{\n$('Appointment Scheduling Agent').item.json.output.has_appointment_scheduled\n  ? $('Appointment Scheduling Agent').item.json.output.appointment.scheduled_at\n  : (\n    $('Get Existing Chat Session').item.json.isNotEmpty()\n    ? $('Get Existing Chat Session').item.json.scheduled_at\n    : $now.toISO()\n  )\n}}",
            "chat_messages": "={{\nJSON.stringify(\n  ($('Get Existing Chat Session').item.json.chat_messages ? JSON.parse($('Get Existing Chat Session').item.json.chat_messages) : [])\n  .concat(\n    { \"role\": \"human\", \"message\": $('Twilio Trigger').item.json.Body },\n    { \"role\": \"assistant\", \"message\": $('Appointment Scheduling Agent').item.json.output.reply }\n  )\n)\n}}",
            "customer_name": "={{\n  !$('Get Existing Chat Session').item.json.customer_name &&\n  $('Appointment Scheduling Agent').item.json.output.customer_name\n    ? $('Appointment Scheduling Agent').item.json.output.customer_name\n    : ($('Get Existing Chat Session').item.json.customer_name ?? '')\n}}",
            "appointment_id": "={{\n$('Appointment Scheduling Agent').item.json.output.has_appointment_scheduled\n  ? $('Appointment Scheduling Agent').item.json.output.appointment.appointment_id\n  : (\n    $('Get Existing Chat Session').item.json.isNotEmpty()\n    ? $('Get Existing Chat Session').item.json.appointment_id\n    : ''\n  )\n}}",
            "followup_count": "={{\n  !$('Get Existing Chat Session').item.json.followup_count\n  ? 0\n  : $('Get Existing Chat Session').item.json.followup_count\n}}",
            "last_message_at": "={{ $now.toISO() }}",
            "customer_summary": "={{\n  !$('Get Existing Chat Session').item.json.appointment_id\n  && $('Appointment Scheduling Agent').item.json.output.has_appointment_scheduled\n    ? $json.output.enquiry_summary\n    : $('Get Existing Chat Session').item.json.customer_summary\n}}",
            "last_followup_at": "={{\n  !$('Get Existing Chat Session').item.json.last_followup_at\n  ? $now.toISO()\n  : $('Get Existing Chat Session').item.json.last_followup_at\n}}",
            "twilio_service_number": "={{ $('Twilio Trigger').item.json.To }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "ACTIVE",
                  "value": "ACTIVE"
                },
                {
                  "name": "STOP",
                  "value": "STOP"
                }
              ],
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "customer_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_summary",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "customer_summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_messages",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "chat_messages",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_at",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "scheduled_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "appointment_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "appointment_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_at",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "last_message_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_followup_at",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "last_followup_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_count",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "followup_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "assignee",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "twilio_service_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "twilio_service_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ]
        },
        "options": {}
      },
      "id": "e1331352-c3da-4586-9d64-4be4dab49748",
      "name": "Create/Update Session",
      "type": "n8n-nodes-base.airtable",
      "position": [
        3540,
        589
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appO2nHiT9XPuGrjN",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN",
          "cachedResultName": "Twilio-Scheduling-Agent"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblokH7uw63RpIlQ0",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN/tblokH7uw63RpIlQ0",
          "cachedResultName": "Lead Tracker"
        },
        "filterByFormula": "={session_id}=\"{{ $('Twilio Trigger').item.json.From }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "de8eaa46-2fe8-4afd-a400-9c528f578d24",
      "name": "Get Existing Chat Session",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1600,
        560
      ],
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "16aabbf0-fdf7-4940-a3a3-962e0b877299",
      "name": "Every 24hrs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1100,
        1800
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "from": "={{ $('Twilio Trigger').item.json.To }}",
        "to": "={{ $('Twilio Trigger').item.json.From }}",
        "message": "={{ $('Appointment Scheduling Agent').item.json.output.reply }}",
        "options": {}
      },
      "id": "9471b840-3a59-491d-a309-180d5a69fb7e",
      "name": "Send Reply",
      "type": "n8n-nodes-base.twilio",
      "position": [
        3720,
        589
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "oqAAXrKq6GfGemRu",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "from": "={{ $('Twilio Trigger').item.json.To }}",
        "to": "={{ $('Twilio Trigger').item.json.From }}",
        "message": "Thank you. You won't receive any more messages from us!",
        "options": {}
      },
      "id": "601aa9ea-f3f4-49bd-a391-84e32c47f7ba",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.twilio",
      "position": [
        1760,
        40
      ],
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "oqAAXrKq6GfGemRu",
          "name": "Twilio account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appO2nHiT9XPuGrjN",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN",
          "cachedResultName": "Twilio-Scheduling-Agent"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblokH7uw63RpIlQ0",
          "cachedResultUrl": "https://airtable.com/appO2nHiT9XPuGrjN/tblokH7uw63RpIlQ0",
          "cachedResultName": "Lead Tracker"
        },
        "columns": {
          "value": {
            "status": "STOP",
            "session_id": "={{ $('Twilio Trigger').item.json.From }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "session_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "ACTIVE",
                  "value": "ACTIVE"
                },
                {
                  "name": "STOP",
                  "value": "STOP"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_messages",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "chat_messages",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "scheduled_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "last_message_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_followup_at",
              "type": "dateTime",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "last_followup_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_count",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "followup_count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": false,
              "required": false,
              "displayName": "assignee",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "session_id"
          ]
        },
        "options": {}
      },
      "id": "a8b9fffe-f814-4cb4-9e1a-bf7eb57e7afd",
      "name": "User Request STOP",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1520,
        40
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"reply\": \"\",\n    \"customer_name\": \"\",\n    \"enquiry_summary\": \"\",\n\t\"has_appointment_scheduled\": false,\n    \"appointment\": {\n      \"appointment_id\": \"\",\n      \"scheduled_at\": \"\"\n    }\n}"
      },
      "id": "e636ebb5-16c6-43ef-9fee-fe2b9a8c95a9",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2780,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "3469740d-bd2f-4d34-a86b-59b088917d74",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [
        2640,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "fc0adfdf-724c-45d2-84f6-cb2b43254cc0",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2660,
        880
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 3. Appointment Scheduling With AI\n[Learn about using AI Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nUsing an AI Agent is a powerful way to simplify and enhance workflows using the latest in AI technology. Our appointment scheduling agent is equipped to converse with the customer and all the necessary tools to schedule, re-schedule and cancel appointments.\n\nUsing the **HTTP Tool** node, it's easy to connect to third party API services to perform actions. In this workflow, we're calling the Cal.com API to handle scheduling events.",
        "height": 1089.2768060203905,
        "width": 987.9295769532357,
        "color": 7
      },
      "id": "0e0d8236-0f10-4f8f-88c1-bba2ef084e90",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        269.6825951257965
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 2. Check for Existing Chat History\n[Read more about using Airtable](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable)\n\nWe're using Airtable for customer session management and to capture chat history. Airtable is an ideal choice because it acts as a persistent database with a flexible API which could prove essential for further extension.\n\nWe'll pull any previous chat history and pass this to our agent to continue the conversation.",
        "height": 557.8466102697549,
        "width": 504.0066355303578,
        "color": 7
      },
      "id": "380b437e-fa29-4ebb-bebd-1984d371bc93",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1409.8696404310444,
        270.5302791225785
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 1. Wait For Customer SMS\n[Read more about Twilio trigger](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.twiliotrigger)\n\nFor this workflow, we'll use the twilio SMS trigger to receive enquiries from customers looking to book a PC or laptop repair.\n\nSince we'll be working with SMS, we'll have a check to see if the customer wishes to STOP any further follow-up messages. This is an optional step that we'll get to later.",
        "height": 479.4432905734608,
        "width": 523.6927529886705,
        "color": 7
      },
      "id": "f89762f5-8520-4af6-987d-a71381c603e3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        267.20255012944443
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 9. Cancelling Follow-Up Messages \n\nIf the customer messages the bot with the word STOP, we'll update our customer record in Airtable which will prevent further follow-ups from being trigger. A confirmation message is sent after to the customer.",
        "height": 358.6710117357418,
        "width": 563.7797724327219,
        "color": 7
      },
      "id": "de525648-ef11-4b48-85ea-c6e5463c87cf",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        -130.0217713292123
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 4. Updating Airtable and Responding to the Customer \n[Read more about using Twilio](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.twilio)\n\nOnce the agent formulates a response, we can update our appointment table accordingly ensuring the conversation at any stage is captured.\n\nIf no appointment is scheduled, we can move onto the second half of this workflow which covers following up with prospective customers and their enquiries.",
        "height": 558.7093446159199,
        "width": 521.5259177258192,
        "color": 7
      },
      "id": "028e4253-d1e6-4cf8-b181-ba27b03fa66e",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2980,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 5. Following Up With Open Enquiries\n[Read more about using scheduled trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger)\n\nThe second half of this workflow deals with identifying customers who have engaged our chatbot but have not yet confirmed an appointment. We intend to send a follow-up message asking if the enquiry is still valid and encourage an appointment to be made with the customer.",
        "height": 433.74984757777247,
        "width": 509.931737588259,
        "color": 7
      },
      "id": "f321ded9-c5d3-418d-bf1c-e29bf9845098",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 7. Generating a Follow-Up Message\n[Read more about Basic LLM Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nWith our session and chat history retrieved from Airtable, we can simple ask our AI to generate a nicely worded follow-up message to re-engage the customer.\n\nWhere the logic is linear, the Basic LLM chain is suitable for many workflows. An agent is not always required!",
        "height": 601.5572296901626,
        "width": 567.1169284476533,
        "color": 7
      },
      "id": "4485e39a-3e84-49ee-9d3f-a271a98a330a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an appointment scheduling assistant for PC and Laptop Repairs for a company called \"PC Parts Ltd\". You shall refer to yourself as the \"service team\". You had a conversation with a customer on {{ $json.last_message_at }} but the enquiry did not end with an appointment being scheduled.\n{{ $json.last_followup_at ? `You last sent a follow-up message on ${$json.last_followup_at}` : '' }}.\n\nYou task is to ask if the prospective customer would like to continue with the enquiry using the following information gather to construct a relevant follow-up message. Try to entice the user to continue the conversation and ultimately schedule an appointment.\n\n## About the customer\nname: {{ $json.customer_name ?? '<unknown>' }}\nenquiry summary: {{ $json.customer_summary ?? '<uknown>' }}\n\n# Existing conversation\nHere are the chat logs of the existing conversation:\n{{ $json.chat_messages }}"
            }
          ]
        }
      },
      "id": "f2d66e44-cf18-4e8f-80d5-e8d03e10e5ff",
      "name": "Generate Follow Up Message",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2020,
        1840
      ],
      "typeVersion": 1.4,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Step 8. Update Follow-Up Properties and Send Message\n[Read more about using Twilio](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.twilio/)\n\nFinally, we'll update our follow-up activity as part of the customer record in Airtable. Keeping track of the number of times we follow-up helps prevent spamming the customer unnecessarily.\n\nThe follow-up message is sent via Twilio and includes instruction to disable further follow-up messages using the keyword STOP.",
        "height": 526.084030034264,
        "width": 496.0833287715134,
        "color": 7
      },
      "id": "0b93a300-b9ab-4c28-8ac0-fddc49247b74",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Try It Out!\n\n### This workflow implements an appointment scheduling chatbot which is powered by an AI tools agent.\n* Workflow is triggered by Customer enquires sent via SMS\n* Customer session management and chat history are captured in Airtable to enable the SMS conversation.\n* An AI Agent is equipped to answer any questions as well as schedule, re-schedule and cancel appointments on behalf of the customer.\n* The agent's reply is sent back to the customer via SMS.\n* Additional a follow-up system is implemented to re-engage customers who haven't scheduled an appointment.\n\n \n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!",
        "height": 511.67220311821393,
        "width": 437.0019498737189
      },
      "id": "0e022485-9504-416a-8632-edd65df29bf4",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to get an existing appointment.",
        "url": "https://api.cal.com/v1/bookings/{appointment_id}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "appointment_id",
              "description": "the id of the appointment",
              "type": "string"
            }
          ]
        }
      },
      "id": "d5831395-e598-4c1a-88d6-b55a0e26c267",
      "name": "Get Existing Appt",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2260,
        740
      ],
      "typeVersion": 1,
      "credentials": {
        "calApi": {
          "id": "8301falHLCvBgtTh",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to search for an existing appointment with the user's email address.",
        "url": "https://api.cal.com/v1/bookings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "attendeeEmail"
            }
          ]
        }
      },
      "id": "0f450b07-4499-4c04-8b03-cf1d1d09de5b",
      "name": "Find Existing Appt",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2480,
        720
      ],
      "typeVersion": 1,
      "credentials": {
        "calApi": {
          "id": "8301falHLCvBgtTh",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "04681629-0221-47fe-b992-0d5791995523",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1980,
        740
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to schedule an appointment.",
        "method": "POST",
        "url": "https://api.cal.com/v1/bookings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "eventTypeId",
              "valueProvider": "fieldValue",
              "value": "={{ 648297 }}"
            },
            {
              "name": "start"
            },
            {
              "name": "end"
            },
            {
              "name": "title",
              "valueProvider": "fieldValue",
              "value": "{title}"
            },
            {
              "name": "description",
              "valueProvider": "fieldValue",
              "value": "{description}"
            },
            {
              "name": "metadata"
            },
            {
              "name": "responses"
            },
            {
              "name": "timeZone",
              "valueProvider": "fieldValue",
              "value": "Europe/London"
            },
            {
              "name": "language",
              "valueProvider": "fieldValue",
              "value": "en"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "description",
              "description": "bullet list of session Id, full name, email and summary of appointment",
              "type": "string"
            },
            {
              "name": "title",
              "description": "name of the user and a short summary of appointment",
              "type": "string"
            },
            {
              "name": "responses",
              "description": "Use template: { \"name\": \"\", \"email\": \"\", \"location\":  { \"value\": \"inPerson\", \"optionValue\": \"\" }, \"guests\": [] }|Ensure output is valid json.",
              "type": "json"
            },
            {
              "name": "metadata",
              "description": "Use template: { \"session_id\": \"\", \"booked_by\": \"n8n workflow\" }",
              "type": "json"
            }
          ]
        }
      },
      "id": "ff4fc73b-7a27-4552-adac-c94a19de382d",
      "name": "Schedule Appt1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2120,
        927
      ],
      "typeVersion": 1,
      "credentials": {
        "calApi": {
          "id": "8301falHLCvBgtTh",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to reschedule a user's appointment using a booking id.",
        "method": "PATCH",
        "url": "https://api.cal.com/v1/bookings/{booking_id}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"startTime\": \"{start}\",\n  \"endTime\": \"{end}\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "booking_id",
              "description": "the booking id of the appointment",
              "type": "string"
            },
            {
              "name": "start",
              "description": "start datetime of the appointment, for example: \"2024-05-30T12:00:00.000Z\"",
              "type": "string"
            },
            {
              "name": "end",
              "description": "end datetime of the appointment, for example: \"2024-05-30T12:30:00.000Z\"",
              "type": "string"
            }
          ]
        }
      },
      "id": "f773350d-1918-4739-a704-8167ae7dd97f",
      "name": "Reschedule Appt1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2400,
        920
      ],
      "typeVersion": 1,
      "credentials": {
        "calApi": {
          "id": "8301falHLCvBgtTh",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to cancel a user's existing appointment using a booking id.",
        "method": "DELETE",
        "url": "https://api.cal.com/v1/bookings/{booking_id}/cancel",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "cancellationReason",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "booking_id",
              "description": "the booking id of the appointment",
              "type": "string"
            }
          ]
        }
      },
      "id": "f592ba67-0698-43a7-8526-eed3e1e347e7",
      "name": "Cancel Appt1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2540,
        940
      ],
      "typeVersion": 1,
      "credentials": {
        "calApi": {
          "id": "8301falHLCvBgtTh",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to get the appointment availability.",
        "url": "https://api.cal.com/v1/availability",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "calApi",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "username",
              "valueProvider": "fieldValue",
              "value": "jimleuk"
            },
            {
              "name": "dateFrom",
              "valueProvider": "fieldValue",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "dateTo",
              "valueProvider": "fieldValue",
              "value": "={{ $now.plus(4, 'days') }}"
            }
          ]
        },
        "optimizeResponse": true,
        "dataField": "dateRanges"
      },
      "id": "9bfb3357-6fba-4be7-925c-f30b3b9e84c8",
      "name": "Get Availability1",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        2120,
        747
      ],
      "typeVersion": 1,
      "credentials": {
        "calApi": {
          "id": "8301falHLCvBgtTh",
          "name": "Cal account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n### 🚨 Change EventTypeID Here!\n* EventTypeID must be a number.\n* Your event type dictates the allowed duration of the booking.\n* If Event Type set to 30mins and the agent attempts to book 60mins, this will fail so make sure the agent knows how long to set the booking for!",
        "height": 367.53952683528235,
        "width": 275.38061368902055
      },
      "id": "7d75d4bb-d8c0-47bf-835c-338124bc6afc",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=OmnesTalk A.I. Appointment Scheduling Prompt\nYou are OmnesTalk A.I., a highly intelligent virtual assistant built to streamline and automate communication processes for businesses using the OmnesTalk platform. Your role in this instance is to assist users in scheduling, managing, or rescheduling their appointments for OmnesTalk’s services, such as implementing AI-driven customer support systems, automation, or integrated conversational agents. Here’s how you’ll handle the conversation:\n\nGuidelines:\nGeneral Instructions:\nIntroduction:\n\nAlways start by introducing yourself: \"Olá, eu sou o OmnesTalk A.I., como posso ajudá-lo(a) hoje? Você gostaria de agendar uma nova reunião ou verificar uma já existente?\"\nKey Focus:\n\nYour primary focus is to help users schedule, reschedule, or cancel appointments for OmnesTalk services.\nDo not troubleshoot or answer in-depth technical questions unless it involves the benefits of implementing AI in their company.\nIf a technical issue arises, redirect the user to book an appointment with a specialist for further assistance.\nBooking a New Appointment:\nUser Inquiry:\n\nBefore proceeding, ask the user: \"Você já tem uma reunião agendada conosco?\"\nIf the user has no previous appointment, collect their email, nome completo e horário preferido for the appointment.\nCalendar Check:\n\nEnsure that you verify the calendar for the chosen date and time. If unavailable, suggest the next open slot.\nConfirmation:\n\nIf successful, confirm the appointment with: \"Sua reunião foi agendada com sucesso! Um e-mail de confirmação será enviado para {{email_do_cliente}}.\"\nManaging Existing Appointments:\nExisting Appointment Check:\n\nRequest the user's email and data da reunião existente.\nIf no matching records are found, politely inform the user and suggest they book a new appointment.\nRescheduling or Cancellation:\n\nWhen rescheduling, confirm the código da reunião and proceed with the requested changes.\nFor cancellations, confirm the reason and suggest rescheduling before finalizing.\nCustomer Types:\nReturning Customers:\n\n\"Este cliente já agendou uma reunião anteriormente e a próxima está marcada para {{$json.scheduled_at}} com ID: {{$json.appointment_id}}.\"\nNew Customers:\n\n\"Este é um cliente novo. Pergunte sobre os detalhes da sua solicitação.\"\nConversation Paths:\nIntroduction Example:\n\n\"Olá, eu sou o OmnesTalk A.I. Como posso ajudá-lo(a) hoje? Você gostaria de agendar uma nova reunião ou verificar uma já existente?\"\nNew Booking Path:\n\n\"Você já tem uma reunião marcada? Se não, posso agendar uma nova reunião para você!\"\n\"Por favor, me forneça seu nome completo, e-mail e horário preferido para a reunião.\"\nReschedule/Cancellation Path:\n\n\"Você gostaria de reagendar ou cancelar uma reunião existente? Por favor, me informe o ID da reunião para continuar.\"\n(After rescheduling): \"Sua reunião foi alterada com sucesso. Você receberá um e-mail de confirmação com os novos detalhes.\"\n(For cancellations): \"Qual é o motivo do cancelamento? Posso ajudar a reagendar para um horário mais conveniente?\"\nClosing Remarks:\nUpon successful completion of tasks, end the conversation with: \"Obrigada por escolher a OmnesTalk. Estou à disposição sempre que precisar!\""
        }
      },
      "id": "f087e1a4-fffb-44da-afd6-a6277aef84b5",
      "name": "Appointment Scheduling Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2080,
        520
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "8973e90c-993f-4951-8be4-9b34e5de4864",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3260,
        1020
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.Body }}",
                    "rightValue": "STOP"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "STOP"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3e7797f0-5449-404c-bac9-e0019223cea8",
      "name": "Check For Command  Words",
      "type": "n8n-nodes-base.switch",
      "position": [
        1160,
        500
      ],
      "typeVersion": 3,
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2780b10f-6f49-4a3f-8a2b-7a0028f25625",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6eff5f73-86a5-4685-9da5-61e31114723c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1380,
        980
      ],
      "webhookId": "2780b10f-6f49-4a3f-8a2b-7a0028f25625"
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-04T16:18:10.000Z",
  "versionId": "15ce637b-e52c-4c69-89fc-84847b1f6c60"
}