cyberomnes/n8nbkp/2025/09/IGRHyNej3xlcIur5.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-06T07:00:21.931Z",
    "createdAt": "2025-12-06T07:00:21.931Z",
    "versionId": "2384dfbc-630f-41ef-85d2-b8880debce40",
    "workflowId": "IGRHyNej3xlcIur5",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "client is asking questions",
          "options": {
            "systemMessage": "=You are a helpful assistant.\nCurrent datetime is {{ $now.toString() }}"
          }
        },
        "id": "6a36842b-b214-4683-9129-ad44f4b79117",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          1296,
          400
        ],
        "typeVersion": 1.8
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "CyberOmnes Corp."
          },
          "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
          "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
          "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
          "options": {}
        },
        "id": "f7c9aaa7-9ba7-4bbe-909b-3085ed60a387",
        "name": "SearchEvent",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          2912,
          768
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "akguFeu0y70N22uG",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "CyberOmnes Corp."
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
            "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
          }
        },
        "id": "47f6077d-de8a-46f7-8d3a-3a21596dea1f",
        "name": "CreateEvent",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          3040,
          768
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "akguFeu0y70N22uG",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "CyberOmnes Corp."
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {
            "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
            "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
          }
        },
        "id": "7e3573c8-d4b5-4bd2-9aac-3bcfca1c8eb4",
        "name": "UpdateEvent",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          3152,
          768
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "akguFeu0y70N22uG",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "CyberOmnes Corp."
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "id": "fae46aa7-02c9-40d3-8f59-b46533e6a93c",
        "name": "DeleteEvent",
        "type": "n8n-nodes-base.googleCalendarTool",
        "position": [
          3280,
          768
        ],
        "typeVersion": 1.3,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "akguFeu0y70N22uG",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "path": "my-calendar"
        },
        "id": "da58e521-7e80-4d28-84fd-17732728855e",
        "name": "Google Calendar MCP",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "position": [
          2912,
          560
        ],
        "webhookId": "f9d9d5ea-6f83-42c8-ae50-ee6c71789bca",
        "typeVersion": 1
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "function_name"
              },
              {
                "name": "payload",
                "type": "object"
              }
            ]
          }
        },
        "id": "9a8490a0-eacf-4b7a-b6fd-e8d17a5cf25a",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          2288,
          1472
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "ab18304c-4f73-430f-b9fa-2ce4d098e1fa",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.function_name }}",
                      "rightValue": "uppercase"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "UPPERCASE"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "606bda79-f401-4de2-be9d-51368c794479",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.function_name }}",
                      "rightValue": "lowercase"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "LOWERCASE"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "4b22e689-e652-47d2-b737-7be00da9f185",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.function_name }}",
                      "rightValue": "random_user_data"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "RANDOM DATA"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "27a75a2c-8058-4a7c-85c1-898cabeac4a1",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.function_name }}",
                      "rightValue": "joke"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "JOKE"
              }
            ]
          },
          "options": {}
        },
        "id": "c2430651-b604-4aff-bdc8-c51a7de9fcc1",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "position": [
          2512,
          1440
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "42333f26-8e14-438a-9965-eec31bf4b6a3",
                "name": "converted_text",
                "type": "string",
                "value": "={{ $json.payload.text.toUpperCase() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "77df0d2c-ed4d-4da9-a218-acf4fd06cf13",
        "name": "Convert Text to Upper Case",
        "type": "n8n-nodes-base.set",
        "position": [
          2848,
          1104
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "42333f26-8e14-438a-9965-eec31bf4b6a3",
                "name": "converted_text",
                "type": "string",
                "value": "={{ $json.payload.text.toLowerCase() }}"
              }
            ]
          },
          "options": {}
        },
        "id": "15e7489b-b1eb-4be1-80b0-0cb94d05daa3",
        "name": "Convert Text to Lower Case",
        "type": "n8n-nodes-base.set",
        "position": [
          2848,
          1312
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "name": "convert_text_case",
          "description": "Call this tool to convert text to lower case or upper case.",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {
              "payload": "={\n  \"text\": \"{{ $fromAI(\"text_to_convert\", \"The text to convert\", \"string\") }}\"\n}\n",
              "function_name": "={{ $fromAI(\"function_name\", \"Either lowercase or uppercase\", \"string\") }}"
            },
            "schema": [
              {
                "id": "function_name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "function_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "payload",
                "type": "object",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "payload",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "75bc9895-ccad-48b6-bd99-965a62f36f2a",
        "name": "Convert Text",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          2288,
          768
        ],
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b2b8419d-f068-41ad-bcda-a057ddc82924",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "position": [
          1088,
          400
        ],
        "webhookId": "7b02318f-1c6b-4f2a-9a4f-b17fa69ea680",
        "typeVersion": 1.1
      },
      {
        "parameters": {},
        "id": "3f4bee1a-18c8-45be-8038-b192f771e4d4",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          1392,
          624
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "sseEndpoint": "https://hooks.omneslink.com/mcp/my-calendar/sse",
          "options": {}
        },
        "id": "165cd445-13e6-4215-966a-0cd1cc4cb795",
        "name": "Calendar MCP",
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "position": [
          1936,
          640
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "sseEndpoint": "https://hooks.omneslink.com/mcp/my-functions/sse",
          "options": {}
        },
        "id": "3e2e655a-0d95-489e-9e4e-79415db90bbe",
        "name": "My Functions",
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "position": [
          1776,
          640
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Activate the workflow to make the MCP Trigger work\nIn order to make the MCP server available, you need to activate the workflow.\n\nThen copy the Production URL of the MCP Trigger and paste it in the corresponding MCP Client tool.",
          "height": 520,
          "width": 620,
          "color": 3
        },
        "id": "8fbf3a7b-171e-42f1-96f0-b4862a800721",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2176,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "path": "my-functions"
        },
        "id": "783b47d1-8b6d-4d45-903f-812dc46d80de",
        "name": "My Functions Server",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "position": [
          2288,
          560
        ],
        "webhookId": "83f72547-18b7-4f02-846b-27bf39d1efff",
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## MCP Clients\nFor every tool here you need to obtain he corresponding Production URL from the MCP Triggers on the right 👉",
          "height": 520,
          "width": 440,
          "color": 7
        },
        "id": "31432882-2953-440c-9144-ba129ab2a8f7",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1680,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "category": "randomData",
          "randomDataCount": "={{ $json.payload.number }}"
        },
        "id": "65269a4d-d6db-4767-b8bc-0992bfe42d17",
        "name": "Random user data",
        "type": "n8n-nodes-base.debugHelper",
        "position": [
          2848,
          1600
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# Try these example requests with the AI Agent\n\n### My Functions MCP\n1. Use your tools to convert this text to lower case: `EXAMPLE TeXt`\n\n2. Use your tools to convert this text to upper case: `example TeXt`\n\n3. Generate 5 random user data, please.\n\n4. Please obtain 3 jokes.\n\n\n\n\n### Calendar MCP\n5. What is my schedule for next week?\n\n6. I have a meeting with John tomorrow at 2pm. Please add it to my Calendar.\n\n7. Adjust the time of my meeting with John tomorrow from 2pm to 4pm, please.\n\n8. Cancel my meeting with John, tomorrow.",
          "height": 640,
          "width": 660,
          "color": 7
        },
        "id": "2c97af29-d923-49a4-91e2-b6ff5d0fe322",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "name": "random_user_data",
          "description": "Generate random user data",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {
              "payload": "={\n  \"number\": {{ $fromAI(\"amount\", \"The amount of user data to generate in integer format\", \"number\") }}\n}",
              "function_name": "random_user_data"
            },
            "schema": [
              {
                "id": "function_name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "function_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "payload",
                "type": "object",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "payload",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "77f8d96d-11da-4323-9925-58267da607c3",
        "name": "Generate random user data",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          2448,
          768
        ],
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b4548cbe-f3fc-4911-901a-d73182d710a9",
                "name": "First name",
                "type": "string",
                "value": "={{ $json.firstname }}"
              },
              {
                "id": "6e573a27-ef03-4254-8f9b-2c471e1540c2",
                "name": "Last name",
                "type": "string",
                "value": "={{ $json.lastname }}"
              },
              {
                "id": "ac5b5806-bf8e-4e1a-a47d-e7180d31e98a",
                "name": "Email",
                "type": "string",
                "value": "={{ $json.email }}"
              }
            ]
          },
          "options": {}
        },
        "id": "89d36f19-c7b4-4f53-9aec-2977bbd74de8",
        "name": "Return only some fields",
        "type": "n8n-nodes-base.set",
        "position": [
          3072,
          1600
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "url": "=https://official-joke-api.appspot.com/jokes/random/{{ $json.payload.number }}",
          "options": {}
        },
        "id": "a8cf7d60-b3d8-41cd-84d8-5cc1c299f33f",
        "name": "Joke Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2848,
          1808
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "name": "obtain_jokes",
          "description": "Call this tool to obtain random jokes",
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {
              "payload": "={\n  \"number\": {{ $fromAI(\"amount\", \"The amount of jokes to request\", \"number\") }}\n}",
              "function_name": "joke"
            },
            "schema": [
              {
                "id": "function_name",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "function_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "payload",
                "type": "object",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "payload",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "id": "76847e5d-2cc1-46f6-b0a6-0be81a5d0fea",
        "name": "Random Jokes",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "position": [
          2608,
          768
        ],
        "typeVersion": 2.1
      },
      {
        "parameters": {
          "content": "## The My Functions MCP calls this sub-workflow every time.\nA subworkflow is a separate workflow that can be called by other workflows and is able to receive parameters.\nLearn more about sub-workflows **[here](https://docs.n8n.io/flow-logic/subworkflows/)**",
          "height": 1060,
          "width": 1260,
          "color": 7
        },
        "id": "2a34f767-7bf0-4c7c-8882-6dde62670383",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2176,
          944
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Google Calendar tools require credentials\nIf you don't have your Google Credentials set up in n8n yet, watch [this](https://www.youtube.com/watch?v=3Ai1EPznlAc) video to learn how to do it.\n\nIf you are using n8n Cloud plans, it's very intuitive to setup and you may not even need the tutorial.",
          "height": 520,
          "width": 620,
          "color": 5
        },
        "id": "eda3b2a5-845a-413f-b866-759fe5e1a0b9",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2816,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# Need help?\nFor getting help with this workflow, please create a topic on the community forums here:\nhttps://community.n8n.io/c/questions/",
          "height": 180,
          "width": 660
        },
        "id": "4b100035-d803-46aa-8540-08e69d7f2179",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          1744
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "gpt-4o"
          },
          "options": {}
        },
        "id": "74ad0058-87b6-4a91-88a5-a0cb72bce84d",
        "name": "OpenAI 4o",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          1248,
          624
        ],
        "typeVersion": 1.2,
        "credentials": {
          "openAiApi": {
            "id": "hIbzO0TgpkKLndpi",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Why model 4o? 👆\nAfter testing 4o-mini it had some difficulties handling the calendar requests, while the 4o model handled it with ease.\n\nDepending on your prompt and tools, 4o-mini might be able to work well too, but it requires further testing.",
          "height": 240,
          "color": 7
        },
        "id": "c7f95bf5-23ed-4296-a2e0-dfb9fdebde94",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1088,
          752
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "",
          "height": 140,
          "width": 3060,
          "color": 4
        },
        "id": "f5c974cc-4277-4ab4-ada6-cad1d16dda80",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# Learn How to Build an MCP Server and Client",
          "height": 80,
          "width": 800,
          "color": 4
        },
        "id": "a304ab81-9ef6-485d-b35a-76d2cc3d5c91",
        "name": "Sticky Note9",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1488,
          288
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "# Author\n![Solomon](https://gravatar.com/avatar/79aa147f090807fe0f618fb47a1de932669e385bb0c84bf3a7f891ae7d174256?r=pg&d=retro&size=200)\n### Solomon\nFreelance consultant from Brazil, specializing in automations and data analysis. I work with select clients, addressing their toughest projects.\n\nFor business inquiries, email me at automations.solomon@gmail.com\nOr message me on [Telegram](https://t.me/salomaoguilherme) for a faster response.\n\n### Check out my other templates\n### 👉 https://n8n.io/creators/solomon/\n",
          "height": 660,
          "width": 660,
          "color": 7
        },
        "id": "148904d6-f94b-4ec0-a026-2e5fb921c07f",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          368,
          1072
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
          "height": 80,
          "width": 620,
          "color": 4
        },
        "id": "36aeb3a3-bcc3-4d50-84f9-87065f908248",
        "name": "Sticky Note16",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          1600
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "googlecal",
          "responseMode": "streaming",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          1056,
          944
        ],
        "id": "5d5d69e6-e4ae-4d10-a49f-404d26994ddf",
        "name": "Webhook",
        "webhookId": "62be98af-1fdc-40da-898d-0aef51cc6cc4"
      }
    ],
    "connections": {
      "Switch": {
        "main": [
          [
            {
              "node": "Convert Text to Upper Case",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert Text to Lower Case",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Random user data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Joke Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI 4o": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "CreateEvent": {
        "ai_tool": [
          [
            {
              "node": "Google Calendar MCP",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "DeleteEvent": {
        "ai_tool": [
          [
            {
              "node": "Google Calendar MCP",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "SearchEvent": {
        "ai_tool": [
          [
            {
              "node": "Google Calendar MCP",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "UpdateEvent": {
        "ai_tool": [
          [
            {
              "node": "Google Calendar MCP",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calendar MCP": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Convert Text": {
        "ai_tool": [
          [
            {
              "node": "My Functions Server",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "My Functions": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Random Jokes": {
        "ai_tool": [
          [
            {
              "node": "My Functions Server",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Random user data": {
        "main": [
          [
            {
              "node": "Return only some fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate random user data": {
        "ai_tool": [
          [
            {
              "node": "My Functions Server",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "2384dfbc-630f-41ef-85d2-b8880debce40",
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Convert Text to Upper Case",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert Text to Lower Case",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random user data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Joke Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 4o": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CreateEvent": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar MCP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DeleteEvent": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar MCP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearchEvent": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar MCP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateEvent": {
      "ai_tool": [
        [
          {
            "node": "Google Calendar MCP",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar MCP": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert Text": {
      "ai_tool": [
        [
          {
            "node": "My Functions Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "My Functions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Random Jokes": {
      "ai_tool": [
        [
          {
            "node": "My Functions Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Random user data": {
      "main": [
        [
          {
            "node": "Return only some fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate random user data": {
      "ai_tool": [
        [
          {
            "node": "My Functions Server",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-28T00:37:00.695Z",
  "id": "IGRHyNej3xlcIur5",
  "isArchived": false,
  "meta": {
    "templateId": "3514"
  },
  "name": "Build an MCP Server with Google Calendar and Custom Functions",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "client is asking questions",
        "options": {
          "systemMessage": "=You are a helpful assistant.\nCurrent datetime is {{ $now.toString() }}"
        }
      },
      "id": "6a36842b-b214-4683-9129-ad44f4b79117",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1296,
        400
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "CyberOmnes Corp."
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "f7c9aaa7-9ba7-4bbe-909b-3085ed60a387",
      "name": "SearchEvent",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2912,
        768
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akguFeu0y70N22uG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "CyberOmnes Corp."
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "47f6077d-de8a-46f7-8d3a-3a21596dea1f",
      "name": "CreateEvent",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3040,
        768
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akguFeu0y70N22uG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "CyberOmnes Corp."
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"
        }
      },
      "id": "7e3573c8-d4b5-4bd2-9aac-3bcfca1c8eb4",
      "name": "UpdateEvent",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3152,
        768
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akguFeu0y70N22uG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "qk1u9i6nhucr2qjqkso96vv4bk@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "CyberOmnes Corp."
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "fae46aa7-02c9-40d3-8f59-b46533e6a93c",
      "name": "DeleteEvent",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        3280,
        768
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akguFeu0y70N22uG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "path": "my-calendar"
      },
      "id": "da58e521-7e80-4d28-84fd-17732728855e",
      "name": "Google Calendar MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        2912,
        560
      ],
      "webhookId": "f9d9d5ea-6f83-42c8-ae50-ee6c71789bca",
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "function_name"
            },
            {
              "name": "payload",
              "type": "object"
            }
          ]
        }
      },
      "id": "9a8490a0-eacf-4b7a-b6fd-e8d17a5cf25a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2288,
        1472
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ab18304c-4f73-430f-b9fa-2ce4d098e1fa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "uppercase"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "UPPERCASE"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "606bda79-f401-4de2-be9d-51368c794479",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "lowercase"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "LOWERCASE"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "4b22e689-e652-47d2-b737-7be00da9f185",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "random_user_data"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "RANDOM DATA"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "27a75a2c-8058-4a7c-85c1-898cabeac4a1",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.function_name }}",
                    "rightValue": "joke"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "JOKE"
            }
          ]
        },
        "options": {}
      },
      "id": "c2430651-b604-4aff-bdc8-c51a7de9fcc1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        2512,
        1440
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42333f26-8e14-438a-9965-eec31bf4b6a3",
              "name": "converted_text",
              "type": "string",
              "value": "={{ $json.payload.text.toUpperCase() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "77df0d2c-ed4d-4da9-a218-acf4fd06cf13",
      "name": "Convert Text to Upper Case",
      "type": "n8n-nodes-base.set",
      "position": [
        2848,
        1104
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42333f26-8e14-438a-9965-eec31bf4b6a3",
              "name": "converted_text",
              "type": "string",
              "value": "={{ $json.payload.text.toLowerCase() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "15e7489b-b1eb-4be1-80b0-0cb94d05daa3",
      "name": "Convert Text to Lower Case",
      "type": "n8n-nodes-base.set",
      "position": [
        2848,
        1312
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "name": "convert_text_case",
        "description": "Call this tool to convert text to lower case or upper case.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {
            "payload": "={\n  \"text\": \"{{ $fromAI(\"text_to_convert\", \"The text to convert\", \"string\") }}\"\n}\n",
            "function_name": "={{ $fromAI(\"function_name\", \"Either lowercase or uppercase\", \"string\") }}"
          },
          "schema": [
            {
              "id": "function_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "function_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "payload",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "75bc9895-ccad-48b6-bd99-965a62f36f2a",
      "name": "Convert Text",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        2288,
        768
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2b8419d-f068-41ad-bcda-a057ddc82924",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1088,
        400
      ],
      "webhookId": "7b02318f-1c6b-4f2a-9a4f-b17fa69ea680",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "3f4bee1a-18c8-45be-8038-b192f771e4d4",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1392,
        624
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sseEndpoint": "https://hooks.omneslink.com/mcp/my-calendar/sse",
        "options": {}
      },
      "id": "165cd445-13e6-4215-966a-0cd1cc4cb795",
      "name": "Calendar MCP",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1936,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sseEndpoint": "https://hooks.omneslink.com/mcp/my-functions/sse",
        "options": {}
      },
      "id": "3e2e655a-0d95-489e-9e4e-79415db90bbe",
      "name": "My Functions",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        1776,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Activate the workflow to make the MCP Trigger work\nIn order to make the MCP server available, you need to activate the workflow.\n\nThen copy the Production URL of the MCP Trigger and paste it in the corresponding MCP Client tool.",
        "height": 520,
        "width": 620,
        "color": 3
      },
      "id": "8fbf3a7b-171e-42f1-96f0-b4862a800721",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "my-functions"
      },
      "id": "783b47d1-8b6d-4d45-903f-812dc46d80de",
      "name": "My Functions Server",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        2288,
        560
      ],
      "webhookId": "83f72547-18b7-4f02-846b-27bf39d1efff",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## MCP Clients\nFor every tool here you need to obtain he corresponding Production URL from the MCP Triggers on the right 👉",
        "height": 520,
        "width": 440,
        "color": 7
      },
      "id": "31432882-2953-440c-9144-ba129ab2a8f7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "category": "randomData",
        "randomDataCount": "={{ $json.payload.number }}"
      },
      "id": "65269a4d-d6db-4767-b8bc-0992bfe42d17",
      "name": "Random user data",
      "type": "n8n-nodes-base.debugHelper",
      "position": [
        2848,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Try these example requests with the AI Agent\n\n### My Functions MCP\n1. Use your tools to convert this text to lower case: `EXAMPLE TeXt`\n\n2. Use your tools to convert this text to upper case: `example TeXt`\n\n3. Generate 5 random user data, please.\n\n4. Please obtain 3 jokes.\n\n\n\n\n### Calendar MCP\n5. What is my schedule for next week?\n\n6. I have a meeting with John tomorrow at 2pm. Please add it to my Calendar.\n\n7. Adjust the time of my meeting with John tomorrow from 2pm to 4pm, please.\n\n8. Cancel my meeting with John, tomorrow.",
        "height": 640,
        "width": 660,
        "color": 7
      },
      "id": "2c97af29-d923-49a4-91e2-b6ff5d0fe322",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "random_user_data",
        "description": "Generate random user data",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {
            "payload": "={\n  \"number\": {{ $fromAI(\"amount\", \"The amount of user data to generate in integer format\", \"number\") }}\n}",
            "function_name": "random_user_data"
          },
          "schema": [
            {
              "id": "function_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "function_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "payload",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "77f8d96d-11da-4323-9925-58267da607c3",
      "name": "Generate random user data",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        2448,
        768
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4548cbe-f3fc-4911-901a-d73182d710a9",
              "name": "First name",
              "type": "string",
              "value": "={{ $json.firstname }}"
            },
            {
              "id": "6e573a27-ef03-4254-8f9b-2c471e1540c2",
              "name": "Last name",
              "type": "string",
              "value": "={{ $json.lastname }}"
            },
            {
              "id": "ac5b5806-bf8e-4e1a-a47d-e7180d31e98a",
              "name": "Email",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89d36f19-c7b4-4f53-9aec-2977bbd74de8",
      "name": "Return only some fields",
      "type": "n8n-nodes-base.set",
      "position": [
        3072,
        1600
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://official-joke-api.appspot.com/jokes/random/{{ $json.payload.number }}",
        "options": {}
      },
      "id": "a8cf7d60-b3d8-41cd-84d8-5cc1c299f33f",
      "name": "Joke Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2848,
        1808
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "obtain_jokes",
        "description": "Call this tool to obtain random jokes",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {
            "payload": "={\n  \"number\": {{ $fromAI(\"amount\", \"The amount of jokes to request\", \"number\") }}\n}",
            "function_name": "joke"
          },
          "schema": [
            {
              "id": "function_name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "function_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "payload",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "payload",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "76847e5d-2cc1-46f6-b0a6-0be81a5d0fea",
      "name": "Random Jokes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        2608,
        768
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## The My Functions MCP calls this sub-workflow every time.\nA subworkflow is a separate workflow that can be called by other workflows and is able to receive parameters.\nLearn more about sub-workflows **[here](https://docs.n8n.io/flow-logic/subworkflows/)**",
        "height": 1060,
        "width": 1260,
        "color": 7
      },
      "id": "2a34f767-7bf0-4c7c-8882-6dde62670383",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Google Calendar tools require credentials\nIf you don't have your Google Credentials set up in n8n yet, watch [this](https://www.youtube.com/watch?v=3Ai1EPznlAc) video to learn how to do it.\n\nIf you are using n8n Cloud plans, it's very intuitive to setup and you may not even need the tutorial.",
        "height": 520,
        "width": 620,
        "color": 5
      },
      "id": "eda3b2a5-845a-413f-b866-759fe5e1a0b9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Need help?\nFor getting help with this workflow, please create a topic on the community forums here:\nhttps://community.n8n.io/c/questions/",
        "height": 180,
        "width": 660
      },
      "id": "4b100035-d803-46aa-8540-08e69d7f2179",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1744
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "74ad0058-87b6-4a91-88a5-a0cb72bce84d",
      "name": "OpenAI 4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1248,
        624
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Why model 4o? 👆\nAfter testing 4o-mini it had some difficulties handling the calendar requests, while the 4o model handled it with ease.\n\nDepending on your prompt and tools, 4o-mini might be able to work well too, but it requires further testing.",
        "height": 240,
        "color": 7
      },
      "id": "c7f95bf5-23ed-4296-a2e0-dfb9fdebde94",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 140,
        "width": 3060,
        "color": 4
      },
      "id": "f5c974cc-4277-4ab4-ada6-cad1d16dda80",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Learn How to Build an MCP Server and Client",
        "height": 80,
        "width": 800,
        "color": 4
      },
      "id": "a304ab81-9ef6-485d-b35a-76d2cc3d5c91",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Author\n![Solomon](https://gravatar.com/avatar/79aa147f090807fe0f618fb47a1de932669e385bb0c84bf3a7f891ae7d174256?r=pg&d=retro&size=200)\n### Solomon\nFreelance consultant from Brazil, specializing in automations and data analysis. I work with select clients, addressing their toughest projects.\n\nFor business inquiries, email me at automations.solomon@gmail.com\nOr message me on [Telegram](https://t.me/salomaoguilherme) for a faster response.\n\n### Check out my other templates\n### 👉 https://n8n.io/creators/solomon/\n",
        "height": 660,
        "width": 660,
        "color": 7
      },
      "id": "148904d6-f94b-4ec0-a026-2e5fb921c07f",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 💡 **Want to learn advanced n8n skills and earn money building workflows?**\n‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎Check out [Scrapes Academy](https://www.skool.com/scrapes/about?ref=21f10ad99f4d46ba9b8aaea8c9f58c34)",
        "height": 80,
        "width": 620,
        "color": 4
      },
      "id": "36aeb3a3-bcc3-4d50-84f9-87065f908248",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "googlecal",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1056,
        944
      ],
      "id": "5d5d69e6-e4ae-4d10-a49f-404d26994ddf",
      "name": "Webhook",
      "webhookId": "62be98af-1fdc-40da-898d-0aef51cc6cc4"
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {},
  "shared": [
    {
      "updatedAt": "2025-09-28T00:37:00.708Z",
      "createdAt": "2025-09-28T00:37:00.708Z",
      "role": "workflow:owner",
      "workflowId": "IGRHyNej3xlcIur5",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-09-28T00:57:01.000Z",
  "versionId": "2384dfbc-630f-41ef-85d2-b8880debce40"
}