cyberomnes/n8nbkp/2025/10/rYLIhY3dIPUDjfMb.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "File": {
      "main": [
        [
          {
            "node": "Agent personnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Agent personnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio": {
      "main": [
        [
          {
            "node": "Agent personnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Agent personnel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BDD mails": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Input type": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Audio Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MP Discord": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a mail": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Url": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search drive": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search mails": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio Url": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Url": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only PDF File": {
      "main": [
        [
          {
            "node": "Get File Url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incorrect format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent personnel": {
      "main": [
        [
          {
            "node": "From audio to audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajouter un mail": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Input type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From audio to audio?": {
      "main": [
        [
          {
            "node": "Generate Audio Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix mimeType for Audio": {
      "main": [
        [
          {
            "node": "Send audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio Response": {
      "main": [
        [
          {
            "node": "Fix mimeType for Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create event Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent personnel",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-07T16:48:56.279Z",
  "id": "rYLIhY3dIPUDjfMb",
  "isArchived": false,
  "meta": {
    "templateId": "8920",
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp AI Assistant with Claude & GPT4O: Multi-format Processing & Productivity Suite",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "70d356b8-7257-4457-95fc-593a5ae107c6",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        1456
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dpSyEMVvGq5Bb1ta",
          "name": "Omnesmail"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Tu es une intelligence artificielle avancée spécialisée dans la description d’images. Ta fonction principale est de fournir des descriptions détaillées et précises d’images envoyées via WhatsApp.\n\n#Fonctionnalité principale :\nLorsque tu reçois une image, tu dois l’analyser en profondeur et fournir une description complète en français.\nTes descriptions doivent capturer à la fois les éléments évidents et les détails plus subtils présents dans l’image.\n\n#Directives pour la description d’image :\nCommence par une vue d’ensemble de ce que contient l’image.\nDécris les sujets principaux, les personnes, les objets et les relations entre eux.\nNote les éléments visuels importants tels que les couleurs, l’éclairage, la composition et la perspective.\nSignale tout texte visible dans l’image.\nDécris le décor ou l’environnement représenté.\nMentionne toute action ou événement notable en cours.\nCommente l’ambiance, le ton ou l’atmosphère si cela est pertinent.\nLorsque c’est applicable, identifie les monuments, personnes célèbres ou références culturelles.\n\n#Format de réponse :\nCommence toujours par « Image Description: » suivi de ton analyse.\nStructure la description de manière logique (du général au spécifique).\nUtilise un langage clair, précis et adapté à la description visuelle.\nPour les descriptions longues, organise le texte en paragraphes pour une meilleure lisibilité.\nTermine avec toute observation importante nécessitant une attention particulière.\n\n#Limitations :\nSi l’image est floue, de faible résolution ou difficile à interpréter, mentionne ces limites clairement.\nSi l’image contient du contenu potentiellement sensible, décris-la de manière factuelle, sans porter de jugement.\nNe fais aucune supposition sur des éléments que tu ne peux pas clairement identifier.\nTes descriptions doivent être informatives, objectives et approfondies, permettant à une personne qui ne voit pas l’image de se faire une représentation mentale fidèle de son contenu.",
        "inputType": "base64",
        "options": {
          "detail": "auto"
        }
      },
      "id": "4f254607-5d6f-4828-a122-acefc8f98c7f",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        976,
        1456
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "60f194a0-3749-4f69-834e-597015c351be",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        784,
        768
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "en"
        }
      },
      "id": "f34b223e-42f0-4c23-8d84-71c945f87b3d",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        960,
        768
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "5529202d-2b0c-4879-92fa-ea861f6c478c",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        864,
        2144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "1dbd7c31-6ea5-4045-83f6-b46762400808",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1040,
        2144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].document.id }}"
      },
      "id": "50781d73-3968-4c6f-b070-62f743e90686",
      "name": "Get File Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        672,
        2144
      ],
      "webhookId": "280bd5de-32d7-4d8f-93d2-e91e3b0bc161",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f52d2aaa-e0b2-45e5-8c4b-ceef42182a0d",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.messages[0].document.mime_type }}",
              "rightValue": "application/pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "d7ceba5c-7b0a-438f-b90c-9d998030ad31",
      "name": "Only PDF File",
      "type": "n8n-nodes-base.if",
      "position": [
        480,
        2144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.binary) {\n    const binaryPropertyNames = Object.keys(item.binary);\n    for (const propName of binaryPropertyNames) {\n      if (item.binary[propName].mimeType === 'audio/mp3') {\n        item.binary[propName].mimeType = 'audio/mpeg';\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "id": "ee3e8387-8637-4367-b9a8-526aeb007d3a",
      "name": "Fix mimeType for Audio",
      "type": "n8n-nodes-base.code",
      "position": [
        3712,
        976
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "752773604591912",
        "recipientPhoneNumber": "={{ $('Input type').item.json.contacts[0].wa_id }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "id": "55e9b3eb-100c-4058-b2d2-1223a3fbf2f1",
      "name": "Send audio",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        3888,
        976
      ],
      "webhookId": "d18b2c98-84e4-43cf-a532-0c47d5161684",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "633014906568769",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=Sorry but you can only send PDF files",
        "additionalFields": {}
      },
      "id": "de508f77-3f60-4808-9726-0cc0da2842c7",
      "name": "Incorrect format",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        800,
        2288
      ],
      "webhookId": "23834751-5066-48ba-8e19-549680df2b27",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c",
              "name": "text",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5aa0040-6b27-428f-8302-bb18a12bfe87",
      "name": "Text",
      "type": "n8n-nodes-base.set",
      "position": [
        496,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "219577d5-b028-48fc-90be-980f4171ab68",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "59211922-ef3c-4c1a-85b0-a328d7257202",
      "name": "Audio",
      "type": "n8n-nodes-base.set",
      "position": [
        1152,
        768
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67552183-de2e-494a-878e-c2948e8cb6bb",
              "name": "text",
              "type": "string",
              "value": "=Demande de l'utilisateur sur l'image :\n{{ \"Describe the following image\" || $('WhatsApp Trigger').item.json.messages[0].image.caption }}\n\nImage description:\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1fabd368-fe0e-4dbc-b027-7a2e16c82668",
      "name": "Image",
      "type": "n8n-nodes-base.set",
      "position": [
        1168,
        1456
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67552183-de2e-494a-878e-c2948e8cb6bb",
              "name": "text",
              "type": "string",
              "value": "=User request on the file:\n{{ \"Describe this file\" || $('Only PDF File').item.json.messages[0].document.caption }}\n\nFile content:\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9e279946-eaae-48da-bf7d-7bbd6617ad6b",
      "name": "File",
      "type": "n8n-nodes-base.set",
      "position": [
        1232,
        2144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "id": "2a81eaad-8eb3-4297-8b93-fa979d42274d",
      "name": "Get Image Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        608,
        1456
      ],
      "webhookId": "280bd5de-32d7-4d8f-93d2-e91e3b0bc161",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "id": "f8373aa3-e8fd-4cc1-912c-ced3bc6bdfce",
      "name": "Get Audio Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        592,
        768
      ],
      "webhookId": "87caa300-7204-47b5-959a-94f4a8fbf8cf",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('Agent personnel').item.json.output }}",
        "voice": "fable",
        "options": {}
      },
      "id": "1742fb29-d6b2-4528-9080-553ea4b7579e",
      "name": "Generate Audio Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3520,
        976
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Images",
        "height": 240,
        "width": 1028,
        "color": 6
      },
      "id": "bc97b264-1d90-4b45-89de-53152c188da1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## PDF Documents",
        "height": 352,
        "width": 1028,
        "color": 7
      },
      "id": "f26f9d45-64e8-4e5a-b3c0-1456c119d73e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        2080
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9d1d759-f585-4791-a743-b9d72951e77c",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8b5245a2-6017-47f6-b3de-fd433f5256f8",
      "name": "From audio to audio?",
      "type": "n8n-nodes-base.if",
      "position": [
        3232,
        976
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "08fd0c80-307e-4f45-b1de-35192ee4ec5e",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b7b64446-f1ea-4622-990c-22f3999a8269",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "202af928-a324-411a-bf15-68a349e7bf9e",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c63299e9-6069-4bc6-afb9-7beebf6e3d69",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].document }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b1fc3072-4a21-4bad-ba13-f5d7e13a610e",
      "name": "Input type",
      "type": "n8n-nodes-base.switch",
      "position": [
        -288,
        1152
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "## Audio Messages",
        "height": 240,
        "width": 1028,
        "color": 5
      },
      "id": "43108f3a-f132-4cb5-b4fe-edd995d6a239",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Text\n",
        "height": 304,
        "width": 260,
        "color": 3
      },
      "id": "a72662d8-972c-4fb5-915b-d78a30e5d49e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "504908de-7751-4374-ad1d-6f47c45cf358",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        1664,
        1248
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "qeYDW1dDdvbGOvw7",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Outil de recherche de contact : Base de données mails, tu trouvera la colonne Nom avec le nom prénom de la personne et la colonne mail avec le mail qui lui est associé.",
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appFh92e1OfEzpsx4",
          "cachedResultUrl": "https://airtable.com/appFh92e1OfEzpsx4",
          "cachedResultName": "Base mail"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbl0rtoKTWhCeilvL",
          "cachedResultUrl": "https://airtable.com/appFh92e1OfEzpsx4/tbl0rtoKTWhCeilvL",
          "cachedResultName": "Mails"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "options": {}
      },
      "id": "d3703f11-b9d6-42dc-b96c-a66fe3942ac7",
      "name": "BDD mails",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        2608,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Outil d'ajout de contact : Base de données mails, tu trouvera la colonne Nom avec le nom prénom de la personne et la colonne mail avec le mail qui lui est associé.",
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appFh92e1OfEzpsx4",
          "cachedResultUrl": "https://airtable.com/appFh92e1OfEzpsx4",
          "cachedResultName": "Base mail"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tbl0rtoKTWhCeilvL",
          "cachedResultUrl": "https://airtable.com/appFh92e1OfEzpsx4/tbl0rtoKTWhCeilvL",
          "cachedResultName": "Mails"
        },
        "columns": {
          "value": {
            "Nom": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nom', ``, 'string') }}",
            "Mails": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mails', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Nom",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Nom",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Mails",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Mails",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b90ab2e8-a7f1-436a-9f55-bdfae30dab6a",
      "name": "Ajouter un mail",
      "type": "n8n-nodes-base.airtableTool",
      "position": [
        2720,
        1248
      ],
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "dXFALL43MVdAt4s0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Chercher un document dans le drive",
        "resource": "fileFolder",
        "limit": 50,
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filter": {},
        "options": {}
      },
      "id": "b16ea121-07fa-41d1-8bbf-395392cad42b",
      "name": "Search drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        2464,
        1248
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "keTLaYS3Tdb2VXAF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Créer un évènement dans le Google Calendar d'Allan",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "allan@institut-du-referencement.com",
          "cachedResultName": "allan@institut-du-referencement.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "ed4ae529-8cc9-4b23-b4e2-4568d540cb09",
      "name": "Create event Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1952,
        1248
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akguFeu0y70N22uG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envoyer un email",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "1da44657-4554-4c65-bdb3-c62ee3fb36e1",
      "name": "Send a mail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2336,
        1248
      ],
      "webhookId": "246b45ea-faa1-4748-8be5-49d1cdc8dec3",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "r2eWisM8HAUWlfAB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a Private message",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1078022484261097594",
          "mode": "id"
        },
        "sendTo": "user",
        "userId": {
          "__rl": true,
          "value": "1078022484261097594",
          "mode": "id"
        },
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "43d4212e-9997-41a3-8713-b3e9067b977c",
      "name": "MP Discord",
      "type": "n8n-nodes-base.discordTool",
      "position": [
        2864,
        1248
      ],
      "webhookId": "d675b1fa-f5bf-4eed-9c76-bac2b931ddc3",
      "typeVersion": 2,
      "credentials": {
        "discordBotApi": {
          "id": "XMt8GVzfQaj1QqrA",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Chercher un email dans les mails reçu",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}",
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"
        },
        "options": {}
      },
      "id": "e38819b9-6a51-48c0-a9b4-a6a2fdfd9fb3",
      "name": "Search mails",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2224,
        1248
      ],
      "webhookId": "2b4ab66c-5a9b-400d-8d66-59c41d1ef0e1",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "r2eWisM8HAUWlfAB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Chercher un évènement dans le Google Calendar d'Allan",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "allan@institut-du-referencement.com",
          "cachedResultName": "allan@institut-du-referencement.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "ec844b72-7a9f-4658-879b-828403bb3dcb",
      "name": "Get many events in Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        2096,
        1248
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "akguFeu0y70N22uG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "id": "fa720ea4-d191-4399-b953-50940f4fa4dd",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2032,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "a0d80835-f4a4-4b7c-99f4-f6ed653064fa",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -496,
        1200
      ],
      "webhookId": "df8e6c0f-f0f6-4206-8391-57f9f8d088a0",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "35wNbZfEhYMBHlpW",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message : {{ $json.text }}\nDate : {{ $now }}",
        "options": {
          "systemMessage": "Tu es un assistant personnel WhatsApp. Tu peux effectuer les tâches suivantes quand Allan te le demande :\n\nAirtable : Ajouter/Récupérer des adresses email\nGmail : Envoyer/Chercher des emails\nGoogle Calendar : Créer/Chercher des événements\nGoogle Drive : Chercher des documents\nDiscord : Envoyer des message\nSerpAPI : Faire des recherches sur internet\n\nSi tu dois envoyer un mail consulte systématiquement la base de données Airtable pour récupérer les adresses mails. \n\nRéponds de manière concise et amicale. Exécute directement les demandes d'Allan en utilisant les outils appropriés. Si une demande n'est pas claire, pose une question courte pour clarifier."
        }
      },
      "id": "97e59f79-6389-4d6b-801f-4eb9df25a5e8",
      "name": "Agent personnel",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2176,
        976
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## Need more advanced automation solutions? Contact us for custom enterprise workflows!\n\n# Growth-AI.fr\n\n## https://www.linkedin.com/in/allanvaccarizi/\n## https://www.linkedin.com/in/hugo-marinier-%F0%9F%A7%B2-6537b633/",
        "height": 336,
        "width": 816
      },
      "id": "49fa5649-9461-4af7-8441-3cffcfdbc7c9",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 1: Message Reception and Classification",
        "height": 384,
        "width": 512,
        "color": 4
      },
      "id": "b39e2e3f-67b9-4e41-aa9d-3ce896c3ad18",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 2: Content Processing by Format",
        "height": 2640,
        "width": 1088
      },
      "id": "4976ec6b-24cc-4bc9-bab5-ad831d4f2f14",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 3: AI Assistant Processing",
        "height": 592,
        "width": 1520,
        "color": 6
      },
      "id": "dd42dc89-5763-43c7-837a-1ff19fbb6648",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Phase 4: Response Delivery",
        "height": 496,
        "width": 1088,
        "color": 2
      },
      "id": "9ffd3c6f-bf44-4934-a4bb-36b4c1957843",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3056,
        848
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\n\nSend a message to WhatsApp in any format (text, audio, image, or PDF document)\n\n### What the system does:\n\nReceives the incoming message via WhatsApp Trigger\nAnalyzes the message type using a switch node to detect format\nRoutes the message to the appropriate processing pathway based on content type\nValidates document formats (only PDF files are accepted for document processing)\n\n### Result:\n\n✅ Message automatically captured and classified by type\n✅ Invalid document formats blocked with error notification\n✅ Proper routing ensures optimal processing for each format",
        "height": 448,
        "width": 512,
        "color": 4
      },
      "id": "640f3e41-888d-4b05-ad49-b9bdc312ff2f",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        1456
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\nSend a regular text message through WhatsApp\n\n### What the system does:\n\nExtracts text content directly from the message body\nFormats the text for AI agent processing\nPasses clean text to the personal assistant agent\n\n### Result:\n✅ Text ready for immediate AI processing\n✅ No additional conversion required\n",
        "height": 304,
        "width": 740,
        "color": 3
      },
      "id": "deb5fe39-4bbb-4be2-a66f-39cf34c446ec",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## What you do:\n\nSend a voice message through WhatsApp\n\n### What the system does:\n\nRetrieves audio file URL from WhatsApp API\nDownloads the audio file using authenticated HTTP request\nTranscribes speech to text using OpenAI's Whisper model\nFormats transcribed content for AI agent processing\n\n### Result:\n\n✅ Voice messages automatically converted to text\n✅ Multi language transcription\n✅ Audio content accessible to AI assistant",
        "height": 384,
        "width": 1028,
        "color": 5
      },
      "id": "c6248ea8-8a2b-4d3b-8c74-15d9520c6615",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\n\nSend an image through WhatsApp (with optional caption for specific requests)\n\n### What the system does:\n\nRetrieves image URL from WhatsApp API\nDownloads the image file using authenticated HTTP request\nAnalyzes image content using GPT-4O-mini vision capabilities\nGenerates detailed description in French covering composition, objects, people, text, and atmosphere\nCombines user request with AI analysis for comprehensive understanding\n\n### Result:\n\n✅ Images automatically analyzed and described in detail\n✅ User requests incorporated into analysis\n✅ Visual content made accessible to text-based AI assistant\n",
        "height": 384,
        "width": 1028,
        "color": 6
      },
      "id": "87b49ebe-c8ef-4fa1-9333-5d804f963fd9",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1648
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\n\nSend a PDF file through WhatsApp (with optional caption for specific requests)\n\n### What the system does:\n\nValidates file format (rejects non-PDF files with error message)\nRetrieves document URL from WhatsApp API\nDownloads the PDF file using authenticated HTTP request\nExtracts text content from PDF using built-in extraction tools\nFormats extracted content with user request context\n\n### Result:\n\n✅ PDF content automatically extracted and processed\n✅ Document text made available for AI analysis\n✅ Invalid formats blocked to prevent errors\n",
        "height": 400,
        "width": 1028,
        "color": 7
      },
      "id": "dedf0c2d-c1d3-46a7-8d26-f572e10a0f5a",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        2448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### What you do:\n\nWait for the AI agent to process your request using available tools\n\n### What the system does:\n\nProcesses request using Claude Sonnet 4 language model\nAccesses conversation history via PostgreSQL chat memory\nUtilizes specialized tools including:\n\nSerpAPI for internet searches\nAirtable database for email contact management\nGmail integration for email operations\nGoogle Calendar for event management\nGoogle Drive for document searches\nDiscord messaging for notifications\nCalculator for mathematical operations\n\n\nExecutes requested actions automatically using appropriate tools\nGenerates comprehensive response based on processed information\n\n### Result:\n\n✅ Intelligent responses with access to multiple data sources\n✅ Automatic execution of complex tasks\n✅ Persistent conversation memory across sessions\n✅ Integration with productivity and communication tools",
        "height": 592,
        "width": 1520,
        "color": 6
      },
      "id": "cbc5b30d-042a-46fe-b164-460daa4bc25d",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        1488
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "752773604591912",
        "recipientPhoneNumber": "={{ $('Input type').item.json.messages[0].from }}",
        "textBody": "={{ $('Agent personnel').item.json.output }}",
        "additionalFields": {}
      },
      "id": "9d45c05b-b16c-4ea8-9804-2914c54257ee",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        3584,
        1168
      ],
      "webhookId": "6a2a5af1-f065-4261-8bc3-d6a381ae4bc6",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "EiZIAP6kCCcVEZ17",
          "name": "WhatsAppbusines access"
        }
      }
    },
    {
      "parameters": {
        "content": "### What you do:\n\nReceive the AI-generated response through WhatsApp\n\n### What the system does:\n\nDetermines response format based on original message type\nFor audio inputs: Converts text response to speech using OpenAI TTS\nFor other inputs: Sends text response directly\nHandles audio conversion: Fixes MIME type compatibility for WhatsApp\nDelivers response via WhatsApp to the original sender\n\n### Result:\n\n✅ Responses delivered in appropriate format (text or audio)\n✅ Audio responses maintain conversational flow for voice interactions\n✅ Seamless user experience across different input methods\n✅ Reliable delivery through WhatsApp platform",
        "height": 416,
        "width": 1088,
        "color": 2
      },
      "id": "c9bc1bc8-9637-4399-b519-ad45ba40ee2f",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3056,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1632,
        1056
      ],
      "id": "10db25f4-ed56-42d9-b65f-c873b24b9933",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1808,
        1280
      ],
      "id": "a8d1d047-52bc-4c28-83cf-7c3e7871dde2",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {},
  "shared": [
    {
      "updatedAt": "2025-10-07T16:48:56.293Z",
      "createdAt": "2025-10-07T16:48:56.293Z",
      "role": "workflow:owner",
      "workflowId": "rYLIhY3dIPUDjfMb",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-07T19:34:21.000Z",
  "versionId": "31eafb5f-6324-4985-a2cc-c736099d32c2"
}