cyberomnes/n8nbkp/2026/01/kAmCfaCAi_wMX4PagmQRi.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Reminder Webhook": {
      "main": [
        [
          {
            "node": "Extract Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Appointment Data": {
      "main": [
        [
          {
            "node": "Send SMS Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-28T13:45:23.091Z",
  "id": "kAmCfaCAi_wMX4PagmQRi",
  "isArchived": false,
  "meta": {
    "templateId": "6932"
  },
  "name": "Send automated appointment reminders via SMS with Twilio webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-reminder",
        "options": {}
      },
      "id": "9e7a0fea-06bb-4067-9643-ade20a9b3e94",
      "name": "Reminder Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        368,
        240
      ],
      "webhookId": "appointment-reminder-webhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// This node extracts and formats the appointment data from the incoming webhook.\n// The expected webhook payload from your booking software should look something like this:\n// {\n//   \"customer_name\": \"John Doe\",\n//   \"customer_phone\": \"+1234567890\",\n//   \"appointment_id\": \"appt_12345\",\n//   \"appointment_service\": \"Consultation\",\n//   \"appointment_time\": \"2025-08-04 14:00:00\"\n// }\n\nconst webhookData = $input.item.json.body || {};\n\n// Basic data extraction and validation\nconst customerName = webhookData.customer_name || 'Valued Customer';\nconst customerPhone = webhookData.customer_phone;\nconst appointmentTime = webhookData.appointment_time || 'today';\nconst serviceName = webhookData.appointment_service || 'your appointment';\nconst appointmentId = webhookData.appointment_id || 'no-id-provided';\n\nif (!customerPhone) {\n  throw new Error('No customer phone number found in webhook data');\n}\n\n// Format the appointment time for the SMS message\n// You can customize the date formatting here if needed.\nconst formattedTime = new Date(appointmentTime).toLocaleString('en-US', {\n  weekday: 'short',\n  month: 'short',\n  day: 'numeric',\n  hour: 'numeric',\n  minute: 'numeric'\n});\n\nreturn {\n  json: {\n    customer_name: customerName,\n    customer_phone: customerPhone,\n    appointment_time: formattedTime,\n    service_name: serviceName,\n    appointment_id: appointmentId,\n    raw_data: webhookData\n  }\n};\n"
      },
      "id": "670667bb-06eb-4db0-8976-1f7edcbd9f42",
      "name": "Extract Appointment Data",
      "type": "n8n-nodes-base.code",
      "position": [
        592,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "to": "={{ $json.customer_phone }}",
        "message": "={{ 'Hi ' + $json.customer_name + ', this is a friendly reminder for your ' + $json.service_name + ' appointment on ' + $json.appointment_time + '. We look forward to seeing you! - ' + $('Send SMS Reminder').parameters.from }}",
        "options": {}
      },
      "id": "a50e0125-c361-48b7-8f6c-b001e548ccfb",
      "name": "Send SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "position": [
        832,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-28T13:45:23.103Z",
      "createdAt": "2026-01-28T13:45:23.103Z",
      "role": "workflow:owner",
      "workflowId": "kAmCfaCAi_wMX4PagmQRi",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T13:45:23.091Z",
  "versionId": "c972070d-5cb4-414a-a7f7-632ea8101752"
}