cyberomnes/n8nbkp/2026/01/VttTue40FlbjD9nb.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-05T23:44:18.447Z",
    "createdAt": "2026-01-05T23:44:18.447Z",
    "versionId": "491c2211-9888-436a-a4cb-ce6cf3860355",
    "workflowId": "VttTue40FlbjD9nb",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "omnesforge-trending",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "e032c4ff-6509-4f0a-b7c3-ec8c4193a331",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -384,
          288
        ],
        "webhookId": "omnesforge-trending"
      },
      {
        "parameters": {
          "url": "https://trends.google.com/trends/trendingsearches/daily/rss?geo=US",
          "options": {}
        },
        "id": "d1b10c4c-b7ac-4635-8745-e3e72fe0052c",
        "name": "Fetch Google Trends",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -160,
          176
        ]
      },
      {
        "parameters": {
          "url": "https://api.twitter.com/2/tweets/search/recent?query=trending&max_results=10",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "id": "33459689-4b48-49dd-9428-1c4eb109480f",
        "name": "Fetch Twitter/X Trends",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -160,
          384
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "uwjRjiGPCB94gPfI",
            "name": "X bearer"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Process and categorize trending topics\nconst googleTrends = $('Fetch Google Trends').item?.json || {};\nconst twitterTrends = $('Fetch Twitter/X Trends').item?.json || {};\n\n// Default trending data (fallback)\nconst defaultTrends = [\n  {\n    rank: 1,\n    category: 'Lifestyle',\n    title: 'Winter Wellness',\n    description: 'Self-care and wellness content is trending! Share your morning routines, skincare tips, and mental health practices.',\n    tags: ['#wellness', '#selfcare', '#winterwellness', '#mindfulness']\n  },\n  {\n    rank: 2,\n    category: 'Business',\n    title: 'AI & Automation',\n    description: 'Content about AI tools and automation is getting massive engagement. Share your productivity tips!',\n    tags: ['#AI', '#automation', '#productivity', '#tech']\n  },\n  {\n    rank: 3,\n    category: 'Fashion',\n    title: 'Capsule Wardrobe',\n    description: 'Minimalist fashion and versatile pieces are resonating with audiences seeking sustainable style.',\n    tags: ['#capsulewardrobe', '#minimalistfashion', '#sustainable', '#ootd']\n  },\n  {\n    rank: 4,\n    category: 'Food',\n    title: 'Healthy Meal Prep',\n    description: 'Easy meal prep content continues to see high engagement. Share your weekly prep routines!',\n    tags: ['#mealprep', '#healthyeating', '#nutrition', '#foodie']\n  },\n  {\n    rank: 5,\n    category: 'Fitness',\n    title: 'Micro Workouts',\n    description: 'Quick 5-10 minute workout content is performing exceptionally well for busy audiences.',\n    tags: ['#microworkout', '#quickworkout', '#fitness', '#homefitness']\n  },\n  {\n    rank: 6,\n    category: 'Creative',\n    title: 'Behind The Scenes',\n    description: 'Authentic BTS content showing your process is building strong connections with followers.',\n    tags: ['#bts', '#behindthescenes', '#process', '#authentic']\n  }\n];\n\n// Try to parse real trends if available, otherwise use defaults\nlet trends = defaultTrends;\n\ntry {\n  if (googleTrends && typeof googleTrends === 'string') {\n    // Parse RSS feed if it's XML\n    const items = googleTrends.match(/<item>([\\s\\S]*?)<\\/item>/g) || [];\n    if (items.length > 0) {\n      trends = items.slice(0, 6).map((item, index) => {\n        const title = item.match(/<title>([^<]+)<\\/title>/)?.[1] || `Trend ${index + 1}`;\n        return {\n          rank: index + 1,\n          category: 'Trending',\n          title: title,\n          description: `This topic is currently trending on Google. Create content around \"${title}\" for maximum visibility.`,\n          tags: [`#${title.replace(/\\s+/g, '').toLowerCase()}`, '#trending', '#viral', '#explore']\n        };\n      });\n    }\n  }\n} catch (e) {\n  console.log('Using default trends due to parsing error');\n}\n\nreturn [{ json: { trends } }];"
        },
        "id": "701d6a24-5a33-4f0e-b62a-86945fd58c70",
        "name": "Process Trending Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          288
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.OPENAI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an Instagram trend analyst. Analyze the provided trending topics and enhance them with actionable insights for content creators.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Enhance these trending topics with specific content ideas and additional relevant hashtags:\\n\\n{{ JSON.stringify($json.trends) }}\\n\\nRespond in valid JSON format with the same structure but enhanced descriptions and more hashtags.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
          "options": {}
        },
        "id": "6475a993-af92-455b-ab97-d6aa30830747",
        "name": "Enhance with AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          288,
          288
        ]
      },
      {
        "parameters": {
          "jsCode": "// Parse enhanced trends or use original\ntry {\n  const response = $input.first().json;\n  const enhanced = JSON.parse(response.choices[0].message.content);\n  return [{ json: enhanced }];\n} catch (e) {\n  // Return original trends if AI enhancement fails\n  return [{ json: $('Process Trending Data').item.json }];\n}"
        },
        "id": "90e2bbf5-3a14-4211-bc97-e2f397ab2de5",
        "name": "Parse Enhanced",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          288
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "eed0a55d-5b6d-4b23-a381-5190e09949cb",
        "name": "Respond with Trends",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          720,
          288
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Fetch Google Trends",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Twitter/X Trends",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Google Trends": {
        "main": [
          [
            {
              "node": "Process Trending Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Twitter/X Trends": {
        "main": [
          [
            {
              "node": "Process Trending Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Trending Data": {
        "main": [
          [
            {
              "node": "Enhance with AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enhance with AI": {
        "main": [
          [
            {
              "node": "Parse Enhanced",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Enhanced": {
        "main": [
          [
            {
              "node": "Respond with Trends",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cyber Omnes",
    "name": null,
    "description": null
  },
  "activeVersionId": "491c2211-9888-436a-a4cb-ce6cf3860355",
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Google Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Twitter/X Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Trends": {
      "main": [
        [
          {
            "node": "Process Trending Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Twitter/X Trends": {
      "main": [
        [
          {
            "node": "Process Trending Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Trending Data": {
      "main": [
        [
          {
            "node": "Enhance with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance with AI": {
      "main": [
        [
          {
            "node": "Parse Enhanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enhanced": {
      "main": [
        [
          {
            "node": "Respond with Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-01T17:57:44.211Z",
  "id": "VttTue40FlbjD9nb",
  "isArchived": false,
  "meta": null,
  "name": "OmnesForge AI - Trending Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "omnesforge-trending",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e032c4ff-6509-4f0a-b7c3-ec8c4193a331",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        288
      ],
      "webhookId": "omnesforge-trending"
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/trendingsearches/daily/rss?geo=US",
        "options": {}
      },
      "id": "d1b10c4c-b7ac-4635-8745-e3e72fe0052c",
      "name": "Fetch Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets/search/recent?query=trending&max_results=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "33459689-4b48-49dd-9428-1c4eb109480f",
      "name": "Fetch Twitter/X Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        384
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "uwjRjiGPCB94gPfI",
          "name": "X bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process and categorize trending topics\nconst googleTrends = $('Fetch Google Trends').item?.json || {};\nconst twitterTrends = $('Fetch Twitter/X Trends').item?.json || {};\n\n// Default trending data (fallback)\nconst defaultTrends = [\n  {\n    rank: 1,\n    category: 'Lifestyle',\n    title: 'Winter Wellness',\n    description: 'Self-care and wellness content is trending! Share your morning routines, skincare tips, and mental health practices.',\n    tags: ['#wellness', '#selfcare', '#winterwellness', '#mindfulness']\n  },\n  {\n    rank: 2,\n    category: 'Business',\n    title: 'AI & Automation',\n    description: 'Content about AI tools and automation is getting massive engagement. Share your productivity tips!',\n    tags: ['#AI', '#automation', '#productivity', '#tech']\n  },\n  {\n    rank: 3,\n    category: 'Fashion',\n    title: 'Capsule Wardrobe',\n    description: 'Minimalist fashion and versatile pieces are resonating with audiences seeking sustainable style.',\n    tags: ['#capsulewardrobe', '#minimalistfashion', '#sustainable', '#ootd']\n  },\n  {\n    rank: 4,\n    category: 'Food',\n    title: 'Healthy Meal Prep',\n    description: 'Easy meal prep content continues to see high engagement. Share your weekly prep routines!',\n    tags: ['#mealprep', '#healthyeating', '#nutrition', '#foodie']\n  },\n  {\n    rank: 5,\n    category: 'Fitness',\n    title: 'Micro Workouts',\n    description: 'Quick 5-10 minute workout content is performing exceptionally well for busy audiences.',\n    tags: ['#microworkout', '#quickworkout', '#fitness', '#homefitness']\n  },\n  {\n    rank: 6,\n    category: 'Creative',\n    title: 'Behind The Scenes',\n    description: 'Authentic BTS content showing your process is building strong connections with followers.',\n    tags: ['#bts', '#behindthescenes', '#process', '#authentic']\n  }\n];\n\n// Try to parse real trends if available, otherwise use defaults\nlet trends = defaultTrends;\n\ntry {\n  if (googleTrends && typeof googleTrends === 'string') {\n    // Parse RSS feed if it's XML\n    const items = googleTrends.match(/<item>([\\s\\S]*?)<\\/item>/g) || [];\n    if (items.length > 0) {\n      trends = items.slice(0, 6).map((item, index) => {\n        const title = item.match(/<title>([^<]+)<\\/title>/)?.[1] || `Trend ${index + 1}`;\n        return {\n          rank: index + 1,\n          category: 'Trending',\n          title: title,\n          description: `This topic is currently trending on Google. Create content around \"${title}\" for maximum visibility.`,\n          tags: [`#${title.replace(/\\s+/g, '').toLowerCase()}`, '#trending', '#viral', '#explore']\n        };\n      });\n    }\n  }\n} catch (e) {\n  console.log('Using default trends due to parsing error');\n}\n\nreturn [{ json: { trends } }];"
      },
      "id": "701d6a24-5a33-4f0e-b62a-86945fd58c70",
      "name": "Process Trending Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an Instagram trend analyst. Analyze the provided trending topics and enhance them with actionable insights for content creators.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Enhance these trending topics with specific content ideas and additional relevant hashtags:\\n\\n{{ JSON.stringify($json.trends) }}\\n\\nRespond in valid JSON format with the same structure but enhanced descriptions and more hashtags.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "6475a993-af92-455b-ab97-d6aa30830747",
      "name": "Enhance with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse enhanced trends or use original\ntry {\n  const response = $input.first().json;\n  const enhanced = JSON.parse(response.choices[0].message.content);\n  return [{ json: enhanced }];\n} catch (e) {\n  // Return original trends if AI enhancement fails\n  return [{ json: $('Process Trending Data').item.json }];\n}"
      },
      "id": "90e2bbf5-3a14-4211-bc97-e2f397ab2de5",
      "name": "Parse Enhanced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "eed0a55d-5b6d-4b23-a381-5190e09949cb",
      "name": "Respond with Trends",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        288
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-01T17:57:44.240Z",
      "createdAt": "2026-01-01T17:57:44.240Z",
      "role": "workflow:owner",
      "workflowId": "VttTue40FlbjD9nb",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-01T17:48:49.652Z",
      "createdAt": "2026-01-01T17:48:49.652Z",
      "id": "ejHtzObGYyAPdr4l",
      "name": "OmnesForge AI"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-05T23:44:18.439Z",
  "versionId": "491c2211-9888-436a-a4cb-ce6cf3860355"
}