cyberomnes/n8nbkp/2026/01/VttTue40FlbjD9nb.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-01T17:57:44.274Z",
    "createdAt": "2026-01-01T17:57:44.274Z",
    "versionId": "3286c09f-3245-400b-b240-efa34075ae5c",
    "workflowId": "VttTue40FlbjD9nb",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "omnesforge-trending",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "427570e2-b17d-4251-bd04-8699e12d667e",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -224,
          112
        ],
        "webhookId": "omnesforge-trending"
      },
      {
        "parameters": {
          "url": "https://trends.google.com/trends/trendingsearches/daily/rss?geo=US",
          "options": {}
        },
        "id": "93af53ed-2ecb-4c7c-8e90-91cda20e7dc7",
        "name": "Fetch Google Trends",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://api.twitter.com/2/tweets/search/recent?query=trending&max_results=10",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "id": "a3cb1977-2ff0-43aa-b0b7-1bf215f07b35",
        "name": "Fetch Twitter/X Trends",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          208
        ],
        "credentials": {
          "httpBearerAuth": {
            "id": "uwjRjiGPCB94gPfI",
            "name": "X bearer"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Process and categorize trending topics\nconst googleTrends = $('Fetch Google Trends').item?.json || {};\nconst twitterTrends = $('Fetch Twitter/X Trends').item?.json || {};\n\n// Default trending data (fallback)\nconst defaultTrends = [\n  {\n    rank: 1,\n    category: 'Lifestyle',\n    title: 'Winter Wellness',\n    description: 'Self-care and wellness content is trending! Share your morning routines, skincare tips, and mental health practices.',\n    tags: ['#wellness', '#selfcare', '#winterwellness', '#mindfulness']\n  },\n  {\n    rank: 2,\n    category: 'Business',\n    title: 'AI & Automation',\n    description: 'Content about AI tools and automation is getting massive engagement. Share your productivity tips!',\n    tags: ['#AI', '#automation', '#productivity', '#tech']\n  },\n  {\n    rank: 3,\n    category: 'Fashion',\n    title: 'Capsule Wardrobe',\n    description: 'Minimalist fashion and versatile pieces are resonating with audiences seeking sustainable style.',\n    tags: ['#capsulewardrobe', '#minimalistfashion', '#sustainable', '#ootd']\n  },\n  {\n    rank: 4,\n    category: 'Food',\n    title: 'Healthy Meal Prep',\n    description: 'Easy meal prep content continues to see high engagement. Share your weekly prep routines!',\n    tags: ['#mealprep', '#healthyeating', '#nutrition', '#foodie']\n  },\n  {\n    rank: 5,\n    category: 'Fitness',\n    title: 'Micro Workouts',\n    description: 'Quick 5-10 minute workout content is performing exceptionally well for busy audiences.',\n    tags: ['#microworkout', '#quickworkout', '#fitness', '#homefitness']\n  },\n  {\n    rank: 6,\n    category: 'Creative',\n    title: 'Behind The Scenes',\n    description: 'Authentic BTS content showing your process is building strong connections with followers.',\n    tags: ['#bts', '#behindthescenes', '#process', '#authentic']\n  }\n];\n\n// Try to parse real trends if available, otherwise use defaults\nlet trends = defaultTrends;\n\ntry {\n  if (googleTrends && typeof googleTrends === 'string') {\n    // Parse RSS feed if it's XML\n    const items = googleTrends.match(/<item>([\\s\\S]*?)<\\/item>/g) || [];\n    if (items.length > 0) {\n      trends = items.slice(0, 6).map((item, index) => {\n        const title = item.match(/<title>([^<]+)<\\/title>/)?.[1] || `Trend ${index + 1}`;\n        return {\n          rank: index + 1,\n          category: 'Trending',\n          title: title,\n          description: `This topic is currently trending on Google. Create content around \"${title}\" for maximum visibility.`,\n          tags: [`#${title.replace(/\\s+/g, '').toLowerCase()}`, '#trending', '#viral', '#explore']\n        };\n      });\n    }\n  }\n} catch (e) {\n  console.log('Using default trends due to parsing error');\n}\n\nreturn [{ json: { trends } }];"
        },
        "id": "6f16b86a-72f0-4ca5-9474-3f4c83b15652",
        "name": "Process Trending Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.OPENAI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an Instagram trend analyst. Analyze the provided trending topics and enhance them with actionable insights for content creators.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Enhance these trending topics with specific content ideas and additional relevant hashtags:\\n\\n{{ JSON.stringify($json.trends) }}\\n\\nRespond in valid JSON format with the same structure but enhanced descriptions and more hashtags.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
          "options": {}
        },
        "id": "ac68ccdf-76e9-4d7c-8393-03180393f437",
        "name": "Enhance with AI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          112
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "dpSyEMVvGq5Bb1ta",
            "name": "Omnesmail"
          },
          "openAiApi": {
            "id": "hIbzO0TgpkKLndpi",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse enhanced trends or use original\ntry {\n  const response = $input.first().json;\n  const enhanced = JSON.parse(response.choices[0].message.content);\n  return [{ json: enhanced }];\n} catch (e) {\n  // Return original trends if AI enhancement fails\n  return [{ json: $('Process Trending Data').item.json }];\n}"
        },
        "id": "9ef2354c-470d-447a-b23b-3881e7158181",
        "name": "Parse Enhanced",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          112
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "id": "04646db3-30cb-4daf-8c3d-7396e7eedf22",
        "name": "Respond with Trends",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          880,
          112
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Fetch Google Trends",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch Twitter/X Trends",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Google Trends": {
        "main": [
          [
            {
              "node": "Process Trending Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Twitter/X Trends": {
        "main": [
          [
            {
              "node": "Process Trending Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Trending Data": {
        "main": [
          [
            {
              "node": "Enhance with AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enhance with AI": {
        "main": [
          [
            {
              "node": "Parse Enhanced",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Enhanced": {
        "main": [
          [
            {
              "node": "Respond with Trends",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cyber Omnes",
    "name": null,
    "description": null
  },
  "activeVersionId": "3286c09f-3245-400b-b240-efa34075ae5c",
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Google Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Twitter/X Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Trends": {
      "main": [
        [
          {
            "node": "Process Trending Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Twitter/X Trends": {
      "main": [
        [
          {
            "node": "Process Trending Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Trending Data": {
      "main": [
        [
          {
            "node": "Enhance with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance with AI": {
      "main": [
        [
          {
            "node": "Parse Enhanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Enhanced": {
      "main": [
        [
          {
            "node": "Respond with Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-01T17:57:44.211Z",
  "id": "VttTue40FlbjD9nb",
  "isArchived": false,
  "meta": null,
  "name": "OmnesForge AI - Trending Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "omnesforge-trending",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "427570e2-b17d-4251-bd04-8699e12d667e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ],
      "webhookId": "omnesforge-trending"
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/trendingsearches/daily/rss?geo=US",
        "options": {}
      },
      "id": "93af53ed-2ecb-4c7c-8e90-91cda20e7dc7",
      "name": "Fetch Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets/search/recent?query=trending&max_results=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "a3cb1977-2ff0-43aa-b0b7-1bf215f07b35",
      "name": "Fetch Twitter/X Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        208
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "uwjRjiGPCB94gPfI",
          "name": "X bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process and categorize trending topics\nconst googleTrends = $('Fetch Google Trends').item?.json || {};\nconst twitterTrends = $('Fetch Twitter/X Trends').item?.json || {};\n\n// Default trending data (fallback)\nconst defaultTrends = [\n  {\n    rank: 1,\n    category: 'Lifestyle',\n    title: 'Winter Wellness',\n    description: 'Self-care and wellness content is trending! Share your morning routines, skincare tips, and mental health practices.',\n    tags: ['#wellness', '#selfcare', '#winterwellness', '#mindfulness']\n  },\n  {\n    rank: 2,\n    category: 'Business',\n    title: 'AI & Automation',\n    description: 'Content about AI tools and automation is getting massive engagement. Share your productivity tips!',\n    tags: ['#AI', '#automation', '#productivity', '#tech']\n  },\n  {\n    rank: 3,\n    category: 'Fashion',\n    title: 'Capsule Wardrobe',\n    description: 'Minimalist fashion and versatile pieces are resonating with audiences seeking sustainable style.',\n    tags: ['#capsulewardrobe', '#minimalistfashion', '#sustainable', '#ootd']\n  },\n  {\n    rank: 4,\n    category: 'Food',\n    title: 'Healthy Meal Prep',\n    description: 'Easy meal prep content continues to see high engagement. Share your weekly prep routines!',\n    tags: ['#mealprep', '#healthyeating', '#nutrition', '#foodie']\n  },\n  {\n    rank: 5,\n    category: 'Fitness',\n    title: 'Micro Workouts',\n    description: 'Quick 5-10 minute workout content is performing exceptionally well for busy audiences.',\n    tags: ['#microworkout', '#quickworkout', '#fitness', '#homefitness']\n  },\n  {\n    rank: 6,\n    category: 'Creative',\n    title: 'Behind The Scenes',\n    description: 'Authentic BTS content showing your process is building strong connections with followers.',\n    tags: ['#bts', '#behindthescenes', '#process', '#authentic']\n  }\n];\n\n// Try to parse real trends if available, otherwise use defaults\nlet trends = defaultTrends;\n\ntry {\n  if (googleTrends && typeof googleTrends === 'string') {\n    // Parse RSS feed if it's XML\n    const items = googleTrends.match(/<item>([\\s\\S]*?)<\\/item>/g) || [];\n    if (items.length > 0) {\n      trends = items.slice(0, 6).map((item, index) => {\n        const title = item.match(/<title>([^<]+)<\\/title>/)?.[1] || `Trend ${index + 1}`;\n        return {\n          rank: index + 1,\n          category: 'Trending',\n          title: title,\n          description: `This topic is currently trending on Google. Create content around \"${title}\" for maximum visibility.`,\n          tags: [`#${title.replace(/\\s+/g, '').toLowerCase()}`, '#trending', '#viral', '#explore']\n        };\n      });\n    }\n  }\n} catch (e) {\n  console.log('Using default trends due to parsing error');\n}\n\nreturn [{ json: { trends } }];"
      },
      "id": "6f16b86a-72f0-4ca5-9474-3f4c83b15652",
      "name": "Process Trending Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-turbo-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an Instagram trend analyst. Analyze the provided trending topics and enhance them with actionable insights for content creators.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Enhance these trending topics with specific content ideas and additional relevant hashtags:\\n\\n{{ JSON.stringify($json.trends) }}\\n\\nRespond in valid JSON format with the same structure but enhanced descriptions and more hashtags.\"\n    }\n  ],\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "ac68ccdf-76e9-4d7c-8393-03180393f437",
      "name": "Enhance with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dpSyEMVvGq5Bb1ta",
          "name": "Omnesmail"
        },
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse enhanced trends or use original\ntry {\n  const response = $input.first().json;\n  const enhanced = JSON.parse(response.choices[0].message.content);\n  return [{ json: enhanced }];\n} catch (e) {\n  // Return original trends if AI enhancement fails\n  return [{ json: $('Process Trending Data').item.json }];\n}"
      },
      "id": "9ef2354c-470d-447a-b23b-3881e7158181",
      "name": "Parse Enhanced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "04646db3-30cb-4daf-8c3d-7396e7eedf22",
      "name": "Respond with Trends",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        112
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-01T17:57:44.240Z",
      "createdAt": "2026-01-01T17:57:44.240Z",
      "role": "workflow:owner",
      "workflowId": "VttTue40FlbjD9nb",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-01T17:48:49.652Z",
      "createdAt": "2026-01-01T17:48:49.652Z",
      "id": "ejHtzObGYyAPdr4l",
      "name": "OmnesForge AI"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T17:57:45.620Z",
  "versionId": "3286c09f-3245-400b-b240-efa34075ae5c"
}