cyberomnes/n8nbkp/2024/08/afk5Jx0QPARf74QY.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-29T22:54:22.421Z",
  "id": "afk5Jx0QPARf74QY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 23",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d4c63e4d-d80f-4f7c-b631-1a16aad49516",
        "options": {}
      },
      "id": "7a85f403-864c-4093-b527-d6077be12a86",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        640,
        300
      ],
      "webhookId": "d4c63e4d-d80f-4f7c-b631-1a16aad49516"
    },
    {
      "parameters": {
        "url": "https://app.scrapingbee.com/api/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "WIKBB3DYMPTZ7KICT01JJ11MDVQCB2KH3Z7KS99XLDSL4EPM73H9PQE7AU12L9QAVF42E2GVDXQ5QU8Q"
            },
            {
              "name": "url",
              "value": "={{ $json.body.site }}"
            },
            {
              "name": "render_js",
              "value": "false"
            },
            {
              "name": "json_response",
              "value": "true"
            },
            {
              "name": "block_resources",
              "value": "false"
            },
            {
              "name": "js_scenario",
              "value": "{\"instructions\":[{\"click\":\"#button_id\"},{\"wait\":1000},{\"wait_for\":\"#slow_div\"},{\"scroll_x\":1000},{\"scroll_y\":1000},{\"fill\":[\"#input_1\",\"value_1\"]},{\"evaluate\":\"console.log(window)\"}]}"
            },
            {
              "name": "json_response",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "5125d179-8fcf-4041-9e47-183833aa31ee",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        220
      ]
    },
    {
      "parameters": {},
      "id": "2deab3f5-9d88-4971-b6c8-e2148a0c4af3",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        880,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bland.ai/v1/calls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "d590eb5a-0778-49c5-9e4b-d3be4f7c79b2",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8g5ht4UZRKmFSff",
          "name": "AICALL"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hooks.omneslink.com",
            "x-real-ip": "184.161.202.171",
            "x-forwarded-for": "184.161.202.171",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "79",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"99\", \"Google Chrome\";v=\"127\", \"Chromium\";v=\"127\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/127.0.0.0 Safari/537.36",
            "sec-ch-ua-platform": "\"Windows\"",
            "accept": "*/*",
            "origin": "https://omnes.link",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "referer": "https://omnes.link/",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,pt;q=0.8",
            "priority": "u=1, i"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Afonso Avelar",
            "telefone": "+552113123",
            "site": "https://omneslink.com"
          }
        }
      }
    ]
  },
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-30T00:16:26.000Z",
  "versionId": "a3c54857-1fbf-48b6-b7c0-8502da6bd050"
}