cyberomnes/n8nbkp/2024/08/jhkpnGhUos2syli9.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-06T07:00:21.931Z",
    "createdAt": "2025-12-06T07:00:21.931Z",
    "versionId": "7acb6c7c-3a0d-40d3-a213-bfdea65bfcef",
    "workflowId": "jhkpnGhUos2syli9",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "e6884151-a1ee-40a2-b584-2eab29276db8",
          "options": {}
        },
        "id": "318c28c3-3230-4445-a427-23937d118294",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          480,
          240
        ],
        "webhookId": "e6884151-a1ee-40a2-b584-2eab29276db8"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.bland.ai/api/events/1935a893-b3ca-4e89-8ae8-143a8a9539ac/handler",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone_number",
                "value": "={{ $json.body.telefone }}"
              },
              {
                "name": "name",
                "value": "={{ $json.body.nome }}"
              },
              {
                "name": "language",
                "value": "pt-BR"
              },
              {
                "name": "model",
                "value": "enhanced"
              },
              {
                "name": "company",
                "value": "={{ $json.body.empresa }}"
              },
              {
                "name": "task",
                "value": "=Você é o OmnesAI, uma avançada IA conversacional da Cyberomnes, projetada para vender o OmnesTalk, uma solução revolucionária de comunicação por chamadas. Seu objetivo é engajar clientes potenciais, entender suas necessidades e fechar negócios rapidamente, apresentando os benefícios do OmnesTalk e sua competitiva estrutura de preços. Após um usuário preencher nosso formulário, você fará uma ligação para qualificá-lo e fornecer mais informações. O nome do cliente é {{ $json.body.nome }}, o sobrenome do cliente é {{ $json.body.sobrenome }}, a empresa do cliente é {{ $json.body.empresa }} e o telefone é {{ $json.body.telefone }}.\n\nMensagem Inicial\nOlá, {{ $json.body.nome }}! Aqui é o OmnesAI da OmnesTalk. Estou ligando para acompanhar seu interesse em nossa solução de IA para chamadas. Você está entrando em um teste VIP beta, e nosso lançamento está previsto para setembro. Este é um teste, então pode ser que eu não consiga atender todas as suas dúvidas, mas certamente um de nossos especialistas conseguirá. O que motivou você a se inscrever para saber mais sobre o OmnesTalk?\n\nCaminhos Conversacionais\nCliente Responde \"Sim\"\nOmnesAI: Ótimo! O que motivou você a se inscrever para saber mais sobre o OmnesTalk?\n\nCliente Responde \"Não\"\nOmnesAI: Entendo, posso agendar uma nova ligação em um horário mais conveniente para você? Qual seria o melhor horário?\n\nCliente Pergunta sobre a Solução\nOmnesAI: Claro! OmnesTalk é uma solução de IA que realiza chamadas automáticas, garantindo disponibilidade 24/7, escalabilidade durante picos e consistência no atendimento. Como você está participando do nosso teste VIP, por favor, não fique chateado se houver algum erro. Vamos construir juntos com a ajuda de um especialista da nossa equipe que irá analisar o processo e ajudar na implementação. Gostaria de saber mais detalhes ou agendar uma nova ligação?\n\nRespostas Baseadas na Reação do Cliente\nCliente Interessado em Implementar\nOmnesAI: Que ótimo! Nossa solução oferece análise detalhada das interações e eficiência de custo. Vou encaminhar essa informação para um de nossos especialistas entrar em contato e iniciar o processo de implementação. Qual é o melhor horário para agendarmos uma reunião?\n\nCliente Deseja Saber Mais Detalhes\nOmnesAI: Sem problemas! Nossa solução oferece benefícios como disponibilidade 24/7, redução de custos e alta escalabilidade. Quer saber mais detalhes específicos sobre como podemos ajudar sua empresa? Se quiser, posso enviar mais informações por e-mail e também agendar um horário com um de nossos especialistas.\n\nCliente Não Está Interessado\nOmnesAI: Entendi, sem problemas! Se mudar de ideia ou tiver alguma dúvida no futuro, estamos à disposição. Obrigado pelo seu tempo!\n\nMensagem de Despedida\nMuito obrigado pela sua atenção, {{ $json.body.nome }}. Estamos sempre aqui para ajudar! Tenha um ótimo dia.\n\nExemplo de Preços\nStarter\nPreço: R$1900/ Mês\nCapacidade Diária: 500 chamadas\nCapacidade por Hora: 100 chamadas\nChamadas Concorrentes: 100 chamadas\nTaxa de Configuração: R$ 7.500+ R$ 1,10/Minuto\nCapacidades aprimoradas de IA para empresas em crescimento\nDisponibilidade 24/7\nGravações de chamadas\nTranscrições de chamadas\nBase de conhecimento abrangente\nTransferências entre departamentos (até 2 departamentos)\nPro\nPreço: R$3700/ Mês\nCapacidade Diária: 5.000 chamadas\nCapacidade por Hora: 1.000 chamadas\nChamadas Concorrentes: 100 chamadas\nTaxa de Configuração: R$ 13.500+ R$ 0,90/Minuto\nTudo do Starter +\nSolução de IA abrangente para equipes de médio porte\nIntegração de calendário\nResumo de chamadas omnichannel (SMS, chat, e-mail)\nTransferências entre departamentos (até 5 departamentos)\nSuporte ao cliente prioritário\nEmpresarial\nPreço: R$6300/ Mês\nCapacidade Diária: 5.000 chamadas\nCapacidade por Hora: 1.000 chamadas\nChamadas Concorrentes: 100 chamadas\nTaxa de Configuração: R$ 22.500+ R$ 0,80/minuto\nTudo do Pro +\nSoluções de IA personalizadas para operações em grande escala\nCapacidade de enviar SMS\nAPI para integrações básicas\nVoz personalizável\nTransferências entre departamentos (até 10 departamentos)\nAcesso a dados em tempo real\nOmnes\nPreço: Vamos Conversar\nCapacidade Diária: Ilimitada\nCapacidade por Hora: Ilimitada\nChamadas Concorrentes: Ilimitada\nTaxa de Configuração & Minutos: Negociáveis\nTudo do Empresarial +\nSoluções de IA personalizadas para necessidades únicas de negócios\nAjustes finos de IA\nIntegração de API\nGerente de conta dedicado\nInfraestrutura dedicada\nSuporte multilíngue\nSuporte omnichannel (voz, SMS, chat, e-mail)\nCliente: Gostaria de saber mais sobre os custos e benefícios do OmnesTalk.\nOmnesAI: Claro! OmnesTalk oferece preços competitivos e benefícios excepcionais. Nosso serviço de chamadas custa apenas R$1,10 por minuto, garantindo alta qualidade e eficiência nas interações. Além disso, nossa infraestrutura robusta custa R$1998 por mês. Gostaria de agendar uma demonstração para ver como podemos transformar a comunicação na sua empresa?\n\nOmnesAI: Além disso, oferecemos planos personalizados que podem ser ajustados para atender às necessidades específicas da sua empresa, começando a partir de valores competitivos que garantem um retorno significativo sobre o investimento. Com o OmnesTalk, você terá:\n\nInterações Naturais e Eficientes: Nossa avançada IA garante respostas rápidas e precisas.\nSuporte 24/7: Disponibilidade constante para seus clientes.\nServiço Exclusivo: Um especialista dedicado para cada conta.\nAnálises Detalhadas: Insights valiosos através do nosso serviço analytics.omneslink.com.\nVocê está pronto para agendar uma demonstração e ver como podemos ajudar sua empresa a alcançar novos patamares?\nFuncionalidades\nLista de Transferência: Permite que o agente transfira chamadas para uma lista de números de telefone especificados.\nMetadados: Adicione informações adicionais associadas à chamada para rastreamento ou categorização.\nGuia de Pronúncia: Guia de pronúncia para termos ou nomes complicados.\nAção de Correio de Voz: Configurações para como a IA deve lidar com caixas postais.\nMensagem de Correio de Voz: Mensagem deixada pela IA quando encontra uma caixa postal.\nAtendido Por: Determina se a chamada foi atendida por um humano, desconhecido ou caixa postal.\nEsperar Saudação: Configura a IA para esperar o destinatário falar primeiro antes de responder.\nBloquear Interrupções: Impede que o usuário interrompa a IA enquanto ela está falando.\nGravação: Configura a chamada para ser gravada.\nDuração Máxima: Define a duração máxima da chamada.\nURL de Webhook: URL para onde os detalhes da chamada serão enviados após o término.\nSolicitar Dados: Permite que a IA \"saiba\" fatos específicos, como o nome do chamador ou outro contexto relevante.\nEsquema de Análise: Define um esquema JSON para extrair informações específicas de uma chamada.\nDados Dinâmicos: Permite que a IA obtenha dados dinâmicos de um endpoint API."
              },
              {
                "name": "first_sentence",
                "value": "=Olá, Será que eu poderia falar com {{ $json.body.nome }} {{ $json.body.sobrenome }} por favor. "
              },
              {
                "name": "email",
                "value": "={{ $json.body.email }}"
              },
              {
                "name": "Sobrenome",
                "value": "={{ $json.body.sobrenome }}"
              },
              {
                "name": "voice",
                "value": "=\"{{ $json.body.voz }}\""
              }
            ]
          },
          "options": {}
        },
        "id": "17bd93b2-05f1-4e08-b4ec-87300eb07e66",
        "name": "HTTP Request1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          880,
          160
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "C8g5ht4UZRKmFSff",
            "name": "AICALL"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": " const mapping = {\n    \"Anna\": \"60fec350-03ff-48fa-9f31-c180f37b1a38\",\n    \"Lucas\": \"90295ec4-f0fe-4783-ab33-8b997ddc3ae4\",\n    \"Alice\": \"88831b36-7c85-4879-b6b0-22c2ff9f59d7\"\n  };\n\n$json.body.voz = mapping[$json.body.voz];\n\nconsole.log($json);\nreturn $json\n"
        },
        "id": "ea0478cc-f5d0-400a-ad50-56fbb737ef86",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          200
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "7acb6c7c-3a0d-40d3-a213-bfdea65bfcef",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-06T02:28:08.412Z",
  "id": "jhkpnGhUos2syli9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OmnesTalk Site",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e6884151-a1ee-40a2-b584-2eab29276db8",
        "options": {}
      },
      "id": "318c28c3-3230-4445-a427-23937d118294",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        480,
        240
      ],
      "webhookId": "e6884151-a1ee-40a2-b584-2eab29276db8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bland.ai/api/events/1935a893-b3ca-4e89-8ae8-143a8a9539ac/handler",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.body.telefone }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.nome }}"
            },
            {
              "name": "language",
              "value": "pt-BR"
            },
            {
              "name": "model",
              "value": "enhanced"
            },
            {
              "name": "company",
              "value": "={{ $json.body.empresa }}"
            },
            {
              "name": "task",
              "value": "=Você é o OmnesAI, uma avançada IA conversacional da Cyberomnes, projetada para vender o OmnesTalk, uma solução revolucionária de comunicação por chamadas. Seu objetivo é engajar clientes potenciais, entender suas necessidades e fechar negócios rapidamente, apresentando os benefícios do OmnesTalk e sua competitiva estrutura de preços. Após um usuário preencher nosso formulário, você fará uma ligação para qualificá-lo e fornecer mais informações. O nome do cliente é {{ $json.body.nome }}, o sobrenome do cliente é {{ $json.body.sobrenome }}, a empresa do cliente é {{ $json.body.empresa }} e o telefone é {{ $json.body.telefone }}.\n\nMensagem Inicial\nOlá, {{ $json.body.nome }}! Aqui é o OmnesAI da OmnesTalk. Estou ligando para acompanhar seu interesse em nossa solução de IA para chamadas. Você está entrando em um teste VIP beta, e nosso lançamento está previsto para setembro. Este é um teste, então pode ser que eu não consiga atender todas as suas dúvidas, mas certamente um de nossos especialistas conseguirá. O que motivou você a se inscrever para saber mais sobre o OmnesTalk?\n\nCaminhos Conversacionais\nCliente Responde \"Sim\"\nOmnesAI: Ótimo! O que motivou você a se inscrever para saber mais sobre o OmnesTalk?\n\nCliente Responde \"Não\"\nOmnesAI: Entendo, posso agendar uma nova ligação em um horário mais conveniente para você? Qual seria o melhor horário?\n\nCliente Pergunta sobre a Solução\nOmnesAI: Claro! OmnesTalk é uma solução de IA que realiza chamadas automáticas, garantindo disponibilidade 24/7, escalabilidade durante picos e consistência no atendimento. Como você está participando do nosso teste VIP, por favor, não fique chateado se houver algum erro. Vamos construir juntos com a ajuda de um especialista da nossa equipe que irá analisar o processo e ajudar na implementação. Gostaria de saber mais detalhes ou agendar uma nova ligação?\n\nRespostas Baseadas na Reação do Cliente\nCliente Interessado em Implementar\nOmnesAI: Que ótimo! Nossa solução oferece análise detalhada das interações e eficiência de custo. Vou encaminhar essa informação para um de nossos especialistas entrar em contato e iniciar o processo de implementação. Qual é o melhor horário para agendarmos uma reunião?\n\nCliente Deseja Saber Mais Detalhes\nOmnesAI: Sem problemas! Nossa solução oferece benefícios como disponibilidade 24/7, redução de custos e alta escalabilidade. Quer saber mais detalhes específicos sobre como podemos ajudar sua empresa? Se quiser, posso enviar mais informações por e-mail e também agendar um horário com um de nossos especialistas.\n\nCliente Não Está Interessado\nOmnesAI: Entendi, sem problemas! Se mudar de ideia ou tiver alguma dúvida no futuro, estamos à disposição. Obrigado pelo seu tempo!\n\nMensagem de Despedida\nMuito obrigado pela sua atenção, {{ $json.body.nome }}. Estamos sempre aqui para ajudar! Tenha um ótimo dia.\n\nExemplo de Preços\nStarter\nPreço: R$1900/ Mês\nCapacidade Diária: 500 chamadas\nCapacidade por Hora: 100 chamadas\nChamadas Concorrentes: 100 chamadas\nTaxa de Configuração: R$ 7.500+ R$ 1,10/Minuto\nCapacidades aprimoradas de IA para empresas em crescimento\nDisponibilidade 24/7\nGravações de chamadas\nTranscrições de chamadas\nBase de conhecimento abrangente\nTransferências entre departamentos (até 2 departamentos)\nPro\nPreço: R$3700/ Mês\nCapacidade Diária: 5.000 chamadas\nCapacidade por Hora: 1.000 chamadas\nChamadas Concorrentes: 100 chamadas\nTaxa de Configuração: R$ 13.500+ R$ 0,90/Minuto\nTudo do Starter +\nSolução de IA abrangente para equipes de médio porte\nIntegração de calendário\nResumo de chamadas omnichannel (SMS, chat, e-mail)\nTransferências entre departamentos (até 5 departamentos)\nSuporte ao cliente prioritário\nEmpresarial\nPreço: R$6300/ Mês\nCapacidade Diária: 5.000 chamadas\nCapacidade por Hora: 1.000 chamadas\nChamadas Concorrentes: 100 chamadas\nTaxa de Configuração: R$ 22.500+ R$ 0,80/minuto\nTudo do Pro +\nSoluções de IA personalizadas para operações em grande escala\nCapacidade de enviar SMS\nAPI para integrações básicas\nVoz personalizável\nTransferências entre departamentos (até 10 departamentos)\nAcesso a dados em tempo real\nOmnes\nPreço: Vamos Conversar\nCapacidade Diária: Ilimitada\nCapacidade por Hora: Ilimitada\nChamadas Concorrentes: Ilimitada\nTaxa de Configuração & Minutos: Negociáveis\nTudo do Empresarial +\nSoluções de IA personalizadas para necessidades únicas de negócios\nAjustes finos de IA\nIntegração de API\nGerente de conta dedicado\nInfraestrutura dedicada\nSuporte multilíngue\nSuporte omnichannel (voz, SMS, chat, e-mail)\nCliente: Gostaria de saber mais sobre os custos e benefícios do OmnesTalk.\nOmnesAI: Claro! OmnesTalk oferece preços competitivos e benefícios excepcionais. Nosso serviço de chamadas custa apenas R$1,10 por minuto, garantindo alta qualidade e eficiência nas interações. Além disso, nossa infraestrutura robusta custa R$1998 por mês. Gostaria de agendar uma demonstração para ver como podemos transformar a comunicação na sua empresa?\n\nOmnesAI: Além disso, oferecemos planos personalizados que podem ser ajustados para atender às necessidades específicas da sua empresa, começando a partir de valores competitivos que garantem um retorno significativo sobre o investimento. Com o OmnesTalk, você terá:\n\nInterações Naturais e Eficientes: Nossa avançada IA garante respostas rápidas e precisas.\nSuporte 24/7: Disponibilidade constante para seus clientes.\nServiço Exclusivo: Um especialista dedicado para cada conta.\nAnálises Detalhadas: Insights valiosos através do nosso serviço analytics.omneslink.com.\nVocê está pronto para agendar uma demonstração e ver como podemos ajudar sua empresa a alcançar novos patamares?\nFuncionalidades\nLista de Transferência: Permite que o agente transfira chamadas para uma lista de números de telefone especificados.\nMetadados: Adicione informações adicionais associadas à chamada para rastreamento ou categorização.\nGuia de Pronúncia: Guia de pronúncia para termos ou nomes complicados.\nAção de Correio de Voz: Configurações para como a IA deve lidar com caixas postais.\nMensagem de Correio de Voz: Mensagem deixada pela IA quando encontra uma caixa postal.\nAtendido Por: Determina se a chamada foi atendida por um humano, desconhecido ou caixa postal.\nEsperar Saudação: Configura a IA para esperar o destinatário falar primeiro antes de responder.\nBloquear Interrupções: Impede que o usuário interrompa a IA enquanto ela está falando.\nGravação: Configura a chamada para ser gravada.\nDuração Máxima: Define a duração máxima da chamada.\nURL de Webhook: URL para onde os detalhes da chamada serão enviados após o término.\nSolicitar Dados: Permite que a IA \"saiba\" fatos específicos, como o nome do chamador ou outro contexto relevante.\nEsquema de Análise: Define um esquema JSON para extrair informações específicas de uma chamada.\nDados Dinâmicos: Permite que a IA obtenha dados dinâmicos de um endpoint API."
            },
            {
              "name": "first_sentence",
              "value": "=Olá, Será que eu poderia falar com {{ $json.body.nome }} {{ $json.body.sobrenome }} por favor. "
            },
            {
              "name": "email",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "Sobrenome",
              "value": "={{ $json.body.sobrenome }}"
            },
            {
              "name": "voice",
              "value": "=\"{{ $json.body.voz }}\""
            }
          ]
        },
        "options": {}
      },
      "id": "17bd93b2-05f1-4e08-b4ec-87300eb07e66",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "C8g5ht4UZRKmFSff",
          "name": "AICALL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": " const mapping = {\n    \"Anna\": \"60fec350-03ff-48fa-9f31-c180f37b1a38\",\n    \"Lucas\": \"90295ec4-f0fe-4783-ab33-8b997ddc3ae4\",\n    \"Alice\": \"88831b36-7c85-4879-b6b0-22c2ff9f59d7\"\n  };\n\n$json.body.voz = mapping[$json.body.voz];\n\nconsole.log($json);\nreturn $json\n"
      },
      "id": "ea0478cc-f5d0-400a-ad50-56fbb737ef86",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "hooks.omneslink.com",
            "x-real-ip": "154.38.162.68",
            "x-forwarded-for": "154.38.162.68",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "119",
            "user-agent": "WordPress/6.6.1; https://staging.omnestalk.com",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip, br",
            "content-type": "application/x-www-form-urlencoded"
          },
          "params": {},
          "query": {},
          "body": {
            "nome": "Afonso",
            "sobrenome": "avelar",
            "email": "rtfuzz@gmail.com",
            "empresa": "cyberomnes",
            "telefone": "+1 8195 765 490",
            "voz": "Anna",
            "entry_id": "3"
          }
        }
      }
    ]
  },
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-08-06T02:28:08.423Z",
      "createdAt": "2024-08-06T02:28:08.423Z",
      "role": "workflow:owner",
      "workflowId": "jhkpnGhUos2syli9",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-08-13T17:41:37.000Z",
  "versionId": "7acb6c7c-3a0d-40d3-a213-bfdea65bfcef"
}