cyberomnes/n8nbkp/2026/02/HmrFk1S3g_c3ltFLyK-7s.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-24T16:47:54.283Z",
    "createdAt": "2026-02-24T16:47:54.283Z",
    "versionId": "b4e3f0b1-3971-48a0-8a5f-1a18ed5aced1",
    "workflowId": "HmrFk1S3g_c3ltFLyK-7s",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "servnova-motd-install",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "ceac1628-7f6b-432f-9b6b-c9f2040ea74e",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -576,
          560
        ],
        "webhookId": "fef21090-9be1-492a-a8de-bbf3fb7f9343"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nconst { ip, password, script } = body;\nif (!ip) throw new Error(\"Missing: ip\");\nif (!password) throw new Error(\"Missing: password\");\nif (!script) throw new Error(\"Missing: script\");\nreturn [{ json: { ip, password, script } }];"
        },
        "id": "2795b131-8d6a-442b-a457-e841e12f363f",
        "name": "Validate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -336,
          560
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://185.187.170.110:3022/run",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-proxy-secret",
                "value": "93226436c57dd0df2779977dee5f776b29579d10b55280cd393218d838574427"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ ip: $json.ip, password: $json.password, script: $json.script }) }}",
          "options": {}
        },
        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "name": "Run via SSH",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -96,
          560
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, stdout: $json.stdout, stderr: $json.stderr }) }}",
          "options": {}
        },
        "id": "27da607f-9f97-4a75-8e4b-3281b9e3e747",
        "name": "Respond - Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          144,
          448
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || $json.message || \"SSH failed\" }) }}",
          "options": {}
        },
        "id": "5c24e6fc-4b7e-40a3-bb6b-e156aa748d72",
        "name": "Respond - Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          144,
          672
        ]
      },
      {
        "parameters": {},
        "id": "86695ef7-3243-43f1-9d9b-2d3f2dbedc7a",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -96,
          752
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate": {
        "main": [
          [
            {
              "node": "Run via SSH",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run via SSH": {
        "main": [
          [
            {
              "node": "Respond - Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Respond - Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cyber Omnes",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "b4e3f0b1-3971-48a0-8a5f-1a18ed5aced1",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "Run via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run via SSH": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T18:30:43.840Z",
  "id": "HmrFk1S3g_c3ltFLyK-7s",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ServNova - MOTD Installer (SSH)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "servnova-motd-install",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ceac1628-7f6b-432f-9b6b-c9f2040ea74e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -576,
        560
      ],
      "webhookId": "fef21090-9be1-492a-a8de-bbf3fb7f9343"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst { ip, password, script } = body;\nif (!ip) throw new Error(\"Missing: ip\");\nif (!password) throw new Error(\"Missing: password\");\nif (!script) throw new Error(\"Missing: script\");\nreturn [{ json: { ip, password, script } }];"
      },
      "id": "2795b131-8d6a-442b-a457-e841e12f363f",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://185.187.170.110:3022/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-proxy-secret",
              "value": "93226436c57dd0df2779977dee5f776b29579d10b55280cd393218d838574427"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ip: $json.ip, password: $json.password, script: $json.script }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Run via SSH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -96,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, stdout: $json.stdout, stderr: $json.stderr }) }}",
        "options": {}
      },
      "id": "27da607f-9f97-4a75-8e4b-3281b9e3e747",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || $json.message || \"SSH failed\" }) }}",
        "options": {}
      },
      "id": "5c24e6fc-4b7e-40a3-bb6b-e156aa748d72",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        144,
        672
      ]
    },
    {
      "parameters": {},
      "id": "86695ef7-3243-43f1-9d9b-2d3f2dbedc7a",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        752
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-23T18:30:44.085Z",
      "createdAt": "2026-02-23T18:30:44.085Z",
      "role": "workflow:owner",
      "workflowId": "HmrFk1S3g_c3ltFLyK-7s",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-02-23T18:07:00.337Z",
      "createdAt": "2026-02-23T18:07:00.337Z",
      "id": "q3KYgbksuh0wpgUX",
      "name": "ServNova"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-24T16:47:54.269Z",
  "versionId": "b4e3f0b1-3971-48a0-8a5f-1a18ed5aced1"
}