cyberomnes/n8nbkp/2025/12/0RpNiJqr6lJErLFJ.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Input?": {
      "main": [
        [
          {
            "node": "Has Audio File?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Audio File?": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Song Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Add Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Transcription": {
      "main": [
        [
          {
            "node": "Call Song Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Song Analysis": {
      "main": [
        [
          {
            "node": "Store Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Analysis": {
      "main": [
        [
          {
            "node": "Call Scene Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Scene Generation": {
      "main": [
        [
          {
            "node": "Need Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Video?": {
      "main": [
        [
          {
            "node": "Call Video Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Images Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Video Generation": {
      "main": [
        [
          {
            "node": "Has Clips?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Clips?": {
      "main": [
        [
          {
            "node": "Call Composition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Composition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Composition": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Composition": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images Only": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T16:13:40.217Z",
  "id": "0RpNiJqr6lJErLFJ",
  "isArchived": false,
  "meta": null,
  "name": "AI Music Video Generator - Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "music-video-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c7758106-4dcd-4c80-8a85-592192e28f57",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3424,
        1760
      ],
      "webhookId": "music-video-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse incoming data - handles both JSON and multipart/form-data\nlet body = $input.item.json.body || $input.item.json;\n\n// If body.data exists (multipart), parse it\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch(e) {}\n}\nif (body.data && typeof body.data === 'string') {\n  try { body = JSON.parse(body.data); } catch(e) {}\n}\n\n// Check for binary audio file\nconst hasBinaryAudio = !!$input.item.binary?.audioFile;\n\nreturn {\n  projectId: body.projectId || 'mv-' + Date.now(),\n  songSource: body.songSource || 'URL',\n  songUrl: body.songUrl || '',\n  hasAudioFile: body.hasAudioFile || hasBinaryAudio,\n  lyrics: body.lyrics || '',\n  visualStyle: body.visualStyle || 'Cinematic Realistic',\n  outputType: body.outputType || 'Full Music Video',\n  videoEngine: body.videoEngine || 'Kling 2.6 (Recommended)',\n  lyricOverlay: body.lyricOverlay || 'No Lyrics',\n  aspectRatio: body.aspectRatio || '16:9',\n  referenceImages: body.referenceImages || [],\n  additionalNotes: body.additionalNotes || '',\n  notificationEmail: body.notificationEmail || '',\n  characterMode: body.characterMode || 'none',\n  characterName: body.characterName || '',\n  status: 'initiated',\n  createdAt: new Date().toISOString()\n};"
      },
      "id": "2fc22053-b6c9-41c3-8496-a32abd48dc64",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        1760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-song-url",
              "leftValue": "={{ $json.songUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "has-audio-file",
              "leftValue": "={{ $json.hasAudioFile }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has-lyrics",
              "leftValue": "={{ $json.lyrics }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7d6af20e-d8d1-442b-8ed0-51ef9834a0e4",
      "name": "Valid Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2976,
        1760
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Missing audio source\", \"message\": \"Please provide a song URL, upload an audio file, or paste lyrics\", \"status\": \"error\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "7ccd4f43-4d94-4df6-b701-71001ed24e4f",
      "name": "Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2752,
        1872
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-binary",
              "leftValue": "={{ !!$binary?.audioFile }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "86f59352-4dbe-4155-b15d-2010c3945e4c",
      "name": "Has Audio File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2752,
        1648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audioFile"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "word"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "8423fafd-cee7-4bd4-a22d-98f92912d17b",
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2528,
        1552
      ],
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add transcribed lyrics to our data\nconst params = $('Normalize Input').item.json;\nconst transcription = $input.item.json;\n\nreturn {\n  ...params,\n  lyrics: transcription.text || params.lyrics,\n  wordTimestamps: transcription.words || [],\n  duration: transcription.duration || 180\n};"
      },
      "id": "efabf615-12e1-4f49-bc6c-d2d2d539de57",
      "name": "Add Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        1552
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.omneslink.com/webhook/song-analysis",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({projectId: $json.projectId, songUrl: $json.songUrl, lyrics: $json.lyrics, wordTimestamps: $json.wordTimestamps || [], duration: $json.duration || 180, visualStyle: $json.visualStyle, hasAudioFile: $json.hasAudioFile}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "d833f49b-cd8f-4afe-9926-02036070e041",
      "name": "Call Song Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2080,
        1648
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Store analysis and prepare for next step\nconst params = $('Normalize Input').item.json;\nconst analysis = $input.item.json;\n\nreturn {\n  ...params,\n  analysisData: analysis.analysisData || analysis\n};"
      },
      "id": "a7995b7e-d966-4635-adc3-679e54d3dd4d",
      "name": "Store Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        1648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.omneslink.com/webhook/scene-generation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({projectId: $json.projectId, analysisData: $json.analysisData, visualStyle: $json.visualStyle, referenceImages: $json.referenceImages, videoEngine: $json.videoEngine}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ffe58928-430d-4bdc-a43c-6f078f4fb77a",
      "name": "Call Scene Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1632,
        1648
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-video",
              "leftValue": "={{ $('Normalize Input').item.json.outputType }}",
              "rightValue": "Images Only",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4f34e94-afc3-4fd6-9d7c-3a2cc6fd1ca0",
      "name": "Need Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1408,
        1648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.omneslink.com/webhook/video-generation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({projectId: $('Normalize Input').item.json.projectId, scenes: $json.scenes || $json.output?.scenes || [], videoEngine: $('Normalize Input').item.json.videoEngine, aspectRatio: $('Normalize Input').item.json.aspectRatio, referenceImages: $('Normalize Input').item.json.referenceImages}) }}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "89f0b06f-05b2-4095-94a4-f8dfdb8cc75f",
      "name": "Call Video Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        1552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-clips",
              "leftValue": "={{ $json.videoClips?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14c91b2f-2f5f-4457-8faf-e3ce55360e55",
      "name": "Has Clips?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        1552
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.omneslink.com/webhook/video-composition",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({projectId: $('Normalize Input').item.json.projectId, videoClips: $json.videoClips, audioUrl: $('Store Analysis').item.json.analysisData?.audioUrl, lyrics: $('Normalize Input').item.json.lyrics, lyricOverlay: $('Normalize Input').item.json.lyricOverlay}) }}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "bd5e8dcd-7a84-49b5-9a99-dcfc18d5fd3e",
      "name": "Call Composition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        1456
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const params = $('Normalize Input').item.json;\nconst composition = $input.item.json;\nconst videoGen = $('Call Video Generation')?.item?.json || {};\n\nreturn {\n  output: {\n    projectId: params.projectId,\n    status: 'completed',\n    finalVideoUrl: composition.finalVideoUrl || videoGen.videoClips?.[0]?.videoUrl || null,\n    downloadUrl: composition.downloadUrl || null,\n    videoClips: videoGen.videoClips || [],\n    totalClips: videoGen.totalClips || 0,\n    createdAt: params.createdAt,\n    completedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "f79dde50-3bb0-45a7-8a34-1f1483fac8cd",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        1552
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.output || $json) }}",
        "options": {}
      },
      "id": "562d4ac2-3082-4da8-aba7-7d8a87aef58d",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -288,
        1648
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const params = $('Normalize Input').item.json;\nconst videoGen = $input.item.json;\n\nreturn {\n  output: {\n    projectId: params.projectId,\n    status: 'completed',\n    finalVideoUrl: videoGen.videoClips?.[0]?.videoUrl || null,\n    videoClips: videoGen.videoClips || [],\n    message: 'Video clips generated (no composition)',\n    createdAt: params.createdAt,\n    completedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "160ec29b-8574-433a-97ed-f92322fc1bcb",
      "name": "Skip Composition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        1648
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const params = $('Normalize Input').item.json;\nconst sceneGen = $input.item.json;\n\nreturn {\n  output: {\n    projectId: params.projectId,\n    status: 'completed',\n    type: 'images_only',\n    scenes: sceneGen.scenes || sceneGen.output?.scenes || [],\n    message: 'Images only - no video generation',\n    createdAt: params.createdAt,\n    completedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "a4ec6ad7-dff2-4cc7-926f-3908d2961c13",
      "name": "Images Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        1760
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T16:13:40.320Z",
      "createdAt": "2025-12-10T16:13:40.320Z",
      "role": "workflow:owner",
      "workflowId": "0RpNiJqr6lJErLFJ",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-10T16:13:35.325Z",
      "createdAt": "2025-12-10T16:13:35.325Z",
      "id": "D0Uujttz2po4uPU0",
      "name": "Video Generation"
    },
    {
      "updatedAt": "2025-12-10T14:57:55.317Z",
      "createdAt": "2025-12-10T14:57:55.317Z",
      "id": "HmSN4A1CMN0RXv4U",
      "name": "AI Music Video"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T17:48:33.000Z",
  "versionId": "c5b4e190-70a6-4e77-aabe-ae96d682f19e"
}