cyberomnes/n8nbkp/2025/12/2RkLxq0L4iKt55If.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Determine Video Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Video Engine": {
      "main": [
        [
          {
            "node": "Split Into Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Scenes": {
      "main": [
        [
          {
            "node": "Use fal.ai?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use fal.ai?": {
      "main": [
        [
          {
            "node": "Submit to fal.ai",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate with Veo 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to fal.ai": {
      "main": [
        [
          {
            "node": "Wait for fal.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for fal.ai": {
      "main": [
        [
          {
            "node": "Poll fal.ai Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll fal.ai Status": {
      "main": [
        [
          {
            "node": "fal.ai Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fal.ai Complete?": {
      "main": [
        [
          {
            "node": "Get fal.ai Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for fal.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get fal.ai Result": {
      "main": [
        [
          {
            "node": "Normalize Video Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Veo 3": {
      "main": [
        [
          {
            "node": "Wait for Veo 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Veo 3": {
      "main": [
        [
          {
            "node": "Poll Veo 3 Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Veo 3 Status": {
      "main": [
        [
          {
            "node": "Veo 3 Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo 3 Complete?": {
      "main": [
        [
          {
            "node": "Normalize Video Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Veo 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Video Results": {
      "main": [
        [
          {
            "node": "Aggregate All Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Clips": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T16:50:25.390Z",
  "id": "2RkLxq0L4iKt55If",
  "isArchived": false,
  "meta": null,
  "name": "AI Music Video Generator - Video Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "87f4368e-2945-4d47-83d8-4a7971f1686e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -752,
        832
      ],
      "webhookId": "video-generation-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project-id",
              "name": "projectId",
              "value": "={{ $json.body.projectId }}",
              "type": "string"
            },
            {
              "id": "scenes",
              "name": "scenes",
              "value": "={{ $json.body.scenes || [] }}",
              "type": "array"
            },
            {
              "id": "video-engine",
              "name": "videoEngine",
              "value": "={{ $json.body.videoEngine || 'Kling 2.6 (Recommended)' }}",
              "type": "string"
            },
            {
              "id": "aspect-ratio",
              "name": "aspectRatio",
              "value": "={{ $json.body.aspectRatio || '16:9' }}",
              "type": "string"
            },
            {
              "id": "reference-images",
              "name": "referenceImages",
              "value": "={{ $json.body.referenceImages || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "00504197-d79e-4c40-acb8-001d411fe2da",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Determine which video engine to use based on NEW engine names\nconst videoEngine = $input.item.json.videoEngine || '';\nconst aspectRatio = $input.item.json.aspectRatio || '16:9';\n\nlet selectedEngine = 'kling'; // default - best value\nlet falModel = 'fal-ai/kling-video/v1.6/standard/text-to-video';\n\n// Match NEW engine names from web interface\nif (videoEngine.includes('Kling') || videoEngine.includes('Auto')) {\n  selectedEngine = 'kling';\n  falModel = 'fal-ai/kling-video/v1.6/standard/text-to-video';\n} else if (videoEngine.includes('Veo') || videoEngine.includes('Premium')) {\n  selectedEngine = 'veo3';\n  falModel = null; // Use Google API directly\n} else if (videoEngine.includes('Runway') || videoEngine.includes('Turbo')) {\n  selectedEngine = 'runway';\n  falModel = 'fal-ai/runway-gen3/turbo/image-to-video';\n} else if (videoEngine.includes('Hailuo') || videoEngine.includes('MiniMax')) {\n  selectedEngine = 'hailuo';\n  falModel = 'fal-ai/minimax-video/video-01/text-to-video';\n} else if (videoEngine.includes('Luma')) {\n  selectedEngine = 'luma';\n  falModel = 'fal-ai/luma-dream-machine';\n} else if (videoEngine.includes('Budget')) {\n  selectedEngine = 'hailuo'; // Hailuo is cheapest\n  falModel = 'fal-ai/minimax-video/video-01/text-to-video';\n}\n\n// Map aspect ratio to fal.ai format\nlet apiAspectRatio = '16:9';\nif (aspectRatio.includes('9:16')) apiAspectRatio = '9:16';\nelse if (aspectRatio.includes('1:1')) apiAspectRatio = '1:1';\n\nreturn {\n  ...($input.item.json),\n  selectedEngine,\n  falModel,\n  apiAspectRatio\n};"
      },
      "id": "1ed5078b-8334-4f9c-b60e-d42e59c6e8fd",
      "name": "Determine Video Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        832
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "id": "c1e720ff-7d2d-4ded-b58f-4560831bf09e",
      "name": "Split Into Scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "use-fal",
              "leftValue": "={{ $json.falModel !== null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "049d4b41-c6e7-48e1-8898-cca545c71176",
      "name": "Use fal.ai?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        832
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://queue.fal.run/{{ $json.falModel }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({prompt: $json.scenes.prompt, duration: '5', aspect_ratio: $json.apiAspectRatio, negative_prompt: 'blurry, distorted, low quality, watermark'}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "c52ef54a-c75f-4c90-9d25-b9c96bc67623",
      "name": "Submit to fal.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "82b4350b-c630-4156-9df8-269cbbba86a3",
      "name": "Wait for fal.ai",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        720
      ],
      "webhookId": "fal-wait-hook"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/{{ $('Determine Video Engine').item.json.falModel }}/requests/{{ $('Submit to fal.ai').item.json.request_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "74fcab2f-cc61-4c6d-a64c-2efc08dddebc",
      "name": "Poll fal.ai Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        720
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fal-done",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c5a665fb-3eb0-4d26-9bd2-cba1b6d04584",
      "name": "fal.ai Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/{{ $('Determine Video Engine').item.json.falModel }}/requests/{{ $('Submit to fal.ai').item.json.request_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "891e18c8-0bb0-4a24-bfaa-0d8ab4ac5a43",
      "name": "Get fal.ai Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        624
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SAlMB9lhxIyF8fjI",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-2:generateVideo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({instances: [{prompt: $json.scenes.prompt}], parameters: {aspectRatio: $json.apiAspectRatio, durationSeconds: 8}}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "f22d8c76-1217-4c4c-a97b-c702b37e2e21",
      "name": "Generate with Veo 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        944
      ],
      "credentials": {
        "googleApi": {
          "id": "PTTV4IuRG4mAo8vT",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "amount": 45
      },
      "id": "2247f34d-14cc-4ba4-a3b8-a1920d4435f1",
      "name": "Wait for Veo 3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        944
      ],
      "webhookId": "veo3-wait-hook"
    },
    {
      "parameters": {
        "url": "={{ $('Generate with Veo 3').item.json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "id": "39327ffa-a991-49a3-8a09-cef4fde3f404",
      "name": "Poll Veo 3 Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        944
      ],
      "credentials": {
        "googleApi": {
          "id": "PTTV4IuRG4mAo8vT",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "veo3-done",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "494e3884-d81a-458b-a96b-f4b22822e18e",
      "name": "Veo 3 Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        944
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize video result from different engines\nconst input = $input.item.json;\nconst engine = $('Determine Video Engine').item.json.selectedEngine;\nlet videoUrl = null;\nlet thumbnailUrl = null;\nlet status = 'pending';\n\n// Check for fal.ai result\nif (input.video?.url) {\n  videoUrl = input.video.url;\n  status = 'completed';\n}\nif (input.output?.video?.url) {\n  videoUrl = input.output.video.url;\n  status = 'completed';\n}\n\n// Check for Veo 3 result  \nif (input.response?.generatedVideos?.[0]?.video?.uri) {\n  videoUrl = input.response.generatedVideos[0].video.uri;\n  status = 'completed';\n}\n\n// Check for Luma result\nif (input.assets?.video) {\n  videoUrl = input.assets.video;\n  thumbnailUrl = input.assets.thumbnail;\n  status = input.state === 'completed' ? 'completed' : 'pending';\n}\n\nreturn {\n  sceneId: $('Split Into Scenes').item.json.scenes?.id || input.sceneId || 1,\n  videoUrl,\n  thumbnailUrl,\n  status,\n  engine,\n  duration: $('Split Into Scenes').item.json.scenes?.duration || 5,\n  prompt: $('Split Into Scenes').item.json.scenes?.prompt || ''\n};"
      },
      "id": "acbfe36d-b781-4f30-be6e-7f9fb715481d",
      "name": "Normalize Video Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all video clips\nconst clips = $input.all().map(item => item.json);\n\nreturn {\n  videoClips: clips.filter(c => c.status === 'completed'),\n  pendingClips: clips.filter(c => c.status === 'pending'),\n  totalClips: clips.length,\n  completedClips: clips.filter(c => c.status === 'completed').length\n};"
      },
      "id": "e20949dd-1456-48a3-8f7f-080e1d83e28a",
      "name": "Aggregate All Clips",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d7255596-25d9-45e5-a0f1-b6a49e23fdca",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1936,
        832
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T16:50:25.594Z",
      "createdAt": "2025-12-10T16:50:25.594Z",
      "role": "workflow:owner",
      "workflowId": "2RkLxq0L4iKt55If",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-10T16:13:35.325Z",
      "createdAt": "2025-12-10T16:13:35.325Z",
      "id": "D0Uujttz2po4uPU0",
      "name": "Video Generation"
    },
    {
      "updatedAt": "2025-12-10T14:57:55.317Z",
      "createdAt": "2025-12-10T14:57:55.317Z",
      "id": "HmSN4A1CMN0RXv4U",
      "name": "AI Music Video"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T17:48:30.000Z",
  "versionId": "3a2ccc61-8cbf-4433-bf19-8a46480bca08"
}