cyberomnes/n8nbkp/2025/12/v6HR9z6v1OyLUBEh.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-15T15:53:15.735Z",
    "createdAt": "2025-12-15T15:53:15.735Z",
    "versionId": "41a3b590-8d50-45b7-966a-23cebd62c0e5",
    "workflowId": "v6HR9z6v1OyLUBEh",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "scene-generation",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "e6abb23e-a2b8-4ffe-be04-89dc6168836c",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1072,
          240
        ],
        "webhookId": "scene-generation-webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "project-id",
                "name": "projectId",
                "value": "={{ $json.body?.projectId || $json.projectId }}",
                "type": "string"
              },
              {
                "id": "analysis-data",
                "name": "analysisData",
                "value": "={{ $json.body?.analysisData || $json.analysisData }}",
                "type": "object"
              },
              {
                "id": "visual-style",
                "name": "visualStyle",
                "value": "={{ $json.body?.visualStyle || $json.visualStyle || 'Cinematic Realistic' }}",
                "type": "string"
              },
              {
                "id": "reference-images",
                "name": "referenceImages",
                "value": "={{ $json.body?.referenceImages || $json.referenceImages || [] }}",
                "type": "array"
              },
              {
                "id": "video-engine",
                "name": "videoEngine",
                "value": "={{ $json.body?.videoEngine || $json.videoEngine || 'Kling 2.6 (Recommended)' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "51a8a10f-365f-486b-a925-4c819ef8fd40",
        "name": "Extract Parameters",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1296,
          240
        ]
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list"
          },
          "messages": {
            "values": [
              {
                "content": "You are a creative director creating scene prompts for an AI music video generator. Based on the song analysis and style preferences, create detailed scene descriptions.\n\nSONG ANALYSIS:\n{{ JSON.stringify($json.analysisData?.lyricsAnalysis || {}, null, 2) }}\n\nAUDIO STRUCTURE:\n{{ JSON.stringify($json.analysisData?.audioFeatures || {}, null, 2) }}\n\nVISUAL STYLE: {{ $json.visualStyle }}\n\nVIDEO ENGINE: {{ $json.videoEngine }}\n\nEstimated song duration: {{ $json.analysisData?.duration || $json.analysisData?.audioFeatures?.estimatedDuration || 180 }} seconds\n\nCreate a JSON response with the following structure:\n{\n  \"overallTheme\": \"cohesive theme for entire video\",\n  \"colorPalette\": [\"#color1\", \"#color2\", \"#color3\"],\n  \"characterConsistency\": \"description of main character/subject to maintain consistency\",\n  \"scenes\": [\n    {\n      \"id\": 1,\n      \"segmentName\": \"intro\",\n      \"startTime\": 0,\n      \"endTime\": 8,\n      \"duration\": 8,\n      \"prompt\": \"Detailed visual description for AI video generation. Be specific about setting, subject, action, lighting, and atmosphere. Include cinematographic details. 50-100 words.\",\n      \"cameraMovement\": \"slow dolly forward\",\n      \"mood\": \"emotional tone\",\n      \"lyrics\": \"relevant lyrics for this segment\",\n      \"transitionToNext\": \"fade\"\n    }\n  ]\n}\n\nIMPORTANT GUIDELINES:\n1. Each scene should be 5-8 seconds (aim for 6 seconds each)\n2. For a 3-minute song, create approximately 25-30 scenes\n3. Prompts should be detailed (50-100 words) and visually descriptive\n4. Maintain visual consistency across all scenes\n5. Match camera movements to the energy of the music\n6. Include specific details about lighting, colors, and atmosphere\n7. For {{ $json.videoEngine }}, optimize prompts accordingly\n\nGenerate scenes for the ENTIRE song duration."
              }
            ]
          },
          "jsonOutput": true,
          "options": {
            "maxTokens": 4000,
            "temperature": 0.8
          }
        },
        "id": "6c88f4a5-185e-40c4-9b35-3df69369742d",
        "name": "Generate Scene Prompts",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.4,
        "position": [
          1472,
          192
        ],
        "credentials": {
          "openAiApi": {
            "id": "hIbzO0TgpkKLndpi",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Optimize prompts for the specific video engine\nconst scenes = $input.item.json.scenes || [];\nconst videoEngine = $('Extract Parameters').item.json.videoEngine || '';\nconst visualStyle = $('Extract Parameters').item.json.visualStyle || 'Cinematic';\n\nconst optimizedScenes = scenes.map((scene, index) => {\n  let optimizedPrompt = scene.prompt;\n  \n  // Add engine-specific optimizations\n  if (videoEngine.includes('Kling')) {\n    // Kling works well with action-focused, detailed prompts\n    optimizedPrompt = `${scene.prompt}. ${scene.cameraMovement}. ${scene.mood} atmosphere. High quality, cinematic, ${visualStyle} style.`;\n  } else if (videoEngine.includes('Veo') || videoEngine.includes('Premium')) {\n    // Veo 3 works well with detailed cinematic prompts\n    optimizedPrompt = `Cinematic shot: ${scene.prompt}. Camera: ${scene.cameraMovement}. Lighting: professional, ${scene.mood} atmosphere. 4K quality.`;\n  } else if (videoEngine.includes('Runway')) {\n    // Runway works well with motion-focused prompts  \n    optimizedPrompt = `${scene.prompt}. Motion: ${scene.cameraMovement}. Style: ${visualStyle}. Smooth motion, high quality.`;\n  } else if (videoEngine.includes('Hailuo') || videoEngine.includes('MiniMax')) {\n    // Hailuo/MiniMax - simpler, focused prompts\n    optimizedPrompt = `${scene.prompt}. ${scene.mood} mood. ${visualStyle} style.`;\n  } else {\n    // Default optimization\n    optimizedPrompt = `${scene.prompt}. ${scene.cameraMovement}. ${scene.mood} mood. ${visualStyle} style.`;\n  }\n  \n  return {\n    ...scene,\n    id: scene.id || index + 1,\n    prompt: optimizedPrompt,\n    originalPrompt: scene.prompt,\n    duration: scene.duration || 6\n  };\n});\n\nreturn {\n  overallTheme: $input.item.json.overallTheme,\n  colorPalette: $input.item.json.colorPalette,\n  characterConsistency: $input.item.json.characterConsistency,\n  scenes: optimizedScenes\n};"
        },
        "id": "39b9b3db-302b-4ebc-963b-9118f97d2475",
        "name": "Optimize Prompts for Engine",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1744,
          240
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "final-output",
                "name": "output",
                "value": "={{ {projectId: $('Extract Parameters').item.json.projectId, scenes: $json.scenes, overallTheme: $json.overallTheme, colorPalette: $json.colorPalette, characterConsistency: $json.characterConsistency, totalScenes: $json.scenes.length, estimatedDuration: $json.scenes.reduce((sum, s) => sum + (s.duration || 6), 0)} }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "15417f50-b31d-436d-8829-8677ab427808",
        "name": "Prepare Output",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1968,
          240
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json.output) }}",
          "options": {}
        },
        "id": "07aa8ea5-c26d-4058-998e-a797d4e19357",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2192,
          240
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Extract Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Parameters": {
        "main": [
          [
            {
              "node": "Generate Scene Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Scene Prompts": {
        "main": [
          [
            {
              "node": "Optimize Prompts for Engine",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Optimize Prompts for Engine": {
        "main": [
          [
            {
              "node": "Prepare Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Output": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cyber Omnes",
    "name": null,
    "description": null
  },
  "activeVersionId": "41a3b590-8d50-45b7-966a-23cebd62c0e5",
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Generate Scene Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Scene Prompts": {
      "main": [
        [
          {
            "node": "Optimize Prompts for Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Prompts for Engine": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T16:51:32.305Z",
  "id": "v6HR9z6v1OyLUBEh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Music Video Generator - Scene Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scene-generation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e6abb23e-a2b8-4ffe-be04-89dc6168836c",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        240
      ],
      "webhookId": "scene-generation-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project-id",
              "name": "projectId",
              "value": "={{ $json.body?.projectId || $json.projectId }}",
              "type": "string"
            },
            {
              "id": "analysis-data",
              "name": "analysisData",
              "value": "={{ $json.body?.analysisData || $json.analysisData }}",
              "type": "object"
            },
            {
              "id": "visual-style",
              "name": "visualStyle",
              "value": "={{ $json.body?.visualStyle || $json.visualStyle || 'Cinematic Realistic' }}",
              "type": "string"
            },
            {
              "id": "reference-images",
              "name": "referenceImages",
              "value": "={{ $json.body?.referenceImages || $json.referenceImages || [] }}",
              "type": "array"
            },
            {
              "id": "video-engine",
              "name": "videoEngine",
              "value": "={{ $json.body?.videoEngine || $json.videoEngine || 'Kling 2.6 (Recommended)' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "51a8a10f-365f-486b-a925-4c819ef8fd40",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        240
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are a creative director creating scene prompts for an AI music video generator. Based on the song analysis and style preferences, create detailed scene descriptions.\n\nSONG ANALYSIS:\n{{ JSON.stringify($json.analysisData?.lyricsAnalysis || {}, null, 2) }}\n\nAUDIO STRUCTURE:\n{{ JSON.stringify($json.analysisData?.audioFeatures || {}, null, 2) }}\n\nVISUAL STYLE: {{ $json.visualStyle }}\n\nVIDEO ENGINE: {{ $json.videoEngine }}\n\nEstimated song duration: {{ $json.analysisData?.duration || $json.analysisData?.audioFeatures?.estimatedDuration || 180 }} seconds\n\nCreate a JSON response with the following structure:\n{\n  \"overallTheme\": \"cohesive theme for entire video\",\n  \"colorPalette\": [\"#color1\", \"#color2\", \"#color3\"],\n  \"characterConsistency\": \"description of main character/subject to maintain consistency\",\n  \"scenes\": [\n    {\n      \"id\": 1,\n      \"segmentName\": \"intro\",\n      \"startTime\": 0,\n      \"endTime\": 8,\n      \"duration\": 8,\n      \"prompt\": \"Detailed visual description for AI video generation. Be specific about setting, subject, action, lighting, and atmosphere. Include cinematographic details. 50-100 words.\",\n      \"cameraMovement\": \"slow dolly forward\",\n      \"mood\": \"emotional tone\",\n      \"lyrics\": \"relevant lyrics for this segment\",\n      \"transitionToNext\": \"fade\"\n    }\n  ]\n}\n\nIMPORTANT GUIDELINES:\n1. Each scene should be 5-8 seconds (aim for 6 seconds each)\n2. For a 3-minute song, create approximately 25-30 scenes\n3. Prompts should be detailed (50-100 words) and visually descriptive\n4. Maintain visual consistency across all scenes\n5. Match camera movements to the energy of the music\n6. Include specific details about lighting, colors, and atmosphere\n7. For {{ $json.videoEngine }}, optimize prompts accordingly\n\nGenerate scenes for the ENTIRE song duration."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 4000,
          "temperature": 0.8
        }
      },
      "id": "6c88f4a5-185e-40c4-9b35-3df69369742d",
      "name": "Generate Scene Prompts",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1472,
        192
      ],
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Optimize prompts for the specific video engine\nconst scenes = $input.item.json.scenes || [];\nconst videoEngine = $('Extract Parameters').item.json.videoEngine || '';\nconst visualStyle = $('Extract Parameters').item.json.visualStyle || 'Cinematic';\n\nconst optimizedScenes = scenes.map((scene, index) => {\n  let optimizedPrompt = scene.prompt;\n  \n  // Add engine-specific optimizations\n  if (videoEngine.includes('Kling')) {\n    // Kling works well with action-focused, detailed prompts\n    optimizedPrompt = `${scene.prompt}. ${scene.cameraMovement}. ${scene.mood} atmosphere. High quality, cinematic, ${visualStyle} style.`;\n  } else if (videoEngine.includes('Veo') || videoEngine.includes('Premium')) {\n    // Veo 3 works well with detailed cinematic prompts\n    optimizedPrompt = `Cinematic shot: ${scene.prompt}. Camera: ${scene.cameraMovement}. Lighting: professional, ${scene.mood} atmosphere. 4K quality.`;\n  } else if (videoEngine.includes('Runway')) {\n    // Runway works well with motion-focused prompts  \n    optimizedPrompt = `${scene.prompt}. Motion: ${scene.cameraMovement}. Style: ${visualStyle}. Smooth motion, high quality.`;\n  } else if (videoEngine.includes('Hailuo') || videoEngine.includes('MiniMax')) {\n    // Hailuo/MiniMax - simpler, focused prompts\n    optimizedPrompt = `${scene.prompt}. ${scene.mood} mood. ${visualStyle} style.`;\n  } else {\n    // Default optimization\n    optimizedPrompt = `${scene.prompt}. ${scene.cameraMovement}. ${scene.mood} mood. ${visualStyle} style.`;\n  }\n  \n  return {\n    ...scene,\n    id: scene.id || index + 1,\n    prompt: optimizedPrompt,\n    originalPrompt: scene.prompt,\n    duration: scene.duration || 6\n  };\n});\n\nreturn {\n  overallTheme: $input.item.json.overallTheme,\n  colorPalette: $input.item.json.colorPalette,\n  characterConsistency: $input.item.json.characterConsistency,\n  scenes: optimizedScenes\n};"
      },
      "id": "39b9b3db-302b-4ebc-963b-9118f97d2475",
      "name": "Optimize Prompts for Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-output",
              "name": "output",
              "value": "={{ {projectId: $('Extract Parameters').item.json.projectId, scenes: $json.scenes, overallTheme: $json.overallTheme, colorPalette: $json.colorPalette, characterConsistency: $json.characterConsistency, totalScenes: $json.scenes.length, estimatedDuration: $json.scenes.reduce((sum, s) => sum + (s.duration || 6), 0)} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "15417f50-b31d-436d-8829-8677ab427808",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "id": "07aa8ea5-c26d-4058-998e-a797d4e19357",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2192,
        240
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T16:51:32.417Z",
      "createdAt": "2025-12-10T16:51:32.417Z",
      "role": "workflow:owner",
      "workflowId": "v6HR9z6v1OyLUBEh",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-10T14:57:55.317Z",
      "createdAt": "2025-12-10T14:57:55.317Z",
      "id": "HmSN4A1CMN0RXv4U",
      "name": "AI Music Video"
    },
    {
      "updatedAt": "2025-12-10T16:50:56.321Z",
      "createdAt": "2025-12-10T16:50:56.321Z",
      "id": "j8LnKYwf3sZpPSHY",
      "name": "Scene Generation"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-15T15:53:15.731Z",
  "versionId": "41a3b590-8d50-45b7-966a-23cebd62c0e5"
}