cyberomnes/n8nbkp/2025/12/VpLGDibJoT7KM573.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Has Lyrics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Lyrics?": {
      "main": [
        [
          {
            "node": "Analyze Lyrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error No Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe with Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe with Whisper": {
      "main": [
        [
          {
            "node": "Store Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Transcription": {
      "main": [
        [
          {
            "node": "Analyze Lyrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Lyrics": {
      "main": [
        [
          {
            "node": "Compile Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Analysis": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T16:43:00.109Z",
  "id": "VpLGDibJoT7KM573",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Music Video Generator - Song Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "song-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "406100d2-523e-4be5-bc85-68b9497d0c79",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        1376
      ],
      "webhookId": "song-analysis-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract and normalize all input parameters\nconst body = $input.item.json.body || $input.item.json;\n\nreturn {\n  projectId: body.projectId || 'unknown',\n  songUrl: body.songUrl || '',\n  lyrics: body.lyrics || '',\n  wordTimestamps: body.wordTimestamps || [],\n  duration: body.duration || 180,\n  visualStyle: body.visualStyle || 'Cinematic Realistic',\n  hasAudioFile: body.hasAudioFile || false\n};"
      },
      "id": "f3ebf866-f191-44b9-b1df-a1d0dfd5935e",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-lyrics",
              "leftValue": "={{ $json.lyrics }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33702cd9-0979-4eef-9278-d158fe01a520",
      "name": "Has Lyrics?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        1376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.songUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d02cecf-6cc0-40f3-9f90-6e875dba6121",
      "name": "Has URL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        1488
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.songUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "51800cd6-0876-4c82-a073-7dfe84cd5268",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        1424
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "timestamp_granularities[]",
              "value": "word"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "7f9fe57a-b9e1-4b56-93ea-a2f90153c9e6",
      "name": "Transcribe with Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        1424
      ],
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Store transcribed lyrics\nconst params = $('Extract Parameters').item.json;\nreturn {\n  projectId: params.projectId,\n  songUrl: params.songUrl,\n  lyrics: $input.item.json.text || '',\n  wordTimestamps: $input.item.json.words || [],\n  duration: $input.item.json.duration || 180,\n  visualStyle: params.visualStyle\n};"
      },
      "id": "d9107681-4a94-428e-8efe-7f7da8a87fbe",
      "name": "Store Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1424
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"No audio source\", \"message\": \"Please provide lyrics or a song URL\", \"status\": \"error\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "d26189e7-b98a-4e2f-964f-947f41ebbb21",
      "name": "Error No Source",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        608,
        1600
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert music analyst. Analyze the following song lyrics and provide a detailed breakdown.\n\nLyrics:\n{{ $json.lyrics }}\n\nVisual Style Preference: {{ $json.visualStyle }}\n\nProvide analysis in the following JSON format:\n{\n  \"title\": \"suggested title\",\n  \"genre\": \"detected genre\",\n  \"mood\": \"overall mood\",\n  \"themes\": [\"theme1\", \"theme2\"],\n  \"emotionalArc\": [\n    {\"section\": \"intro\", \"emotion\": \"anticipation\", \"intensity\": 3},\n    {\"section\": \"verse1\", \"emotion\": \"contemplative\", \"intensity\": 4},\n    {\"section\": \"chorus\", \"emotion\": \"powerful\", \"intensity\": 8}\n  ],\n  \"keyPhrases\": [\"line 1\", \"line 2\"],\n  \"colorPalette\": [\"#hex1\", \"#hex2\", \"#hex3\"],\n  \"visualThemes\": [\"visual 1\", \"visual 2\"],\n  \"storyNarrative\": \"narrative arc\",\n  \"segments\": [\n    {\n      \"id\": 1,\n      \"type\": \"intro\",\n      \"startTime\": 0,\n      \"endTime\": 15,\n      \"lyrics\": \"lyrics for segment\",\n      \"mood\": \"mood\",\n      \"suggestedVisual\": \"visual description\"\n    }\n  ]\n}\n\nMatch visuals to style: {{ $json.visualStyle }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "id": "6d524e1d-e4cf-4e07-8f88-e303b9f6cc75",
      "name": "Analyze Lyrics",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1280,
        1264
      ],
      "credentials": {
        "openAiApi": {
          "id": "hIbzO0TgpkKLndpi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the lyrics data from whichever path we came from\nconst params = $('Extract Parameters').item.json;\n\n// Check if we have transcribed data or original lyrics\nlet lyrics, duration, wordTimestamps;\n\ntry {\n  // Try to get from Store Transcription (URL path)\n  const transcribed = $('Store Transcription').item?.json;\n  if (transcribed && transcribed.lyrics) {\n    lyrics = transcribed.lyrics;\n    duration = transcribed.duration;\n    wordTimestamps = transcribed.wordTimestamps;\n  }\n} catch(e) {\n  // Ignore - we'll use original params\n}\n\n// Fall back to original params if no transcription\nif (!lyrics) {\n  lyrics = params.lyrics;\n  duration = params.duration;\n  wordTimestamps = params.wordTimestamps;\n}\n\nconst analysis = $input.item.json;\n\nreturn {\n  analysisData: {\n    projectId: params.projectId,\n    audioUrl: params.songUrl || 'uploaded-file',\n    lyrics: lyrics,\n    wordTimestamps: wordTimestamps || [],\n    duration: duration || 180,\n    lyricsAnalysis: analysis,\n    audioFeatures: {\n      estimatedBPM: 120,\n      estimatedDuration: duration || 180,\n      sections: [\n        {\"name\": \"intro\", \"start\": 0, \"end\": 15},\n        {\"name\": \"verse1\", \"start\": 15, \"end\": 45},\n        {\"name\": \"chorus1\", \"start\": 45, \"end\": 75},\n        {\"name\": \"verse2\", \"start\": 75, \"end\": 105},\n        {\"name\": \"chorus2\", \"start\": 105, \"end\": 135},\n        {\"name\": \"bridge\", \"start\": 135, \"end\": 155},\n        {\"name\": \"outro\", \"start\": 155, \"end\": duration || 180}\n      ]\n    },\n    visualStyle: params.visualStyle\n  }\n};"
      },
      "id": "33b25876-2b72-4fda-b0cf-04ab689cb4c5",
      "name": "Compile Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1264
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d6f7f19f-b956-4cff-8725-10d2615f5f03",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1728,
        1264
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T16:43:00.202Z",
      "createdAt": "2025-12-10T16:43:00.202Z",
      "role": "workflow:owner",
      "workflowId": "VpLGDibJoT7KM573",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-10T14:57:55.317Z",
      "createdAt": "2025-12-10T14:57:55.317Z",
      "id": "HmSN4A1CMN0RXv4U",
      "name": "AI Music Video"
    },
    {
      "updatedAt": "2025-12-10T16:41:29.414Z",
      "createdAt": "2025-12-10T16:41:29.414Z",
      "id": "bR8IhrktzQVZZihf",
      "name": "Song Analysis"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T17:48:34.000Z",
  "versionId": "6acde6dc-db87-4022-af65-1a23bd54e0db"
}