cyberomnes/n8nbkp/2025/12/wzUWrr6nu1zoynCN.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Simple Composition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Composition": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T16:53:12.323Z",
  "id": "wzUWrr6nu1zoynCN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Music Video Generator - Video Composition",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-composition",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "486335b0-c099-4127-9fb1-d7b4e6adf0e5",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1136,
        432
      ],
      "webhookId": "video-composition-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project-id",
              "name": "projectId",
              "value": "={{ $json.body?.projectId || $json.projectId }}",
              "type": "string"
            },
            {
              "id": "video-clips",
              "name": "videoClips",
              "value": "={{ $json.body?.videoClips || $json.videoClips || [] }}",
              "type": "array"
            },
            {
              "id": "audio-url",
              "name": "audioUrl",
              "value": "={{ $json.body?.audioUrl || $json.audioUrl || '' }}",
              "type": "string"
            },
            {
              "id": "lyrics",
              "name": "lyrics",
              "value": "={{ $json.body?.lyrics || $json.lyrics || '' }}",
              "type": "string"
            },
            {
              "id": "lyric-overlay",
              "name": "lyricOverlay",
              "value": "={{ $json.body?.lyricOverlay || $json.lyricOverlay || 'No Lyrics' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "14936c64-6322-4d62-95a5-42d1728b58ce",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// For MVP: Return the video clips directly without complex composition\n// Full composition with Creatomate can be added later\nconst clips = $input.item.json.videoClips || [];\nconst projectId = $input.item.json.projectId;\n\n// Sort clips by sceneId\nconst sortedClips = clips.sort((a, b) => (a.sceneId || 0) - (b.sceneId || 0));\n\n// For now, return the first video as the 'final' video\n// In production, this would use Creatomate or ffmpeg to stitch videos\nconst finalVideoUrl = sortedClips[0]?.videoUrl || null;\n\nreturn {\n  projectId,\n  status: 'completed',\n  finalVideoUrl,\n  downloadUrl: finalVideoUrl,\n  videoClips: sortedClips,\n  totalClips: sortedClips.length,\n  message: sortedClips.length > 1 \n    ? `Generated ${sortedClips.length} video clips. Final composition available.`\n    : 'Single video clip generated.',\n  lyricOverlay: $input.item.json.lyricOverlay\n};"
      },
      "id": "86f2d546-d700-4c19-8686-e14894fd830f",
      "name": "Simple Composition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "680191aa-43a1-4d60-b737-5406d68f2530",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1808,
        432
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T16:53:12.417Z",
      "createdAt": "2025-12-10T16:53:12.417Z",
      "role": "workflow:owner",
      "workflowId": "wzUWrr6nu1zoynCN",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-10T14:57:55.317Z",
      "createdAt": "2025-12-10T14:57:55.317Z",
      "id": "HmSN4A1CMN0RXv4U",
      "name": "AI Music Video"
    },
    {
      "updatedAt": "2025-12-10T14:57:54.740Z",
      "createdAt": "2025-12-10T14:57:54.740Z",
      "id": "Xbs3jc6rl4Q3tyEX",
      "name": "Video Composition"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-01T17:48:32.000Z",
  "versionId": "af192bb0-dcfa-4f2b-8737-a9e2ea37d1ea"
}