cyberomnes/n8nbkp/2025/12/wzUWrr6nu1zoynCN.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-10T16:53:12.503Z",
    "createdAt": "2025-12-10T16:53:12.503Z",
    "versionId": "33c52d3e-3dac-423a-b9e9-a4a2b4351b40",
    "workflowId": "wzUWrr6nu1zoynCN",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "video-composition",
          "options": {}
        },
        "id": "97b95498-b796-4bcd-98de-3af76cf0e256",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -880,
          112
        ],
        "webhookId": "video-composition-webhook"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "project-id",
                "name": "projectId",
                "value": "={{ $json.body.projectId }}",
                "type": "string"
              },
              {
                "id": "video-clips",
                "name": "videoClips",
                "value": "={{ $json.body.videoClips }}",
                "type": "array"
              },
              {
                "id": "audio-url",
                "name": "audioUrl",
                "value": "={{ $json.body.audioUrl }}",
                "type": "string"
              },
              {
                "id": "lyrics",
                "name": "lyrics",
                "value": "={{ $json.body.lyrics || '' }}",
                "type": "string"
              },
              {
                "id": "lyric-overlay",
                "name": "lyricOverlay",
                "value": "={{ $json.body.lyricOverlay || 'No Lyrics' }}",
                "type": "string"
              },
              {
                "id": "analysis-data",
                "name": "analysisData",
                "value": "={{ $json.body.analysisData }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "81184bcf-9975-4d71-81a2-9de55af0b62d",
        "name": "Extract Parameters",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -656,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// Sort video clips by scene ID and prepare for composition\nconst clips = $input.item.json.videoClips || [];\nconst analysisData = $input.item.json.analysisData;\n\n// Sort clips by sceneId\nconst sortedClips = clips.sort((a, b) => a.sceneId - b.sceneId);\n\n// Create timeline with transitions\nlet currentTime = 0;\nconst timeline = sortedClips.map((clip, index) => {\n  const entry = {\n    sceneId: clip.sceneId,\n    videoUrl: clip.videoUrl,\n    startTime: currentTime,\n    duration: clip.duration || 8,\n    transition: index < sortedClips.length - 1 ? 'crossfade' : 'none',\n    transitionDuration: 0.5\n  };\n  currentTime += entry.duration - entry.transitionDuration;\n  return entry;\n});\n\nreturn {\n  timeline,\n  totalDuration: currentTime + 0.5,\n  clipCount: sortedClips.length,\n  projectId: $input.item.json.projectId,\n  audioUrl: $input.item.json.audioUrl,\n  lyrics: $input.item.json.lyrics,\n  lyricOverlay: $input.item.json.lyricOverlay,\n  wordTimestamps: analysisData?.wordTimestamps || []\n};"
        },
        "id": "1c1d528d-427e-463d-82a5-2d87b9985b37",
        "name": "Prepare Video Timeline",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "lyrics-enabled",
                "leftValue": "={{ $json.lyricOverlay }}",
                "rightValue": "No Lyrics",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "b097d80c-4cc9-4ac6-93f9-a2d97bfd8b25",
        "name": "Add Lyrics Overlay?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -224,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// Prepare lyrics for overlay based on style\nconst lyrics = $input.item.json.lyrics;\nconst lyricOverlay = $input.item.json.lyricOverlay;\nconst wordTimestamps = $input.item.json.wordTimestamps || [];\nconst totalDuration = $input.item.json.totalDuration;\n\nlet lyricElements = [];\n\nif (lyricOverlay === 'Karaoke Style') {\n  // Word-by-word karaoke with timestamps\n  if (wordTimestamps.length > 0) {\n    lyricElements = wordTimestamps.map(word => ({\n      text: word.word,\n      startTime: word.start,\n      endTime: word.end,\n      style: 'karaoke',\n      highlight: true\n    }));\n  } else {\n    // Fallback: distribute words evenly\n    const words = lyrics.split(/\\s+/);\n    const timePerWord = totalDuration / words.length;\n    lyricElements = words.map((word, i) => ({\n      text: word,\n      startTime: i * timePerWord,\n      endTime: (i + 1) * timePerWord,\n      style: 'karaoke',\n      highlight: true\n    }));\n  }\n} else if (lyricOverlay === 'Subtitles (Bottom)') {\n  // Line-by-line subtitles\n  const lines = lyrics.split('\\n').filter(l => l.trim());\n  const timePerLine = totalDuration / lines.length;\n  lyricElements = lines.map((line, i) => ({\n    text: line,\n    startTime: i * timePerLine,\n    endTime: (i + 1) * timePerLine,\n    style: 'subtitle',\n    position: 'bottom'\n  }));\n} else if (lyricOverlay === 'Artistic Typography') {\n  // Artistic style with key phrases\n  const lines = lyrics.split('\\n').filter(l => l.trim());\n  const timePerLine = totalDuration / lines.length;\n  lyricElements = lines.map((line, i) => ({\n    text: line,\n    startTime: i * timePerLine,\n    endTime: (i + 1) * timePerLine,\n    style: 'artistic',\n    animation: ['fadeIn', 'scaleUp', 'slideLeft'][i % 3],\n    position: ['center', 'top', 'bottom'][i % 3]\n  }));\n}\n\nreturn {\n  ...($input.item.json),\n  lyricElements,\n  lyricStyle: lyricOverlay\n};"
        },
        "id": "74c50385-4c1c-4948-b803-d8f6ae165f91",
        "name": "Prepare Lyrics for Overlay",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "no-lyrics",
                "name": "lyricElements",
                "value": "=[]",
                "type": "array"
              },
              {
                "id": "lyric-style",
                "name": "lyricStyle",
                "value": "none",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "7ab69a70-8c19-4a60-a2ef-f657e54791cc",
        "name": "No Lyrics",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          208
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "id": "bacab407-6c4a-4df1-9cdf-3bbd9e6f90e2",
        "name": "Merge Lyrics Config",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          224,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.creatomate.com/v1/renders",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.CREATOMATE_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({template_id: $env.CREATOMATE_TEMPLATE_ID, modifications: {timeline: $json.timeline.map((clip, i) => ({'Video-' + (i+1)}: clip.videoUrl})), 'Audio-1': $json.audioUrl, lyrics: $json.lyricElements}, output_format: 'mp4', width: 1920, height: 1080}) }}",
          "options": {
            "timeout": 600000
          }
        },
        "id": "616bd774-4e17-4073-b1fe-69a18125a0bf",
        "name": "Compose with Creatomate",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          112
        ]
      },
      {
        "parameters": {
          "amount": 30
        },
        "id": "9f45edb2-c1e7-4c94-a6db-1c9d7a349c1e",
        "name": "Wait for Render",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          672,
          112
        ],
        "webhookId": "27eb021a-7768-495a-b844-5bacb41d7e97"
      },
      {
        "parameters": {
          "url": "={{ 'https://api.creatomate.com/v1/renders/' + $('Compose with Creatomate').item.json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $env.CREATOMATE_API_KEY }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ab083ce0-da0d-4466-9d74-ce4f514882ab",
        "name": "Poll Render Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "render-complete",
                "leftValue": "={{ $json.status }}",
                "rightValue": "succeeded",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7b11439d-d7d4-434d-a65d-3126da1ab5af",
        "name": "Render Complete?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1104,
          112
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "id": "f0ea4ab3-b080-47c8-8878-534fa3fe0ccb",
        "name": "Download Final Video",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          0
        ]
      },
      {
        "parameters": {
          "name": "MusicVideos uploads",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $env.GOOGLE_DRIVE_OUTPUT_FOLDER_ID }}",
            "mode": "id"
          },
          "options": {}
        },
        "id": "465a8c99-837f-49e2-9413-e5da36303be3",
        "name": "Upload to Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1552,
          0
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "keTLaYS3Tdb2VXAF",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "final-output",
                "name": "output",
                "value": "={{ {projectId: $('Extract Parameters').item.json.projectId, finalVideoUrl: $json.webViewLink, downloadUrl: $json.webContentLink, duration: $('Prepare Video Timeline').item.json.totalDuration, clipCount: $('Prepare Video Timeline').item.json.clipCount, lyricStyle: $('Merge Lyrics Config').item.json.lyricStyle} }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "a3e273c0-0ea5-49a9-8cc1-6216e754ded7",
        "name": "Prepare Output",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1760,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json.output) }}",
          "options": {}
        },
        "id": "8d6fb785-2ef9-4c3e-93a1-443578c99ff1",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1984,
          0
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Extract Parameters",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Parameters": {
        "main": [
          [
            {
              "node": "Prepare Video Timeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Video Timeline": {
        "main": [
          [
            {
              "node": "Add Lyrics Overlay?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Lyrics Overlay?": {
        "main": [
          [
            {
              "node": "Prepare Lyrics for Overlay",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Lyrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Lyrics for Overlay": {
        "main": [
          [
            {
              "node": "Merge Lyrics Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Lyrics": {
        "main": [
          [
            {
              "node": "Merge Lyrics Config",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge Lyrics Config": {
        "main": [
          [
            {
              "node": "Compose with Creatomate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose with Creatomate": {
        "main": [
          [
            {
              "node": "Wait for Render",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Render": {
        "main": [
          [
            {
              "node": "Poll Render Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Render Status": {
        "main": [
          [
            {
              "node": "Render Complete?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Complete?": {
        "main": [
          [
            {
              "node": "Download Final Video",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait for Render",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Final Video": {
        "main": [
          [
            {
              "node": "Upload to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Google Drive": {
        "main": [
          [
            {
              "node": "Prepare Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Output": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Cyber Omnes",
    "name": null,
    "description": null
  },
  "activeVersionId": "33c52d3e-3dac-423a-b9e9-a4a2b4351b40",
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Prepare Video Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Timeline": {
      "main": [
        [
          {
            "node": "Add Lyrics Overlay?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Lyrics Overlay?": {
      "main": [
        [
          {
            "node": "Prepare Lyrics for Overlay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Lyrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lyrics for Overlay": {
      "main": [
        [
          {
            "node": "Merge Lyrics Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Lyrics": {
      "main": [
        [
          {
            "node": "Merge Lyrics Config",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Lyrics Config": {
      "main": [
        [
          {
            "node": "Compose with Creatomate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose with Creatomate": {
      "main": [
        [
          {
            "node": "Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Render": {
      "main": [
        [
          {
            "node": "Poll Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Render Status": {
      "main": [
        [
          {
            "node": "Render Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Complete?": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Prepare Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-10T16:53:12.323Z",
  "id": "wzUWrr6nu1zoynCN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Music Video Generator - Video Composition",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-composition",
        "options": {}
      },
      "id": "97b95498-b796-4bcd-98de-3af76cf0e256",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        112
      ],
      "webhookId": "video-composition-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project-id",
              "name": "projectId",
              "value": "={{ $json.body.projectId }}",
              "type": "string"
            },
            {
              "id": "video-clips",
              "name": "videoClips",
              "value": "={{ $json.body.videoClips }}",
              "type": "array"
            },
            {
              "id": "audio-url",
              "name": "audioUrl",
              "value": "={{ $json.body.audioUrl }}",
              "type": "string"
            },
            {
              "id": "lyrics",
              "name": "lyrics",
              "value": "={{ $json.body.lyrics || '' }}",
              "type": "string"
            },
            {
              "id": "lyric-overlay",
              "name": "lyricOverlay",
              "value": "={{ $json.body.lyricOverlay || 'No Lyrics' }}",
              "type": "string"
            },
            {
              "id": "analysis-data",
              "name": "analysisData",
              "value": "={{ $json.body.analysisData }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "81184bcf-9975-4d71-81a2-9de55af0b62d",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sort video clips by scene ID and prepare for composition\nconst clips = $input.item.json.videoClips || [];\nconst analysisData = $input.item.json.analysisData;\n\n// Sort clips by sceneId\nconst sortedClips = clips.sort((a, b) => a.sceneId - b.sceneId);\n\n// Create timeline with transitions\nlet currentTime = 0;\nconst timeline = sortedClips.map((clip, index) => {\n  const entry = {\n    sceneId: clip.sceneId,\n    videoUrl: clip.videoUrl,\n    startTime: currentTime,\n    duration: clip.duration || 8,\n    transition: index < sortedClips.length - 1 ? 'crossfade' : 'none',\n    transitionDuration: 0.5\n  };\n  currentTime += entry.duration - entry.transitionDuration;\n  return entry;\n});\n\nreturn {\n  timeline,\n  totalDuration: currentTime + 0.5,\n  clipCount: sortedClips.length,\n  projectId: $input.item.json.projectId,\n  audioUrl: $input.item.json.audioUrl,\n  lyrics: $input.item.json.lyrics,\n  lyricOverlay: $input.item.json.lyricOverlay,\n  wordTimestamps: analysisData?.wordTimestamps || []\n};"
      },
      "id": "1c1d528d-427e-463d-82a5-2d87b9985b37",
      "name": "Prepare Video Timeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lyrics-enabled",
              "leftValue": "={{ $json.lyricOverlay }}",
              "rightValue": "No Lyrics",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b097d80c-4cc9-4ac6-93f9-a2d97bfd8b25",
      "name": "Add Lyrics Overlay?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare lyrics for overlay based on style\nconst lyrics = $input.item.json.lyrics;\nconst lyricOverlay = $input.item.json.lyricOverlay;\nconst wordTimestamps = $input.item.json.wordTimestamps || [];\nconst totalDuration = $input.item.json.totalDuration;\n\nlet lyricElements = [];\n\nif (lyricOverlay === 'Karaoke Style') {\n  // Word-by-word karaoke with timestamps\n  if (wordTimestamps.length > 0) {\n    lyricElements = wordTimestamps.map(word => ({\n      text: word.word,\n      startTime: word.start,\n      endTime: word.end,\n      style: 'karaoke',\n      highlight: true\n    }));\n  } else {\n    // Fallback: distribute words evenly\n    const words = lyrics.split(/\\s+/);\n    const timePerWord = totalDuration / words.length;\n    lyricElements = words.map((word, i) => ({\n      text: word,\n      startTime: i * timePerWord,\n      endTime: (i + 1) * timePerWord,\n      style: 'karaoke',\n      highlight: true\n    }));\n  }\n} else if (lyricOverlay === 'Subtitles (Bottom)') {\n  // Line-by-line subtitles\n  const lines = lyrics.split('\\n').filter(l => l.trim());\n  const timePerLine = totalDuration / lines.length;\n  lyricElements = lines.map((line, i) => ({\n    text: line,\n    startTime: i * timePerLine,\n    endTime: (i + 1) * timePerLine,\n    style: 'subtitle',\n    position: 'bottom'\n  }));\n} else if (lyricOverlay === 'Artistic Typography') {\n  // Artistic style with key phrases\n  const lines = lyrics.split('\\n').filter(l => l.trim());\n  const timePerLine = totalDuration / lines.length;\n  lyricElements = lines.map((line, i) => ({\n    text: line,\n    startTime: i * timePerLine,\n    endTime: (i + 1) * timePerLine,\n    style: 'artistic',\n    animation: ['fadeIn', 'scaleUp', 'slideLeft'][i % 3],\n    position: ['center', 'top', 'bottom'][i % 3]\n  }));\n}\n\nreturn {\n  ...($input.item.json),\n  lyricElements,\n  lyricStyle: lyricOverlay\n};"
      },
      "id": "74c50385-4c1c-4948-b803-d8f6ae165f91",
      "name": "Prepare Lyrics for Overlay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-lyrics",
              "name": "lyricElements",
              "value": "=[]",
              "type": "array"
            },
            {
              "id": "lyric-style",
              "name": "lyricStyle",
              "value": "none",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7ab69a70-8c19-4a60-a2ef-f657e54791cc",
      "name": "No Lyrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "bacab407-6c4a-4df1-9cdf-3bbd9e6f90e2",
      "name": "Merge Lyrics Config",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        224,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.CREATOMATE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({template_id: $env.CREATOMATE_TEMPLATE_ID, modifications: {timeline: $json.timeline.map((clip, i) => ({'Video-' + (i+1)}: clip.videoUrl})), 'Audio-1': $json.audioUrl, lyrics: $json.lyricElements}, output_format: 'mp4', width: 1920, height: 1080}) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "616bd774-4e17-4073-b1fe-69a18125a0bf",
      "name": "Compose with Creatomate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        112
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "9f45edb2-c1e7-4c94-a6db-1c9d7a349c1e",
      "name": "Wait for Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        112
      ],
      "webhookId": "27eb021a-7768-495a-b844-5bacb41d7e97"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.creatomate.com/v1/renders/' + $('Compose with Creatomate').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.CREATOMATE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ab083ce0-da0d-4466-9d74-ce4f514882ab",
      "name": "Poll Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "render-complete",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b11439d-d7d4-434d-a65d-3126da1ab5af",
      "name": "Render Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "f0ea4ab3-b080-47c8-8878-534fa3fe0ccb",
      "name": "Download Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        0
      ]
    },
    {
      "parameters": {
        "name": "MusicVideos uploads",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_OUTPUT_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "465a8c99-837f-49e2-9413-e5da36303be3",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1552,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "keTLaYS3Tdb2VXAF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-output",
              "name": "output",
              "value": "={{ {projectId: $('Extract Parameters').item.json.projectId, finalVideoUrl: $json.webViewLink, downloadUrl: $json.webContentLink, duration: $('Prepare Video Timeline').item.json.totalDuration, clipCount: $('Prepare Video Timeline').item.json.clipCount, lyricStyle: $('Merge Lyrics Config').item.json.lyricStyle} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "a3e273c0-0ea5-49a9-8cc1-6216e754ded7",
      "name": "Prepare Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "id": "8d6fb785-2ef9-4c3e-93a1-443578c99ff1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1984,
        0
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8nbkp",
  "repo_owner": "cyberomnes",
  "repo_path": "cyberomnes/n8nbkp/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-10T16:53:12.417Z",
      "createdAt": "2025-12-10T16:53:12.417Z",
      "role": "workflow:owner",
      "workflowId": "wzUWrr6nu1zoynCN",
      "projectId": "0wopg4LuKwAYZbx5"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-10T14:57:55.317Z",
      "createdAt": "2025-12-10T14:57:55.317Z",
      "id": "HmSN4A1CMN0RXv4U",
      "name": "AI Music Video"
    },
    {
      "updatedAt": "2025-12-10T14:57:54.740Z",
      "createdAt": "2025-12-10T14:57:54.740Z",
      "id": "Xbs3jc6rl4Q3tyEX",
      "name": "Video Composition"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-10T16:53:13.806Z",
  "versionId": "33c52d3e-3dac-423a-b9e9-a4a2b4351b40"
}